@model DeclareReview
@{
	var pageTitle = "提交申报申请";
	var company = CompanyHelper.GetCompanySelectList().First(x => x.Value == Model.CompanyId.ToString());
	var isInReview = Request["isReview"];
	var isSchoolAdmin = Html.GetUserProfile().IsSchoolAdmin;
	var isSystemAdmin = Html.GetUserProfile().IsSystemAdmin;
}
<div class="modal-dialog modal-lg">
	<!-- widget -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-edit"></i> @pageTitle </h3>
			<div class="btn-group widget-header-toolbar">
				<a href="#" title="关闭" class="btn-borderless" data-dismiss="modal"><i class="fa fa-close"></i></a>
			</div>
		</div>
		<div class="widget-content">
			@using (Html.BeginForm("Edit", "DeclareReview", Model.DeclareReviewId == 0 ? null : new { id = Model.DeclareReviewId }, FormMethod.Post, new { @class = "form-horizontal", data_after_success = "afterDialogSuccess()" }))
			{
				@Html.HiddenFor(x => x.DeclareReviewId)
				@Html.HiddenFor(x => x.TeacherId)
				@Html.HiddenFor(x => x.ReviewerId)
				@Html.HiddenFor(x => x.PeriodId)
				@Html.HiddenFor(x => x.StatusKey)
				@Html.HiddenFor(x => x.CompanyId)
				@Html.HiddenFor(x => x.DeclareSubjectPKID)
				<div class="row">
					<fieldset class="col-md-12">
						<div class="form-group">
							@Html.LabelFor(m => m.TeacherName, new { @class = "col-md-3 control-label" })
							<div class="col-md-9">
								@Html.Label("TeacherName", Model.TeacherName, new { @class = "form-control" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.CompanyId, new { @class = "col-md-3 control-label" })
							<div class="col-md-9">
								@Html.Label("Company", company.Text, new { @class = "form-control" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.DeclareTargetPKID, new { @class = "col-md-3 control-label" })
							<div class="col-md-9">
								@Html.Label("Target", DeclareBaseHelper.DeclareTarget.GetName(Model.DeclareTargetPKID), new { @class = "form-control" })
							</div>
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.Reason, new { @class = "col-md-3 control-label" })
							<div class="col-md-9">
								@Html.TextArea("Reasons", Model.Reason,10,5,new { @class = "form-control",@readonly="readonly"})
							</div>
						</div>


						@if (isSchoolAdmin)
						{
							<div class="form-group">
								@Html.LabelFor(m => m.ReviewComment, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.TextAreaFor(m => m.ReviewComment, 5, 5, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.ReviewComment)
								</div>
							</div>
						}
						else if (Html.GetUserProfile().IsDeclare && Model.StatusKey == DeclareKeys.ReviewFailure)
						{
							<div class="form-group">
								@Html.LabelFor(m => m.ReviewComment, new { @class = "control-label col-md-3" })
								<div class="col-md-9">
									@Html.TextAreaFor(m => m.ReviewComment, 5, 5, new { @class = "form-control", @readonly = "readonly" })
									@Html.ValidationMessageFor(m => m.ReviewComment)
								</div>
							</div>
						}
						<div class="form-group">
							<div class="col-sm-9 col-lg-offset-3">
								@if (isSchoolAdmin)
								{
									if (Model.IsSubmit)
									{
									<button type="submit" class="btn btn-success btn-block-half" id="ReviewSuccess"><i class="fa fa-check-circle"></i> 通过</button>
									<button type="submit" class="btn btn-danger btn-block-half" id="ReviewFailure">不通过</button>
									}
									else
									{
										<button class="btn btn-warning btn-block-half disabled" id="ReviewBack">已退回</button>
									}
								}
								else if (isSystemAdmin)
								{
									<button type="submit" class="btn btn-success btn-block-half" id="ReviewSuccess"><i class="fa fa-check-circle"></i> 通过</button>
									<button type="submit" class="btn btn-danger btn-block-half" id="ReviewFailure">不通过</button>
									<button type="submit" class="btn btn-warning btn-block-half" id="ReviewBack">退回修改</button>
								}

							</div>
						</div>
					</fieldset>
				</div>
			}
		</div>
	</div>
	<!-- end widget -->
</div>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden"></form>
<script>

	$(function () {

		ajaxSubmitForm($('.modal-dialog form'));
		ajaxBindFileUpload();


		$('#ReviewSuccess').on('click', function () {
			$('#StatusKey').val('@DeclareKeys.ReviewSuccess');
		});

		$('#ReviewFailure').on('click', function () {
			$('#StatusKey').val('@DeclareKeys.ReviewFailure');
		});

		$('#ReviewBack').on('click', function () {
			$('#StatusKey').val('@DeclareKeys.ReviewBack');
		});

	})

	function afterDialogSuccess() {
		$('#firstModal').modal('hide');
		history.go(0);
	}

</script>