@model List<TeamSpecialCourseItem>
@{
	var pageTitle = ViewBag.Title = TeamKeys.KecShis_Anp;
	var courseId = Request["courseId"];
	var flag = Request["visiter"] == "master" ? true : false;
}
<!-- WIDGET TABBED CONTENT -->
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
		<div class="btn-group widget-header-toolbar pull-right">
			@if (flag)
			{
				<button class="btn btn-sm btn-custom-primary" data-toggle="ajax-modal" data-url="@Url.Action("KecShis_Anp", "TeamPop", new { courseId = courseId })" data-target="#firstModal"><i class="fa fa-plus-square"></i> 添加新安排</button>
			}
			<a href="javascript:loadFrag()" class="btn btn-sm btn-info">返回</a>
		</div>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">

		@foreach (var item in Model)
		{
			<div class="media media-whosay  pl-20">
				<div class="media-body">
					<h4 class="media-heading">@item.Title</h4>

					<table>
						<tr>
							<th>时 间：</th>
							<td>@item.ItemDate.ToString("yyyy-MM-dd")</td>
						</tr>
						<tr>
							<th>地  点：</th>
							<td>@item.Location</td>
						</tr>
						<tr>
							<th>活动形式：</th>
							<td>@item.ActivityType</td>
						</tr>
						<tr>
							<th>主 讲 人：</th>
							<td>@item.Speaker</td>
						</tr>
						<tr>
							<th>备 注：</th>
							<td>@item.Remark</td>
						</tr>
					</table>
					<p>
						@Html.Raw(item.Content)
					</p>
				</div>
				@if (flag)
				{
					<div class="media-right">
						<button class="btn btn-success btn_edit btn-sm" data-toggle="ajax-modal" data-url="@Url.Action("KecShis_Anp", "TeamPop", new { itemId = item.ItemId })" data-target="#firstModal" title="编辑">编辑</button>
						<button class="btn btn-warning btn-remove btn-sm" data-url="@Url.Action("RemoveKecShis_Anp", "Team", new { id = item.ItemId })" title="删除">删除</button>
					</div>
				}
			</div>
		}

	</div>
</div>
<!-- END WIDGET TABBED CONTENT -->
@Html.Partial("../Utilities/_partialJS")
