@model List<TeamSpecialCourseViewModel>
@{
	var pageTitle = ViewBag.Title = TeamKeys.KecShis;
}
<!-- WIDGET TABBED CONTENT -->
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">

		<div class="table-responsive">
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>时间段</th>
						<th>课程主题</th>
						<th>安排数量</th>
						<th class="width320">操作</th>
					</tr>
				</thead>
				<tbody>					
					@foreach (var item in Model)
					{
						<tr>
							<td>@item.StartDate.ToString("yyyy-MM-dd") 至 @item.EndDate.ToString("yyyy-MM-dd")</td>
							<td>@item.Title</td>
							<td>@item.ItemCount</td>
							<td class="width320">
								<div class="btn-group btn-group-xs pull-right">
									@if (item.IsDeclare)
									{
										<button class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareTeamSpecialCourse", "DeclareMaterial", new { id = item.CourseId, isDeclare = false })">取消申报</button>
									}
									else
									{
										<button class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareTeamSpecialCourse", "DeclareMaterial", new { id = item.CourseId, isDeclare = true })">申报</button>
									}
									<button class="btn btn-success btn-edit" data-row-id="@item.CourseId" title="编辑">编辑</button>
									<button class="btn btn-warning btn-remove" data-url="@Url.Action("RemoveKecShis", "Team", new { id = item.CourseId })" title="删除">删除</button>
									<a class="btn btn-info" href="javascript:loadFrag({key: '@TeamKeys.KecShis_Anp', courseId:@item.CourseId})" title="课程安排">安排</a> 
								</div>
							</td>
						</tr>
					}
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"></td>
						<td>
							<div class="btn-group btn-group-xs pull-right">
								<button class="btn btn-custom-primary btn-add"><i class="fa fa-plus-square"></i> <span>添加</span></button>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>

	</div>
</div>
<!-- END WIDGET TABBED CONTENT -->
@Html.Partial("../Utilities/_partialJS")

<script>

	$(function (){

		$('.widget-content .btn-add').click(function () {
			loadFrag({ key: "定向性课程实施.编辑" })
		})
		
		$('.widget-content .btn-edit').click(function () {
			var $this = $(this);
			var courseId = $this.data("rowId");
			
			loadFrag({ key: "定向性课程实施.编辑", courseId: courseId })
		})
		

	})

</script>