@model ZhidJiansViewModel
@{
	var pageTitle = ViewBag.Title = TeamKeys.TuanDZhidJians;
}

<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-paperclip"></i>@pageTitle</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">

		@using (Html.BeginForm("TuanDZhidJians", "Team", FormMethod.Post, new { @class = "form-horizontal", data_after_success = "afterDialogSuccess()" }))
		{
			<div class="row">
				<div class="red">&nbsp;&nbsp;&nbsp;*文件类型支持文本类型，图片和压缩包，文件不大于50M</div>
				<fieldset class="col-md-9">

					<div class="form-group">
						@Html.LabelFor(m => m.AttachmentName1, new { @class = "control-label col-md-12" })
						<div class="col-md-9">
							@Html.HiddenFor(m => m.AttachmentUrl1)
							@Html.TextBoxFor(m => m.AttachmentName1, new { @style = "visibility:hidden;" })
							<div class="input-group">
								<div id="simpleUploadName1" class="form-control">
									@Html.Label("", Model.AttachmentName1)
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-upload" type="button" id="btn-upload1">文件上传</button>
								</span>
							</div>
							@Html.ValidationMessageFor(m => m.AttachmentName1)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(m => m.AttachmentName2, new { @class = "control-label col-md-12" })
						<div class="col-md-9">
							@Html.HiddenFor(m => m.AttachmentUrl2)
							@Html.TextBoxFor(m => m.AttachmentName2, new { @style = "visibility:hidden;" })
							<div class="input-group">
								<div id="simpleUploadName2" class="form-control">
									@Html.Label("", Model.AttachmentName2)
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-upload" type="button" id="btn-upload2">文件上传</button>
								</span>
							</div>

							@Html.ValidationMessageFor(m => m.AttachmentName2)
						</div>
					</div>

				</fieldset>
				<fieldset class="col-md-6">

					<div class="form-group">
						@Html.LabelFor(m => m.SemesterAttachmentName1, new { @class = "control-label col-md-12" })
						<div class="col-md-9">
							@Html.HiddenFor(m => m.SemesterAttachmentUrl1)
							@Html.TextBoxFor(m => m.SemesterAttachmentName1, new { @style = "visibility:hidden;" })
							<div class="input-group">
								<div id="simpleUploadName3" class="form-control">
									@Html.Label("", Model.SemesterAttachmentName1)
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-upload" type="button" id="btn-upload3">文件上传</button>
								</span>
							</div>

							@Html.ValidationMessageFor(m => m.SemesterAttachmentName1)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(m => m.SemesterAttachmentName3, new { @class = "control-label col-md-12" })
						<div class="col-md-9">
							@Html.HiddenFor(m => m.SemesterAttachmentUrl3)
							@Html.TextBoxFor(m => m.SemesterAttachmentName3, new { @style = "visibility:hidden;" })
							<div class="input-group">
								<div id="simpleUploadName5" class="form-control">
									@Html.Label("", Model.SemesterAttachmentName3)
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-upload" type="button" id="btn-upload5">文件上传</button>
								</span>
							</div>

							@Html.ValidationMessageFor(m => m.SemesterAttachmentName3)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(m => m.SemesterAttachmentName5, new { @class = "control-label col-md-12" })
						<div class="col-md-9">
							@Html.HiddenFor(m => m.SemesterAttachmentUrl5)
							@Html.TextBoxFor(m => m.SemesterAttachmentName5, new { @style = "visibility:hidden;" })
							<div class="input-group">
								<div id="simpleUploadName7" class="form-control">
									@Html.Label("", Model.SemesterAttachmentName5)
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-upload" type="button" id="btn-upload7">文件上传</button>
								</span>
							</div>

							@Html.ValidationMessageFor(m => m.SemesterAttachmentName5)
						</div>
					</div>

				</fieldset>

				<fieldset class="col-md-6">

					<div class="form-group">
						@Html.LabelFor(m => m.SemesterAttachmentName2, new { @class = "control-label col-md-12" })
						<div class="col-md-9">
							@Html.HiddenFor(m => m.SemesterAttachmentUrl2)
							@Html.TextBoxFor(m => m.SemesterAttachmentName2, new { @style = "visibility:hidden;" })
							<div class="input-group">
								<div id="simpleUploadName4" class="form-control">
									@Html.Label("", Model.SemesterAttachmentName2)
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-upload" type="button" id="btn-upload4">文件上传</button>
								</span>
							</div>

							@Html.ValidationMessageFor(m => m.SemesterAttachmentName2)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(m => m.SemesterAttachmentName4, new { @class = "control-label col-md-12" })
						<div class="col-md-9">
							@Html.HiddenFor(m => m.SemesterAttachmentUrl4)
							@Html.TextBoxFor(m => m.SemesterAttachmentName4, new { @style = "visibility:hidden;" })
							<div class="input-group">
								<div id="simpleUploadName6" class="form-control">
									@Html.Label("", Model.SemesterAttachmentName4)
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-upload" type="button" id="btn-upload6">文件上传</button>
								</span>
							</div>

							@Html.ValidationMessageFor(m => m.SemesterAttachmentName4)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(m => m.SemesterAttachmentName6, new { @class = "control-label col-md-12" })
						<div class="col-md-9">
							@Html.HiddenFor(m => m.SemesterAttachmentUrl6)
							@Html.TextBoxFor(m => m.SemesterAttachmentName6, new { @style = "visibility:hidden;" })
							<div class="input-group">
								<div id="simpleUploadName8" class="form-control">
									@Html.Label("", Model.SemesterAttachmentName6)
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-upload" type="button" id="btn-upload8">文件上传</button>
								</span>
							</div>

							@Html.ValidationMessageFor(m => m.SemesterAttachmentName6)
						</div>
					</div>

				</fieldset>

				<div class="form-group">
					<div class="col-sm-9 col-lg-offset-3">
						<button type="submit" class="btn btn-primary btn-block-half"><i class="fa fa-check-circle"></i> 保存</button>
					</div>
				</div>
			</div>
		}

	</div>
</div>

<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden" id="dropzone1"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden" id="dropzone2"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden" id="dropzone3"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden" id="dropzone4"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden" id="dropzone5"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden" id="dropzone6"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden" id="dropzone7"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone hidden" id="dropzone8"></form>
<script>
	$(function () {

		for (var i = 1; i < 9; i++) {
			(function (j) {
				var attachmentUrl = j > 2 ? 'SemesterAttachmentUrl' + (j - 2) : 'AttachmentUrl' + j;
				var attachmentName = j > 2 ? 'SemesterAttachmentName' + (j - 2) : 'AttachmentName' + j;
				var sigleUploadName = 'simpleUploadName' + j;
				ajaxSimpleFileUpload('dropzone' + j, 'btn-upload' + j, function (file, data) {
					$('#' + attachmentUrl).val(data.url);
					$('#' + attachmentName).val(data.filename);
					$('#' + sigleUploadName).html(data.filename);
				},
				 function (file, message) {
				 	popupMessage({ result: 'error', msg: message });
				 });
			})(i);
		}

		ajaxSubmitForm($('form'));
	});
</script>
