@model TuandXiangmViewModel
@{
	var pageTitle = ViewBag.Title = TeamKeys.TuanDXiangm;
}
<!-- WIDGET TABBED CONTENT -->
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">

		@Html.BeginForm("TuanDXinagm", "Team", Model.TeamId == 0 ? null : new { id = Model.TeamId }, FormMethod.Post, new { @class = "form-horizontal", data_after_success = "afterDialogSuccess()" })
		{
		<div class="form-horizontal form-group-sm">
			<div class="row">
				<fieldset class="col-md-6">
					<div class="form-group">
						@Html.LabelFor(m => m.Name, new { @class = "col-md-3 control-label" })
						<div class="col-md-9">
							<span class="form-control details-text">@Model.Name</span>
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.UserName, new { @class = "col-md-12 control-label" })
						<div class="col-md-12">
							@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.UserName)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Company, new { @class = "col-md-12 control-label" })
						<div class="col-md-12">
							@Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Company)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Date, new { @class = "control-label col-md-12" })
						<div class="col-md-12">
							<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
								@Html.TextBoxFor(m => m.Date, "{0:yyyy-MM-dd}", new { @class = "form-control" })
								<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
							</div>
							@Html.ValidationMessageFor(m => m.Date)
						</div>
					</div>
				</fieldset>
				<fieldset class="col-md-6">

					<div class="form-group">
						@Html.LabelFor(m => m.AttachmentName1, new { @class = "control-label col-md-3" })
						<div class="col-md-9 uploadArea" id="uploadArea1">
							@Html.HiddenFor(m => m.AttachmentUrl1, new { @class = "AttachmentUrl" })
							@Html.TextAreaFor(m => m.AttachmentName1, 5, 5, new { @class = "AttachmentName", @style = "visibility:hidden;position:absolute;" })
							<div class="input-group">
								<div class="form-control oversize upload-control uploadItem">

									@if (Model.AttachmentName1 != null && Model.AttachmentName1 != "")
									{
										foreach (var item in Model.AttachmentName1.Split('|'))
										{
											<p>
												<label title="@item">@(item.Length > 40 ? item.Substring(0, 37) + "..." : item)</label> <button type="button" class="btn btn-danger btn-xs btn-delete" onclick="delAttachment(this)">删除</button>
											</p>
}
									}
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-mulit-upload" type="button" id="btn-start1">附件上传</button>
								</span>
							</div>
							@*<div class="red">*支持多文件上传<br />*文件类型支持文本类型，图片和压缩包，每个文件不大于20M, <br /> *单个文件上传进度为100%表示上传成功</div>*@
							@Html.ValidationMessageFor(m => m.AttachmentName1)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(m => m.AttachmentName1, new { @class = "control-label col-md-3" })
						<div class="col-md-9 uploadArea" id="uploadArea1">
							@Html.HiddenFor(m => m.AttachmentUrl1, new { @class = "AttachmentUrl" })
							@Html.TextAreaFor(m => m.AttachmentName1, 5, 5, new { @class = "AttachmentName", @style = "visibility:hidden;position:absolute;" })
							<div class="input-group">
								<div class="form-control oversize upload-control uploadItem">

									@if (Model.AttachmentName1 != null && Model.AttachmentName1 != "")
									{
										foreach (var item in Model.AttachmentName1.Split('|'))
										{
											<p>
												<label title="@item">@(item.Length > 40 ? item.Substring(0, 37) + "..." : item)</label> <button type="button" class="btn btn-danger btn-xs btn-delete" onclick="delAttachment(this)">删除</button>
											</p>
}
									}
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-mulit-upload" type="button" id="btn-start1">附件上传</button>
								</span>
							</div>
							@*<div class="red">*支持多文件上传<br />*文件类型支持文本类型，图片和压缩包，每个文件不大于20M, <br /> *单个文件上传进度为100%表示上传成功</div>*@
							@Html.ValidationMessageFor(m => m.AttachmentName1)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(m => m.AttachmentName1, new { @class = "control-label col-md-3" })
						<div class="col-md-9 uploadArea" id="uploadArea1">
							@Html.HiddenFor(m => m.AttachmentUrl1, new { @class = "AttachmentUrl" })
							@Html.TextAreaFor(m => m.AttachmentName1, 5, 5, new { @class = "AttachmentName", @style = "visibility:hidden;position:absolute;" })
							<div class="input-group">
								<div class="form-control oversize upload-control uploadItem">

									@if (Model.AttachmentName1 != null && Model.AttachmentName1 != "")
									{
										foreach (var item in Model.AttachmentName1.Split('|'))
										{
											<p>
												<label title="@item">@(item.Length > 40 ? item.Substring(0, 37) + "..." : item)</label> <button type="button" class="btn btn-danger btn-xs btn-delete" onclick="delAttachment(this)">删除</button>
											</p>
}
									}
								</div>
								<span class="input-group-btn">
									<button class="btn btn-danger btn-mulit-upload" type="button" id="btn-start1">附件上传</button>
								</span>
							</div>
							@*<div class="red">*支持多文件上传<br />*文件类型支持文本类型，图片和压缩包，每个文件不大于20M, <br /> *单个文件上传进度为100%表示上传成功</div>*@
							@Html.ValidationMessageFor(m => m.AttachmentName1)
						</div>
					</div>

				</fieldset>
				}
			</div>
		</div>

	</div>
</div>
<!-- END WIDGET TABBED CONTENT -->

<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone1 hidden"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone2 hidden"></form>
<form action="@Url.Action("UploadFile", "Attachment")" class="dropzone3 hidden"></form>

<script>

	$(function () {

		ajaxSubmitForm($('form'));

		//多文件上传
		ajaxMultipleFileUpload($('.dropzone1'), $('#btn-start1'), $('#uploadArea1'));
		ajaxMultipleFileUpload($('.dropzone2'), $('#btn-start2'), $('#uploadArea2'));
		ajaxMultipleFileUpload($('.dropzone3'), $('#btn-start3'), $('#uploadArea3'));

	});

</script>
