@model List<AdjustExpMemberModel>

<div class="modal-dialog modal-lg">

	<!-- widget -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-edit"></i> 调整专家</h3>
			<div class="btn-group widget-header-toolbar">
				<a href="#" title="关闭" class="btn-borderless" data-dismiss="modal"><i class="fa fa-close"></i></a>
			</div>
		</div>
		<div class="widget-content">

			<div class="table-responsive" id="FindResults">
				<table class="table table-condensed table-striped table-hover table-dark-header">
					<thead>
						<tr>
							<th>专家姓名</th>
							<th>称号</th>
							<th>学科</th>
							<th>学段</th>
							<th>是否组长</th>
							<th class="width120">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>@item.realName</td>
								<td>@item.target</td>
								<td>@item.subject</td>
								<td>@item.stage</td>
								@if (item.isLeader)
								{
									<td>
										<span class="glyphicon glyphicon-ok"></span>
									</td>
								}
								else
								{
									<td></td>
								}
								<td>
									<div class="btn-group btn-group-xs pull-left" data-row-id="@item.id">
										<button class="btn btn-success btn-edit" data-url="/ExpManage/SetLeader">设为组长</button> &nbsp;
										<button class="btn btn-warning btn-remove" data-url="/ExpManage/RemoveExpMember">移除</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

		</div>
	</div>
	<!-- end widget -->
</div>
<script>

	$(function () {
		
		$('.btn-remove,.btn-edit').on('click', function () {
			var $this = $(this);
			var memberId = $(this).parent().data('rowId');
			var url = $(this).attr('data-url');
			$.post(url, { memberId: memberId, groupId: @ViewBag.groupId }, function (data, status) {
				popupMessage(data, {
					success: function () {
						$this.closest('tr').remove();
						afterDialogSuccess();
					}
				});
			});
		});

	})

	function afterDialogSuccess() {
		$('#firstModal').modal('hide');
		$('#bootgrid').bootgrid('reload');
	}

</script>
