@model QualityEvalParam
@{
	var pageTitle = ViewBag.Title = "专家评审";
	var items = ViewBag.ResultItems as Dictionary<string, EvalQualityResultItem>;

	var KetJiaox_Gongkk = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.KetJiaox_Gongkk, "C");
	var KetJiaox_Zhidk = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.KetJiaox_Zhidk, "C");
	var KaisJiangz = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.KaisJiangz, "C");
	var DaijJiaos = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.DaijJiaos, "C");
	var XiangmYanj = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.XiangmYanj, "C");
	var Lunw = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.Lunw, "C");
	var ShijPeixKec = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.ShijPeixKec, "C");
	var Tes = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.Tes, "c");

	var declare = ViewBag.Declare as DeclareModel;
	var result = ViewBag.Result as EvalQualityResult;
	var comment = result == null ? string.Empty : result.Comment;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @pageTitle</h2>
			<em></em>
		</div>

		<div class="main-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9 alert alert-danger errorMessage"></div>
			</div>
			<div class="row">
				<div class="col-md-3">

					<!-- widget -->
					<div class="widget">
						<div class="widget-header">
							<h3>基本信息</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
							</div>
						</div>
						<div class="widget-content">
							@Html.Partial("~/Views/EvalUtilities/_DeclareInfo.cshtml", declare)
						</div>
					</div>
					<!-- /widget -->

				</div>
				<div class="col-md-9">

					@using (Html.BeginForm("Eval", "QualityEval"))
					{
						@Html.HiddenFor(m => m.PeriodId)
						@Html.HiddenFor(m => m.TargetId)
						@Html.HiddenFor(m => m.TeacherId)
						@Html.HiddenFor(m => m.AccesserId)
						@Html.HiddenFor(m => m.GroupId)

			<!-- widget -->
						<div class="widget">
							<div class="widget-header">
								<h3>虹口区教育系统教师专业人才梯队 <strong class="red">基地主持人-专家评审</strong> 考核指标</h3>
								<div class="btn-group widget-header-toolbar">
									<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
									<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
								</div>
								<div class="btn-group widget-header-toolbar pull-right">
									<button type="submit" class="btn btn-custom-primary btn-sm btn_submit">
										<i class="fa fa-floppy-o"></i> <span>保存</span>
									</button>
								</div>
								<ul class="nav nav-tabs pull-right">
									<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 必做任务</a></li>
									<li><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 选做任务</a></li>
									<li><a href="#tab3" data-toggle="tab"><i class="fa fa-tag"></i> 特色工作</a></li>
								</ul>
							</div>
							<div class="widget-content">
								<div class="tab-content no-padding">
									<!-- 必做任务 -->
									<div class="tab-pane fade in active" id="tab1">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="table-col-10p">指标分类</th>
													<th class="table-col-10p">指标项</th>
													<th class="table-col-10p">考核内容</th>
													<th class="table-col-5p">选项</th>
													<th class="table-col-20p">分值/统计标准</th>
													<th class="table-col-10p">分值范围</th>
													<th class="table-col-10p">输入分值</th>
												</tr>
											</thead>
											<!-- 项目研究 -->
											<tbody>
												<tr>
													<td rowspan="3">1.项目研究(满分30分)</td>
													<td rowspan="3">项目研究</td>
													<td rowspan="3">
														立足教学，三年内完成1个项目研究（第一学年：开题报告）<br />
													</td>
													<td>@Html.RadioButton(EvalQualityRuleKeys.XiangmYanj, "A", isChecked: XiangmYanj.ChooseValue == "A")A</td>
													<td>
														<label>
															1.	区级及以上课题、项目<br />2.	由区级及以上教育行政部门开具证明
														</label>
													</td>
													<td>27分--30分</td>
													<td class="flotValue" data-min="27" data-max="30" data-value="" data-hidden="@EvalQualityRuleKeys.XiangmYanj_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.XiangmYanj, "B", isChecked: XiangmYanj.ChooseValue == "B")B</td>
													<td><label> 1.	研修团队课题、项目 <br /> 2.	由人才梯队工作小组开具证明</label></td>
													<td>18分--26.9分</td>
													<td class="flotValue" data-min="18" data-max="26.9" data-value="" data-hidden="@EvalQualityRuleKeys.XiangmYanj_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.XiangmYanj, "C", isChecked: XiangmYanj.ChooseValue == "C")C</td>
													<td><label> 其他课题、项目或无材料</label></td>
													<td>0分--17.9分</td>
													<td class="flotValue" data-min="0" data-max="17.9" data-value="" data-hidden="@EvalQualityRuleKeys.XiangmYanj_Def"></td>
												</tr>

												<!-- 市区级培训课程 -->
												<tr>
													<td rowspan="3">2.市区级培训课程(满分30分)</td>
													<td rowspan="3">市区级培训课程</td>
													<td rowspan="3">
														三年内完成1门课程开发<br />
													</td>
													<td>@Html.RadioButton(EvalQualityRuleKeys.ShijPeixKec, "A", isChecked: ShijPeixKec.ChooseValue == "A")A</td>
													<td>
														<label>
															1.	课程纲要完整 <br />2.	由师训室开具证明
														</label>
													</td>
													<td>27分--30分</td>
													<td class="flotValue" data-min="27" data-max="30" data-value="" data-hidden="@EvalQualityRuleKeys.ShijPeixKec_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.ShijPeixKec, "B", isChecked: ShijPeixKec.ChooseValue == "B")B</td>
													<td><label>1. 2019-2021学年虹口区教育系统教师专业人才梯队培训课程申报意向表，或课程纲要完整<br />2. 由师训室提供汇总表，或由其他市级单位出具证明</label></td>
													<td>18分--26.9分</td>
													<td class="flotValue" data-min="18" data-max="26.9" data-value="" data-hidden="@EvalQualityRuleKeys.ShijPeixKec_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.ShijPeixKec, "C", isChecked: ShijPeixKec.ChooseValue == "C")C</td>
													<td><label> 其他课程目或无材料</label></td>
													<td>0分--17.9分</td>
													<td class="flotValue" data-min="0" data-max="17.9" data-value="" data-hidden="@EvalQualityRuleKeys.ShijPeixKec_Def"></td>
												</tr>

											</tbody>
										</table>
									</div>

									<!-- 选做任务 -->
									<div class="tab-pane fade in" id="tab2">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="table-col-10p">指标分类</th>
													<th class="table-col-10p">指标项</th>
													<th class="table-col-10p">考核内容</th>
													<th class="table-col-5p">选项</th>
													<th class="table-col-20p">分值/统计标准</th>
													<th class="table-col-10p">分值范围</th>
													<th class="table-col-10p">输入分值</th>
												</tr>
											</thead>
											<!-- 课堂教学.公开课 -->
											<tbody>
												<tr>
													<td rowspan="6">一.课堂教学(满分40分)</td>
													<td rowspan="3">1.公开课(满分20分)</td>
													<td rowspan="3">
														一学年完成2节区级及以上公开课<br />
													</td>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KetJiaox_Gongkk, "A", isChecked: KetJiaox_Gongkk.ChooseValue == "A")A</td>
													<td>
														<label>
															1.	1节市级及以上公开课，1节区级公开课<br /> 2.	由市区级及以上教育行政部门开具证明
														</label>
													</td>
													<td>18分--20分</td>
													<td class="flotValue" data-min="18" data-max="20" data-value="" data-hidden="@EvalQualityRuleKeys.KetJiaox_Gongkk_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KetJiaox_Gongkk, "B", isChecked: KetJiaox_Gongkk.ChooseValue == "B")B</td>
													<td><label> 1.	2节区级公开课 <br /> 2.	由区级教育行政部门开具证明。</label></td>
													<td>12分--17.9分</td>
													<td class="flotValue" data-min="12" data-max="17.9" data-value="" data-hidden="@EvalQualityRuleKeys.KetJiaox_Gongkk_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KetJiaox_Gongkk, "C", isChecked: KetJiaox_Gongkk.ChooseValue == "C")C</td>
													<td><label> 其他公开课或无材料</label></td>
													<td>0分--11.9分</td>
													<td class="flotValue" data-min="0" data-max="11.9" data-value="" data-hidden="@EvalQualityRuleKeys.KetJiaox_Gongkk_Def"></td>
												</tr>

												<!-- 课堂教学.指导课 -->
												<tr>
													<td rowspan="3">2.指导课(满分20分)</td>
													<td rowspan="3">
														或一学年指导3节区级及以上公开课<br />
													</td>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KetJiaox_Zhidk, "A", isChecked: KetJiaox_Zhidk.ChooseValue == "A")A</td>
													<td>
														<label>
															1.	3节指导课，其中有市级及以上指导课，其余为区级指导课<br /> 2.	由市区级及以上教育行政部门开具证明
														</label>
													</td>
													<td>18分--20分</td>
													<td class="flotValue" data-min="19" data-max="20" data-value="" data-hidden="@EvalQualityRuleKeys.KetJiaox_Zhidk_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KetJiaox_Zhidk, "B", isChecked: KetJiaox_Zhidk.ChooseValue == "B")B</td>
													<td><label> 1.	3节区级指导课 <br /> 2.	由区级教育行政部门开具证明</label></td>
													<td>12分--17.9分</td>
													<td class="flotValue" data-min="12" data-max="17.9" data-value="" data-hidden="@EvalQualityRuleKeys.KetJiaox_Zhidk_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KetJiaox_Zhidk, "C", isChecked: KetJiaox_Zhidk.ChooseValue == "C")C</td>
													<td><label> 其他指导课或无材料</label></td>
													<td>0分--11.9分</td>
													<td class="flotValue" data-min="0" data-max="11.9" data-value="" data-hidden="@EvalQualityRuleKeys.KetJiaox_Zhidk_Def"></td>
												</tr>

												<!-- 论文 -->
												<tr>
													<td rowspan="3">二.教育科研(满分20分)</td>
													<td rowspan="3">教育科研</td>
													<td rowspan="3">
														在市级及以上期刊上发表1篇论文（或出版1本专著/合著）<br />
													</td>
													<td>@Html.RadioButton(EvalQualityRuleKeys.Lunw, "A", isChecked: Lunw.ChooseValue == "A")A</td>
													<td>
														<label>
															1.	正式出版的专著或合著<br /> 2.	有专著或合著的封面和目录照片
														</label>
													</td>
													<td>18分--20分</td>
													<td class="flotValue" data-min="18" data-max="20" data-value="" data-hidden="@EvalQualityRuleKeys.Lunw_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.Lunw, "B", isChecked: Lunw.ChooseValue == "B")B</td>
													<td><label> 1.	市级及以上期刊上发表的论文1篇<br /> 2.	有刊物的封面和目录照片</label></td>
													<td>12分--17.9分</td>
													<td class="flotValue" data-min="12" data-max="17.9" data-value="" data-hidden="@EvalQualityRuleKeys.Lunw_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.Lunw, "C", isChecked: Lunw.ChooseValue == "C")C</td>
													<td><label> 其他论文课或无材料</label></td>
													<td>0分--11.9分</td>
													<td class="flotValue" data-min="0" data-max="11.9" data-value="" data-hidden="@EvalQualityRuleKeys.Lunw_Def"></td>
												</tr>

												<!-- 开设讲座 -->
												<tr>
													<td rowspan="3">三.专题讲座(满分20分)</td>
													<td rowspan="3">专题讲座</td>
													<td rowspan="3">
														一学年进行2次区级及以上主题发言或专题讲座<br />
													</td>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KaisJiangz, "A", isChecked: KaisJiangz.ChooseValue == "A")A</td>
													<td>
														<label>
															1.	1次市级及以上主题发言或专题讲座， 1次区级主题发言或专题讲座<br />2.	由市区级及以上教育行政部门出具证明
														</label>
													</td>
													<td>18分--20分</td>
													<td class="flotValue" data-min="18" data-max="20" data-value="" data-hidden="@EvalQualityRuleKeys.KaisJiangz_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KaisJiangz, "B", isChecked: KaisJiangz.ChooseValue == "B")B</td>
													<td><label> 1.	2次区级主题发言或专题讲座 <br /> 2.	由区级教育行政部门出具证明</label></td>
													<td>12分--17.9分</td>
													<td class="flotValue" data-min="12" data-max="17.9" data-value="" data-hidden="@EvalQualityRuleKeys.KaisJiangz_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.KaisJiangz, "C", isChecked: KaisJiangz.ChooseValue == "C")C</td>
													<td><label> 其他或无材料</label></td>
													<td>0分--11.9分</td>
													<td class="flotValue" data-min="0" data-max="11.9" data-value="" data-hidden="@EvalQualityRuleKeys.KaisJiangz_Def"></td>
												</tr>
											</tbody>
										</table>
									</div>

									<!-- 特色工作 -->
									<div class="tab-pane fade" id="tab3">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="table-col-10p">指标分类</th>
													<th class="table-col-10p">指标项</th>
													<th class="table-col-10p">考核内容</th>
													<th class="table-col-5p">选项</th>
													<th class="table-col-20p">分值/统计标准</th>
													<th class="table-col-10p">分值范围</th>
													<th class="table-col-10p">输入分值</th>
												</tr>
											</thead>
											<!-- 项目研究 -->
											<tbody>
												<tr>
													<td rowspan="3">特色工作(满分20分)</td>
													<td rowspan="3">特色工作</td>
													<td rowspan="3">
														各类有特色的活动（不包含已填报过的材料）<br />
													</td>
													<td>@Html.RadioButton(EvalQualityRuleKeys.Tes, "A", isChecked: ShijPeixKec.ChooseValue == "A")A</td>
													<td>
														<label>
															产生市级及以上影响力
														</label>
													</td>
													<td>18分--20分</td>
													<td class="flotValue" data-min="18" data-max="20" data-value="" data-hidden="@EvalQualityRuleKeys.Tes_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.Tes, "B", isChecked: ShijPeixKec.ChooseValue == "B")B</td>
													<td><label>产生区级影响力</label></td>
													<td>12分--17.9分</td>
													<td class="flotValue" data-min="12" data-max="17.9" data-value="" data-hidden="@EvalQualityRuleKeys.Tes_Def"></td>
												</tr>
												<tr>
													<td>@Html.RadioButton(EvalQualityRuleKeys.Tes, "C", isChecked: ShijPeixKec.ChooseValue == "C")C</td>
													<td><label>有一定的影响力或无影响力</label></td>
													<td>0分--11.9分</td>
													<td class="flotValue" data-min="0" data-max="11.9" data-value="" data-hidden="@EvalQualityRuleKeys.Tes_Def"></td>
												</tr>

											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
			<!-- /widget -->
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.KetJiaox_Gongkk" name="@EvalQualityRuleKeys.KetJiaox_Gongkk_Def" value="@KetJiaox_Gongkk.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.KetJiaox_Zhidk" name="@EvalQualityRuleKeys.KetJiaox_Zhidk_Def" value="@KetJiaox_Zhidk.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.KaisJiangz" name="@EvalQualityRuleKeys.KaisJiangz_Def" value="@KaisJiangz.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.XiangmYanj" name="@EvalQualityRuleKeys.XiangmYanj_Def" value="@XiangmYanj.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.Lunw" name="@EvalQualityRuleKeys.Lunw_Def" value="@Lunw.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.ShijPeixKec" name="@EvalQualityRuleKeys.ShijPeixKec_Def" value="@ShijPeixKec.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.Tes" name="@EvalQualityRuleKeys.Tes_Def" value="@Tes.ResultValue" />
					}

				</div>
			</div>

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Scripts{
	@Html.Partial("../EvalUtilities/_ScoreInputJS")
}