@model QualityEvalParam
@{
	var pageTitle = ViewBag.Title = "《2020学年第二学期学科研修团队计划》评审评分表";
	var items = ViewBag.ResultItems as Dictionary<string, EvalQualityResultItem>;

	//var SannGuih_ZhidSix = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.SannGuih_ZhidSix, "1A");
	//var SannGuih_XianzFenx = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.SannGuih_XianzFenx, "1A");
	//var SanGuih_FazMub = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.SanGuih_FazMub, "1A");
	//var SanGuih_JutShisCuos = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.SanGuih_JutShisCuos, "1A");
	//var SanGuih_GuanlBaoz = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.SanGuih_GuanlBaoz, "1A");

	var TuandJih_ZhidSix = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.TuandJih_ZhidSix, ThisApp.DefaultEvalChooseValue);
	var TuandJih_XueqMub = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.TuandJih_XueqMub, ThisApp.DefaultEvalChooseValue);
	var TuandJih_JutAnp = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.TuandJih_JutAnp, ThisApp.DefaultEvalChooseValue);
	var TuandJih_KaohPingj = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.TuandJih_KaohPingj, ThisApp.DefaultEvalChooseValue);

	var GerJiH_JutShis = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.GerJiH_JutShis, ThisApp.DefaultEvalChooseValue);
	var GerJiH_FazMub = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.GerJiH_FazMub, ThisApp.DefaultEvalChooseValue);
	var GerJiH_ZiwFengx = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.GerJiH_ZiwFengx, ThisApp.DefaultEvalChooseValue);


	var declare = ViewBag.Declare as DeclareModel;
	var result = ViewBag.Result as EvalQualityResult;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>
	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @pageTitle</h2>
			<em></em>
		</div>
		<div class="main-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9 alert alert-danger errorMessage"></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<!-- widget -->
					<div class="widget">
						<div class="widget-header">
							<h3>基本信息</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
							</div>
						</div>
						<div class="widget-content">
							@Html.Partial("~/Views/EvalUtilities/_DeclareInfo.cshtml", declare)
						</div>
					</div>
					<!-- /widget -->
				</div>
				<div class="col-md-9">
					@using (Html.BeginForm("Eval", "QualityEval"))
					{
						@Html.HiddenFor(m => m.PeriodId)
						@Html.HiddenFor(m => m.TargetId)
						@Html.HiddenFor(m => m.TeacherId)
						@Html.HiddenFor(m => m.AccesserId)
						@Html.HiddenFor(m => m.GroupId)



						<!-- widget -->
						<div class="widget">
							<div class="widget-header">
								<h3>考核指标</h3>
								<div class="btn-group widget-header-toolbar">
									<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
									<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
								</div>
								<div class="btn-group widget-header-toolbar pull-right">
									<button type="submit" class="btn btn-custom-primary btn-sm btn_submit">
										<i class="fa fa-floppy-o"></i> <span>保存</span>
									</button>
									@*<a href="#" class="btn btn-sm btn-info">返回</a>*@
								</div>
								<ul class="nav nav-tabs pull-right">
									<li class="hide"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 三年规划</a></li>
									<li class="active"><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 2020学年第二学期学科研修团队计划</a></li>
									<li class="hide"><a href="#tab3" data-toggle="tab"><i class="fa fa-tag"></i> 主持人个人计划</a></li>
								</ul>
							</div>
							<div class="widget-content">
								<div class="tab-content no-padding">
									<!-- 三年规划 -->
									<div class="tab-pane fade in" id="tab1">
										<h3>
											当前得分：<strong class="red">@(result?.DynamicScore1)</strong>
										</h3>
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="table-col-10p">评价指标</th>
													<th class="table-col-20p">指标说明</th>
													<th class="table-col-10p">分值/统计标准</th>
													<th class="table-col-10p">输入分值</th>
												</tr>
											</thead>
											<!-- 指导思想 -->
											<tbody>
												<tr>
													<td>指导思想</td>
													<td>
														符合《虹口区教育系统教师专业人才梯队建设实施意见（试行）》相关精神<br />
													</td>
													<td>0分--10.0分</td>
													<td class="flotValue" data-min="0" data-max="10.0" data-value="" data-hidden="@EvalQualityRuleKeys.SannGuih_ZhidSix_Def"></td>
												</tr>
												<!-- 现状分析 -->
												<tr>
													<td>现状分析</td>
													<td>现状分析的内容立足课堂教学研究和教师培训；优势和面临的问题与不足分析透彻</td>
													<td>0分--20.0分</td>
													<td class="flotValue" data-min="0" data-max="20.0" data-value="" data-hidden="@EvalQualityRuleKeys.SannGuih_XianzFenx_Def"></td>
												</tr>
												<!-- 发展目标 -->
												<tr>
													<td>发展目标</td>
													<td>目标指向项目引领、研修一体、分层分类培养，能有效促进团队建设和教师发展。总目标方向明确、重点突出；三年具体目标任务明确、操作性强</td>
													<td>0分--25.0分</td>
													<td class="flotValue" data-min="0" data-max="25.0" data-value="" data-hidden="@EvalQualityRuleKeys.SanGuih_FazMub_Def"></td>
												</tr>

												<!-- 具体实施措施 -->
												<tr>
													<td>具体实施措施</td>
													<td>措施具体可行，与发展目标契合，内容丰富，形式多样。</td>
													<td>0分--30.0分</td>
													<td class="flotValue" data-min="0" data-max="30.0" data-value="" data-hidden="@EvalQualityRuleKeys.SanGuih_JutShisCuo_Def"></td>
												</tr>

												<!-- 管理保障 -->
												<tr>
													<td>管理保障</td>
													<td>制度保障到位，日常管理条例清晰明确，利于实施管理。</td>
													<td>0分--15.0分</td>
													<td class="flotValue" data-min="0" data-max="15.0" data-value="" data-hidden="@EvalQualityRuleKeys.SanGuih_GuanlBaoz_Def"></td>
												</tr>

												<tr>
													<td>评审意见</td>
													<td colspan="3">
														@*@Html.TextArea("DynamicComment1", result?.DynamicComment1, new { @class = "commentValue", @style = " margin:0; padding:0;width:100%; height:160px;" })*@
													</td>
												</tr>
											</tbody>
										</table>
									</div>

									<!-- 团队计划 -->
									<div class="tab-pane active" id="tab2">
										<h3>
											当前得分：<strong class="red">@(result?.DynamicScore2)</strong>
										</h3>
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="table-col-10p">评价指标</th>
													<th class="table-col-20p">指标说明</th>
													<th class="table-col-10p">分值/统计标准</th>
													<th class="table-col-10p">输入分值</th>
												</tr>
											</thead>
											<tbody>
												<!-- 指导思想 -->
												<tr>
													<td>指导思想</td>
													<td>
														符合《虹口区教育系统教师专业人才梯队建设实施意见（试行）》相关精神。<br />
													</td>
													<td>0分--20.0分</td>
													<td class="flotValue" data-min="0" data-max="20.0" data-value="" data-hidden="@EvalQualityRuleKeys.TuandJih_ZhidSix_Def"></td>
												</tr>
												<!-- 学期目标 -->
												<tr>
													<td>学期目标</td>
													<td>目标指向项目引领、研修一体、分层分类培养；学期分目标任务明确、操作性强。</td>
													<td>0分--25.0分</td>
													<td class="flotValue" data-min="0" data-max="25.0" data-value="" data-hidden="@EvalQualityRuleKeys.TuandJih_XueqMub_Def"></td>
												</tr>
												<!-- 具体安排 -->
												<tr>
													<td>具体安排</td>
													<td>（见团队研修活动安排表）本学期活动至少8次，时间地点信息具体；活动开展围绕项目研究，内容丰富、形式多样。 </td>
													<td>0分--30.0分</td>
													<td class="flotValue" data-min="0" data-max="30.0" data-value="" data-hidden="@EvalQualityRuleKeys.TuandJih_JutAnp_Def"></td>
												</tr>
												<!-- 具体安排 -->
												<tr>
													<td>考核评价</td>
													<td>考核全面、客观、公正，能有效促进团队建设和教师发展。</td>
													<td>0分--25.0分</td>
													<td class="flotValue" data-min="0" data-max="25.0" data-value="" data-hidden="@EvalQualityRuleKeys.TuandJih_KaohPingj_Def"></td>
												</tr>
												<tr>
													<td>评审意见</td>
													<td colspan="3">
														@Html.TextArea("DynamicComment2", result?.DynamicComment2, new { @class = "commentValue", @style = " margin:0; padding:0;width:100%; height:160px;" })
													</td>
												</tr>

											</tbody>
										</table>
									</div>

									<!-- 主持人个人计划 -->
									<div class="tab-pane fade" id="tab3">
										<h3>
											当前得分：<strong class="red">@(result?.DynamicScore3)</strong>
										</h3>
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="table-col-10p">评价指标</th>
													<th class="table-col-20p">指标说明</th>
													<th class="table-col-10p">分值/统计标准</th>
													<th class="table-col-10p">输入分值</th>
												</tr>
											</thead>
											<tbody>
												<!-- 指导思想 -->
												<tr>
													<td>自我分析</td>
													<td>
														聚焦教育、教学、科研方面，从优势、劣势、机会、威胁等方面分析透彻<br />
													</td>
													<td>0分--20.0分</td>
													<td class="flotValue" data-min="0" data-max="20.0" data-value="" data-hidden="@EvalQualityRuleKeys.GerJiH_ZiwFengx_Def"></td>
												</tr>
												<!-- 学期目标 -->
												<tr>
													<td>发展目标</td>
													<td>基于自我分析，在教育、教学、科研、培训、职称、学历等方面的专业发展目标明确、重点突出</td>
													<td>0分--30.0分</td>
													<td class="flotValue" data-min="0" data-max="30.0" data-value="" data-hidden="@EvalQualityRuleKeys.GerJiH_FazMub_Def"></td>
												</tr>
												<!-- 具体安排 -->
												<tr>
													<td>具体实施</td>
													<td>围绕相应的考核任务撰写，实施的内容和方式具体可行，与发展目标契合，能体现辐射引领</td>
													<td>0分--50.0分</td>
													<td class="flotValue" data-min="0" data-max="50.0" data-value="" data-hidden="@EvalQualityRuleKeys.GerJiH_JutShis_Def"></td>
												</tr>
												<tr>
													<td>评审意见</td>
													<td colspan="3">
														@Html.TextArea("DynamicComment3", result?.DynamicComment3, new { @class = "commentValue", @style = " margin:0; padding:0;width:100%; height:160px;" })
													</td>
												</tr>

												@*<tr>
										<td colspan="4">得分: <h4><strong class="red">@(result?.DynamicScore3)</strong></h4></td>
									</tr>*@

											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>



						<!-- /widget -->

						@*<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.SannGuih_ZhidSix" name="@EvalQualityRuleKeys.SannGuih_ZhidSix_Def" value="@SannGuih_ZhidSix.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.SannGuih_XianzFenx" name="@EvalQualityRuleKeys.SannGuih_XianzFenx_Def" value="@SannGuih_XianzFenx.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.SanGuih_FazMub" name="@EvalQualityRuleKeys.SanGuih_FazMub_Def" value="@SanGuih_FazMub.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.SanGuih_JutShisCuos" name="@EvalQualityRuleKeys.SanGuih_JutShisCuo_Def" value="@SanGuih_JutShisCuos.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.SanGuih_GuanlBaoz" name="@EvalQualityRuleKeys.SanGuih_GuanlBaoz_Def" value="@SanGuih_GuanlBaoz.ResultValue" />*@


						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.TuandJih_ZhidSix" name="@EvalQualityRuleKeys.TuandJih_ZhidSix_Def" value="@TuandJih_ZhidSix.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.TuandJih_XueqMub" name="@EvalQualityRuleKeys.TuandJih_XueqMub_Def" value="@TuandJih_XueqMub.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.TuandJih_JutAnp" name="@EvalQualityRuleKeys.TuandJih_JutAnp_Def" value="@TuandJih_JutAnp.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.TuandJih_KaohPingj" name="@EvalQualityRuleKeys.TuandJih_KaohPingj_Def" value="@TuandJih_KaohPingj.ResultValue" />

						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.GerJiH_ZiwFengx" name="@EvalQualityRuleKeys.GerJiH_ZiwFengx_Def" value="@GerJiH_ZiwFengx.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.GerJiH_FazMub" name="@EvalQualityRuleKeys.GerJiH_FazMub_Def" value="@GerJiH_FazMub.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.GerJiH_JutShis" name="@EvalQualityRuleKeys.GerJiH_JutShis_Def" value="@GerJiH_JutShis.ResultValue" />
					}
				</div>
			</div>
		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Scripts{
	@Html.Partial("../EvalUtilities/_ScoreInputJS")
}