@model QualityEvalPeriodModel
@{
	var result = Model.Result;
	var items = Model.ResultItems;


	var KetJiaox_Gongkk = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.KetJiaox_Gongkk, "C");
	var KetJiaox_Zhidk = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.KetJiaox_Zhidk, "C");
	var KaisJiangz = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.KaisJiangz, "C");
	var DaijJiaos = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.DaijJiaos, "C");
	var XiangmYanj = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.XiangmYanj, "C");
	var Lunw = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.Lunw, "C");
	var ShijPeixKec = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.ShijPeixKec, "C");
	var Tes = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.Tes, "c");



}
<!-- widget -->
<div class="widget col-md-10" >
    <div class="widget-header">
        <h3>学员考核结果</h3>
        <div class="btn-group widget-header-toolbar">
            <a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
            <a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
        </div>
    </div>
    <div class="widget-content">
        <div class="tab-content no-padding">

            <table class="table table-condensed table-striped">
                <tr>
                    <th class="table-col-10p">得分</th>
                    <td><strong class="result-score">@result.Score</strong></td>
                </tr>
                <tr>
                    <th>总分</th>
                    <td>@result.FullScore</td>
                </tr>
                <tr>
                    <th>评分人</th>
                    <td>@result.AccesserName</td>
                </tr>
                <tr>
                    <th>评分时间</th>
                    <td>@result.AccessDate.ToString("yyyy-MM-dd")</td>
                </tr>
            </table>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="table-col-20p" colspan="2">评价指标</th>
                        <th>指标项</th>
                        <th class="table-col-10p">分值/统计标准</th>
                    </tr>
                </thead>
                <tbody>
                    <!--课堂教学.公开课-->
                    <tr>
                        <td colspan="2">课堂教学.公开课</td>
                        @if (KetJiaox_Zhidk.ChooseValue == "A")
								{
                            <td><label>A：1. 节区级及以上公开课,1节校级公开课 <br /> 2.	由区级及以上教育行政部门开具证明</label></td>
                            <td><span>@KetJiaox_Gongkk.ResultValue</span>分</td>
                        }
                        else if (KetJiaox_Zhidk.ChooseValue == "B")
                        {
                            <td><label> B：1. 2节校级指导课 <br /> 2. 由学校开具证明</label></td>
                            <td><span>@KetJiaox_Gongkk.ResultValue</span>分</td>
                        }
                        else if (KetJiaox_Gongkk.ChooseValue == "C")
                        {
                            <td><label> C：其他公开课或无材料</label></td>
                            <td><span>@KetJiaox_Gongkk.ResultValue</span>分</td>
                        }
                    </tr>
					<!--课堂教学.公开课-->
					<tr>
						<td colspan="2">课堂教学.指导课</td>
						@if (KetJiaox_Zhidk.ChooseValue == "A")
						{
							<td><label>A：1. 节区级及以上指导课，1节校级指导课<br /> 2. 由区级及以上教育行政部门和学校开具证明</label></td>
							<td><span>@KetJiaox_Zhidk.ResultValue</span>分</td>
						}
						else if (KetJiaox_Gongkk.ChooseValue == "B")
						{
							<td><label>  1. 2节校级指导课 <br /> 2. 由学校开具证明</label></td>
							<td><span>@KetJiaox_Zhidk.ResultValue</span>分</td>
						}
						else if (KetJiaox_Gongkk.ChooseValue == "C")
						{
							<td><label> C：其他指导课或无材料</label></td>
							<td><span>@KetJiaox_Zhidk.ResultValue</span>分</td>
						}
					</tr>

					<!--开设讲座-->
					<tr>
						<td colspan="2">开设讲座</td>
						@if (KaisJiangz.ChooseValue == "A")
						{
							<td><label>A：1. 1次区级及以上主题发言或专题讲座，1次校级主题发言或专题讲座<br /> 2. 由区级及以上教育行政部门和学校出具证明</label></td>
							<td><span>@KaisJiangz.ResultValue</span>分</td>
						}
						else if (KaisJiangz.ChooseValue == "B")
						{
							<td><label>  1.	2次校级主题发言或专题讲座 <br /> 2. 由学校出具证明</label></td>
							<td><span>@KaisJiangz.ResultValue</span>分</td>
						}
						else if (KaisJiangz.ChooseValue == "C")
						{
							<td><label> C：其他或无材料</label></td>
							<td><span>@KaisJiangz.ResultValue</span>分</td>
						}
					</tr>

					<!--开设讲座-->
					<tr>
						<td colspan="2">带教教师</td>
						@if (DaijJiaos.ChooseValue == "A")
						{
							<td><label>A：1. 指导本团队教师完成公开课任务，并获得区级及以上奖项<br /> 2.	由区级及以上教育行政单位出具证明</label></td>
							<td><span>@DaijJiaos.ResultValue</span>分</td>
						}
						else if (DaijJiaos.ChooseValue == "B")
						{
							<td><label>B: 1. 指导本团队教师完成公开课任务，并获得校级奖项<br /> 2. 由学校出具证明</label></td>
							<td><span>@DaijJiaos.ResultValue</span>分</td>
						}
						else if (DaijJiaos.ChooseValue == "C")
						{
							<td><label>C：有带教协议或无材料</label></td>
							<td><span>@DaijJiaos.ResultValue</span>分</td>
						}
					</tr>

					<!--项目研究-->
					<tr>
						<td colspan="2">项目研究</td>
						@if (XiangmYanj.ChooseValue == "A")
						{
							<td><label>A：1.	 本人主持区级及以上课题、项目 <br />2.	由区级及以上教育行政部门开具证明</label></td>
							<td><span>@XiangmYanj.ResultValue</span>分</td>
						}
						else if (XiangmYanj.ChooseValue == "B")
						{
							<td><label>B: 1. 参与团队课题、项目 <br /> 2.	由学科研修团队开具证明</label></td>
							<td><span>@XiangmYanj.ResultValue</span>分</td>
						}
						else if (XiangmYanj.ChooseValue == "C")
						{
							<td><label>C：其他课题、项目或无材料</label></td>
							<td><span>@XiangmYanj.ResultValue</span>分</td>
						}
					</tr>

					<!--论文-->
					<tr>
						<td colspan="2">论文</td>
						@if (Lunw.ChooseValue == "A")
						{
							<td><label>A：1.	市级及以上期刊上发表的论文1篇<br /> 2.	有刊物的封面和目录照片</label></td>
							<td><span>@Lunw.ResultValue</span>分</td>
						}
						else if (Lunw.ChooseValue == "B")
						{
							<td><label>B: 1. 参与团队课题、项目 <br /> 2.	由学科研修团队开具证明</label></td>
							<td><span>@Lunw.ResultValue</span>分</td>
						}
						else if (Lunw.ChooseValue == "C")
						{
							<td><label>C：其他课题、项目或无材料</label></td>
							<td><span>@Lunw.ResultValue</span>分</td>
						}
					</tr>

					<!--论文-->
					<tr>
						<td colspan="2">市区级培训课程</td>
						@if (ShijPeixKec.ChooseValue == "A")
						{
							<td><label>A：1.	课程纲要完整 <br />2.	由师训室开具证明</label></td>
							<td><span>@ShijPeixKec.ResultValue</span>分</td>
						}
						else if (ShijPeixKec.ChooseValue == "B")
						{
							<td><label>B: 1. 2019-2021学年虹口区教育系统教师专业人才梯队培训课程申报意向表，或课程纲要完整<br />2. 由师训室提供汇总表，或由其他市级单位出具证明</label></td>
							<td><span>@ShijPeixKec.ResultValue</span>分</td>
						}
						else if (ShijPeixKec.ChooseValue == "C")
						{
							<td><label>C：其他课程目或无材料</label></td>
							<td><span>@ShijPeixKec.ResultValue</span>分</td>
						}
					</tr>

					<!--特色工作-->
					<tr>
						<td colspan="2">特色工作</td>
						@if (Tes.ChooseValue == "A")
						{
							<td><label>A：产生市级及以上影响力</label></td>
							<td><span>@Tes.ResultValue</span>分</td>
						}
						else if (Tes.ChooseValue == "B")
						{
							<td><label>B: 产生区级影响力</label></td>
							<td><span>@Tes.ResultValue</span>分</td>
						}
						else if (Tes.ChooseValue == "C")
						{
							<td><label>C：有一定的影响力或无影响力</label></td>
							<td><span>@Tes.ResultValue</span>分</td>
						}
					</tr>

                  
      
                </tbody>
            </table>

			   @*<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="table-col-20p" colspan="2">专家评价</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								@Html.TextArea("Comment", result.Comment, new { @readonly="readonly",@style= " margin:0; padding:0;width:100%; height:100%;" })
							</td>
						</tr>
					</tbody>
				</table>*@
        </div>
    </div>
</div>
<!-- /widget -->
