@model SchoolEvalPeriodModel
@{
	var result = Model.Result;
	var items = Model.ResultItems;

	var XiaonLvz_Gongzl = EngineManager.GetEvalChooseValue(items, EvalSchoolRuleKeys.XiaonLvz_Gongzl);
	var XiaonLvz_GongzZhil = EngineManager.GetEvalResult(items, EvalSchoolRuleKeys.XiaonLvz_GongzZhil);
	var Shid = EngineManager.GetEvalChooseValue(items, EvalSchoolRuleKeys.Shid);
 }
<!-- widget -->
<div class="widget">
	<div class="widget-header">
		<h3>虹口区教育系统教师专业人才梯队学校考核指标结果</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">
		<div class="tab-content no-padding">

			<table class="table table-condensed table-striped">
				<tr>
					<th class="table-col-10p">得分</th>
					<td><strong class="result-score">@result.Score</strong></td>
				</tr>
				<tr>
					<th>总分</th>
					<td>@result.FullScore</td>
				</tr>
				<tr>
					<th>评分人</th>
					<td>@result.AccesserName</td>
				</tr>
				<tr>
					<th>评分时间</th>
					<td>@result.AccessDate.ToString("yyyy-MM-dd")</td>
				</tr>
			</table>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="table-col-10p">评价指标</th>
						<th>指标项</th>
						<th class="table-col-10p">分值/统计标准</th>
					</tr>
				</thead>
				<tbody>
					<!--师德-->
					@if (Shid == "A")
					{
						<tr>
							<td>师德</td>
							<td><label> A：无违反师德相关规定的言行</label></td>
							<td>合格</td>
						</tr>
					}
					else if (Shid == "B")
					{
						<tr>
							<td>师德</td>
							<td><label> B：有违反师德相关规定的言行，应当出梯队</label></td>
							<td>不合格</td>
						</tr>
					}
					<!--校内履职-->
					<tr>
						<td>校内履职</td>
						<td></td>
						<td>@(XiaonLvz_GongzZhil.ResultValue)分</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<!-- /widget -->
