@model SchoolEvalParam
@{
	var pageTitle = ViewBag.Title = "校评";
	var items = ViewBag.ResultItems as Dictionary<string, EvalSchoolResultItem>;

	var XiaonLvz_Gongzl = EngineManager.GetEvalChooseValue(items, EvalSchoolRuleKeys.XiaonLvz_Gongzl);
	var XiaonLvz_GongzZhil = EngineManager.GetEvalResult(items, EvalSchoolRuleKeys.XiaonLvz_GongzZhil);
	var Shid = EngineManager.GetEvalChooseValue(items, EvalSchoolRuleKeys.Shid);

	var declare = ViewBag.Declare as DeclareModel;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @pageTitle</h2>
			<em></em>
		</div>

		<div class="main-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9 alert alert-danger errorMessage"></div>
			</div>
			<div class="row">
				<div class="col-md-3">

					<!-- widget -->
					<div class="widget">
						<div class="widget-header">
							<h3>基本信息</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
							</div>
						</div>
						<div class="widget-content">
							@Html.Partial("~/Views/EvalUtilities/_DeclareInfo.cshtml", declare)
						</div>
					</div>
					<!-- /widget -->

				</div>
				<div class="col-md-9">

					@using (Html.BeginForm("Eval", "SchoolEval"))
					{
						@Html.HiddenFor(m => m.PeriodId)
						@Html.HiddenFor(m => m.SchoolId)
						@Html.HiddenFor(m => m.TeacherId)
						@Html.HiddenFor(m => m.AccesserId)

			<!-- widget -->
						<div class="widget">
							<div class="widget-header">
								<h3>虹口区教育系统教师专业人才梯队学校考核指标</h3>
								<div class="btn-group widget-header-toolbar">
									<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
									<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
								</div>
								<div class="btn-group widget-header-toolbar pull-right">
									<button type="l" class="btn btn-custom-primary btn-sm btn_submit">
										<i class="fa fa-floppy-o"></i> <span>保存</span>
									</button>
									<a href="@Url.Action("CurrentList", "SchoolEval")" class="btn btn-sm btn-info">返回</a>
								</div>
								<ul class="nav nav-tabs pull-right">
									@*<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 校内履职</a></li>*@
									@*<li><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 师德</a></li>*@
								</ul>
							</div>
							<div class="widget-content">
								<div class="tab-content no-padding">

									<!--校内履职-->
									<div class="tab-pane fade in active" id="tab1">

										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="table-col-20p">评价指标</th>
													<th class="table-col-20p">指标说明</th>
													@*<th class="table-col-30p">指标项</th>*@
													<th class="table-col-20p">分值/统计标准</th>
													<th class="table-col-20p">输入分值</th>
												</tr>
											</thead>
											<tbody>
												<!--工作质量-->
												<tr>
													<td>@(declare.TargetId > 5006 ? "校内履职(分值：100)" : "校内履职(分值：100)")</td>
													<td>@(declare.TargetId > 5006 ? "根据区考核内容，由学校制定考核方案进行学校考核评分" : "建议就工作量、教育教学效果、主持学校学科教研组建设、参与重大项目研究等方面进行校内履职评分")</td>
													@*<td><label>@Html.RadioButton(EvalSchoolRuleKeys.XiaonLvz_GongzZhil, "A", isChecked: XiaonLvz_GongzZhil.ChooseValue == "A") A：自己足额完成工作任务、达到工作要求，并获得所在单位认可。（须满工作量）</label></td>*@
													<td>0分 - 100分</td>
													<td class="flotValue" data-min="0" data-max="100" data-value="" data-hidden="@EvalSchoolRuleKeys.XiaonLvz_GongzZhil_Jeig"></td>
												</tr>

												<tr>
													<td rowspan="2">师德</td>
													<td rowspan="2">坚持师德为先，实行师德失范“一票否决”原则</td>
													<td>合格</td>
													<td><label>@Html.RadioButton(EvalSchoolRuleKeys.Shid, "A", isChecked: Shid == "A") A：无违反师德相关规定的言行</label></td>
													@*<td>合格</td>*@
												</tr>
												<tr>
													<td>不合格</td>
													<td><label>@Html.RadioButton(EvalSchoolRuleKeys.Shid, "C", isChecked: Shid == "B") B：有违反师德相关规定的言行，应当出梯队</label></td>
												</tr>
											</tbody>
										</table>
									</div>


								</div>
							</div>
						</div>
			<!-- /widget -->

						<input type="hidden" class="hiddenValue" data-error="@EvalSchoolRuleKeys.XiaonLvz" name="@EvalSchoolRuleKeys.XiaonLvz_GongzZhil_Jeig" value="@XiaonLvz_GongzZhil.ResultValue" />
					}


				</div>
			</div>

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Scripts{
	@Html.Partial("../EvalUtilities/_ScoreInputJS")
}
