@model TeamEvalParam
@{
	var pageTitle = ViewBag.Title = "团队考评";
	var items = ViewBag.ResultItems as Dictionary<string, TeamEvalResultItem>;

	//var GerJiH_JutShis = EngineManager.GetTeamEvalResult(items, EvalQualityRuleKeys.GerJiH_JutShis, "1A");
	//var GerJiH_FazMub = EngineManager.GetTeamEvalResult(items, EvalQualityRuleKeys.GerJiH_FazMub, "1A");
	var TuandKaoh = EngineManager.GetTeamEvalResult(items, EvalQualityRuleKeys.TuandKaoh, "1A");

	var declare = ViewBag.Declare as DeclareModel;
	var result = ViewBag.Result as TeamEvalResult;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @pageTitle</h2>
			<em></em>
		</div>

		<div class="main-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9 alert alert-danger errorMessage"></div>
			</div>
			<div class="row">
				<div class="col-md-3">

					<!-- widget -->
					<div class="widget">
						<div class="widget-header">
							<h3>基本信息</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
							</div>
						</div>
						<div class="widget-content">
							@Html.Partial("~/Views/EvalUtilities/_DeclareInfo.cshtml", declare)
						</div>
					</div>
					<!-- /widget -->

				</div>
				<div class="col-md-9">

					@using (Html.BeginForm("Eval", "TeamEval"))
					{
						@Html.HiddenFor(m => m.PeriodId)
						@Html.HiddenFor(m => m.TeamId)
						@Html.HiddenFor(m => m.TeacherId)
						@Html.HiddenFor(m => m.AccesserId)

			<!-- widget -->
						<div class="widget">
							<div class="widget-header">
								<h3>考核指标</h3>
								<div class="btn-group widget-header-toolbar">
									<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
									<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
								</div>
								<div class="btn-group widget-header-toolbar pull-right">
									<button type="submit" class="btn btn-custom-primary btn-sm btn_submit">
										<i class="fa fa-floppy-o"></i> <span>保存</span>
									</button>
									@*<a href="#" class="btn btn-sm btn-info">返回</a>*@
								</div>
								<ul class="nav nav-tabs pull-right">
									@*<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 三年规划</a></li>
										<li><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 团队计划</a></li>*@
									@*<li><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 主持人个人计划</a></li>*@
								</ul>
							</div>
							<div class="widget-content">
								<div class="no-padding">

									<!-- 个人计划 -->
									<div class="tab-pane" id="tab1">
										<h3>
											当前得分：<strong class="red">@(result?.Score)</strong>
										</h3>
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="table-col-10p">评价指标</th>
													<th class="table-col-20p">指标说明</th>
													<th class="table-col-10p">分值/统计标准</th>
													<th class="table-col-10p">输入分值</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>团队考核</td>
													<td>
														过程性材料完成情况、团队项目<br />
													</td>
													<td>0分--100.0分</td>
													<td class="flotValue" data-min="0" data-max="100.0" data-value="" data-hidden="@EvalQualityRuleKeys.TuandKaoh"></td>
												</tr>

											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
			<!-- /widget -->

						<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.TuandKaoh" name="@EvalQualityRuleKeys.TuandKaoh_Def" value="@TuandKaoh.ResultValue" />
					}


				</div>
			</div>

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Scripts{
	@Html.Partial("../EvalUtilities/_ScoreInputJS")
}
