@model TeamActive
@{
	ViewBag.Title = "活动详情";
}

<div id="stuning-header" style="background-color: #7a7a7a; background-image: url(../../assets/img/kamni.jpg);  background-position: center;">
	<div class="row">
		<div class="twelve columns">
			<div id="page-title">
				<div class="page-title-inner">
					<div class="page-title">
					</div>
					<div class="subtitle">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section id="layout">
	<div class="row">
		<div class="blog-section ">
			<section id="main-content" role="main" class="twelve columns">
				<article class="post-3087 post type-post status-publish format-standard has-post-thumbnail hentry category-wishes tag-creative tag-gadget">
					<div class="post-social">
						<div datetime="2015-12-18" class="date updated">
							<time datetime="2015-12-18" class="date updated"> <span class="day">@Model.Date.ToString("dd")</span> <span class="month">@Model.Date.ToString("yyyy-MM")</span></time>
							<div class="post-format clearfix">
								<i class="icon-pencil-1"></i>
								<a class="jiathis_button_weixin"><i class="fa fa-weixin"></i></a>
</div>
						</div>
					</div>
					<div class="ovh">
						<h1 class="entry-title">@Model.Title</h1>
						<div class="entry-content">
							@Html.Raw(Model.ContentValue)

							@if (Model.IsShare)
							{
								<div style="margin-top:20px;">
									<strong>共享文件：</strong>
									<ul style="list-style:decimal;">
										@foreach (var item in ViewBag.Attachments as List<Attachments>)
										{
											<li style="margin:20px"><a href="@string.Format("{0}{1}", Business.Config.ThisApp.FileServerName, item.AttachmentUrl)">@item.AttachmentName</a></li>
										}
									</ul>
								</div>
							}
						</div>
					</div>
				</article>
			</section>
		</div>
	</div>
</section>
