@using Webdiyer.WebControls.Mvc;
@model Webdiyer.WebControls.Mvc.PagedList<NewsModel>
@{
	ViewBag.Title = "新闻动态";

	var Model1 = Model.OrderByDescending(o => o.CreatedTime).Take(5);

	var Model2 = Model.OrderBy(o => o.CreatedTime).Take(5);

}
<div id="stuning-header">
	<div class="row">
		<div class="twelve columns">
			<div id="page-title">
				<div class="page-title-inner">
					<h1 class="page-title"> 新闻动态 </h1>
					<div class="subtitle">
						了解最及时的信息
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="layout">
	<div class="row">

		<section id="main-content" role="main" class="eight columns">
			@foreach (var item in Model)
			{
				<article class="post type-post status-publish format-standard has-post-thumbnail sticky hentry category-wishes tag-creative tag-gadget">
					@if (@item.ThumbUrl != null)
					{
						<div class="post-media">
							<img src="@item.ThumbUrl" />
						</div>
					}
					<header>
						<time class="date updated"> <span class="day">@item.CreatedTime.ToString("dd")</span> <span class="month">@item.CreatedTime.ToString("yyyy-MM")</span> </time>
						<div class="ovh">
							<h3 class="entry-title"><a href="@Url.Action("NewsDetail", "Home", new { id = item.NewsId })" target="_blank">@item.Title</a></h3>
							<div class="entry-meta dopinfo">
								<span class="byline author vcard"><a href="javascript:;" rel="author" class="fn">@item.RealName</a></span>
							</div>
						</div>
					</header>
					<div class="post-format">
						<i class="icon-pencil-1"></i>
					</div>
					<div class="entry-content">
						<div class="content">
							@Html.Raw(item.Content)
						</div>
						<a href="@Url.Action("newsDetail", "Home", new { id = item.NewsId })" class="link-read-more" target="_blank"></a>
					</div>
				</article>
			}
	
			<nav class="page-nav">
				<div class="pagination">
					@Html.Pager(Model).Options(o => o.SetPageIndexParameterName("pageIndex").SetPagerItemTemplate("{0}&nbsp;"))
				</div>
			</nav>

		</section>

		<aside class="four columns" id="left-sidebar">
			<section id="crum_widget_tabs-2" class="widget widget_crum_widget_tabs">
				<ul class="tabs contained horisontal">
					<li class="active"><a href="#popular-p-tab">最新新闻</a></li>
					<li><a href="#recent-p-tab">最早新闻</a></li>
				</ul>
				<ul class="tabs-content contained folio-wrap clearfix cl" style="margin: 0 20px;">

					<li id="popular-p-tabTab" class="active">

						@foreach (var item in Model1)
						{
							<article class="hentry mini-news clearfix">
								<div class="entry-thumb">
									<img src="@item.ThumbUrl" />
									<a href="javascript:;" class="link"></a>
								</div>
								<div class="box-name entry-title">
									<a href="@Url.Action("NewsDetail", "Home", new { id = item.NewsId })" target="_blank">@item.Title</a>
								</div>
								<div class="entry-meta dopinfo">
									<span class="byline author vcard"><a href="javascript:;" rel="author" class="fn">@item.RealName</a></span>
									<span class="delim"></span>
									<span class="entry-date updated">@item.CreatedTime.ToString("yyyy/MM/dd")</span>
								</div>
							</article>
						}

					</li>

					<li id="recent-p-tabTab">
						@foreach (var item in Model2)
						{
							<article class="hentry mini-news clearfix">
								<div class="entry-thumb">
									<img src="@item.ThumbUrl" />
									<a href="javascript:;" class="link"></a>
								</div>
								<div class="box-name entry-title">
									<a href="@Url.Action("NewsDetail", "Home", new { id = item.NewsId })" target="_blank">@item.Title</a>
								</div>
								<div class="entry-meta dopinfo">
									<span class="byline author vcard"><a href="javascript:;" rel="author" class="fn">@item.RealName</a></span>
									<span class="delim"></span>
									<span class="entry-date updated">@item.CreatedTime.ToString("yyyy/MM/dd")</span>
								</div>
							</article>
						}
						
					</li>
				</ul>
			</section>
		</aside>

	</div>
</section>

@section plugins{
	@Scripts.Render("~/js/app_foundation")
}

@section scripts{
	<script>

		$(function () {
			$(".entry-content .content").each(function (index, item) {
				var sub = $(this).text();
				sub = sub.length > 90 ? sub.substr(0, 87) + ' ...' : sub;
				$(this).html(sub);
			});
		});

	</script>
}