@model LoginViewModel
@{
	ViewBag.Title = "用户登录";
	Layout = "~/Views/Shared/_anonymous.cshtml";
}
<div class="wrapper full-page-wrapper page-auth page-login text-center">
	<div class="inner-page">
		<div class="logo">
			<a href="index.html">
				<img src="/assets/img/trainingadmin-logo.png" alt="" />
			</a>
		</div>

		<div class="login-box center-block">
			<form class="form-horizontal" role="form"></form>
			@using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
			{
				@Html.AntiForgeryToken()

				<p class="title">用户登录</p>
				<div class="form-group">
					@Html.LabelFor(m=>m.Username, new { @class="control-label sr-only" })
					<div class="col-sm-12">
						<div class="input-group">
							@Html.TextBoxFor(m=>m.Username, new { @class = "form-control", placeholder = "登录名称" })
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
						</div>
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "control-label sr-only" })
					<div class="col-sm-12">
						<div class="input-group">
							@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "登录口令" })
							<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						</div>
					</div>
				</div>
				<label class="fancy-checkbox">
					<input id="RememberMe" name="RememberMe" type="checkbox" value="true" />
					<span>记住我</span><input name="RememberMe" type="hidden" value="false" />
				</label>
				<button class="btn btn-custom-primary btn-lg btn-block btn-login" type="submit">登录 <i class="fa fa-sign-in fa-lg"></i></button>
				@Html.ValidationSummary()
			}
			@*<div class="links">
				<p>
					<a href="#">忘记密码？</a>
				</p>
			</div>*@
		</div>

		<div class="separator"><span>或者您可以选择</span></div>
		<a href="@Url.Action("CasLogin", "Account")" class="btn btn-custom-secondary"><span>统一身份认证登录</span></a>

	</div>
	<div class="push-sticky-footer"></div>
</div>
