@model DeclareEvalParam
@{
	var pageTitle = ViewBag.Title = "申报考评";
	var items = ViewBag.ResultItems as Dictionary<string, EvalDeclareResultItem>;
	var XiaonLvz = EngineManager.GetDeclareEvalResult(items, EvalDeclareRuleKeys.XiaonLvz, "A");
	var Shid = EngineManager.GetDeclareEvalChooseValue(items, EvalSchoolRuleKeys.Shid);


	var declare = ViewBag.Declare as DeclareReviewModel;
	var result = ViewBag.Result as EvalDeclareResult;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>
	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @pageTitle</h2>
			<em></em>
		</div>
		<div class="main-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9 alert alert-danger errorMessage"></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<!-- widget -->
					<div class="widget">
						<div class="widget-header">
							<h3>基本信息</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
							</div>
						</div>
						<div class="widget-content">
							@Html.Partial("~/Views/EvalUtilities/_DeclareReviewInfo.cshtml", declare)
						</div>
					</div>
					<!-- /widget -->
				</div>
				<div class="col-md-9">
					@using (Html.BeginForm("Eval", "DeclareEval"))
					{
						@Html.HiddenFor(m => m.PeriodId)
						@Html.HiddenFor(m => m.TargetId)
						@Html.HiddenFor(m => m.TeacherId)
						@Html.HiddenFor(m => m.AccesserId)

		<!-- widget -->
						<div class="widget">
							<div class="widget-header">
								<h3><strong class="red">工作室主持人-申报考评</strong> 考核指标</h3>
								<div class="btn-group widget-header-toolbar">
									<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
									<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
								</div>
								<div class="btn-group widget-header-toolbar pull-right">
									<button type="submit" class="btn btn-custom-primary btn-sm btn_submit">
										<i class="fa fa-floppy-o"></i> <span>保存</span>
									</button>
									@*<a href="#" class="btn btn-sm btn-info">返回</a>*@
								</div>
							</div>
							<div class="widget-content">
								<div class="tab-content no-padding">
									<div class="tab-pane fade in active" id="tab1">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th colspan="3">考核指标（分值/权重）</th>
													<th colspan="4">要求</th>
													<th rowspan="2" class="table-col-20p">标准说明</th>
													<th rowspan="2" class="table-col-20p">分值</th>
													<th rowspan="2" class="table-col-20p">输入分值</th>
												</tr>
												<tr>
													<th>一级</th>
													<th>二级</th>
													<th>三级</th>

													<th>原则要求</th>
													<th>材料要求</th>
													<th>证明要求</th>
													<th>级别要求</th>
												</tr>
												<tr></tr>
											</thead>

											<tbody>
												<tr>
													<td rowspan="2">
														一、校内履职(分值：20分)
													</td>
													<td rowspan="2"></td>
													<td rowspan="2"></td>
													<td colspan="4" rowspan="2">
														由所在学校就工作量、教育教学效果、主持学校学科教研组建设、参与重大项目研究进行考评
													</td>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.XiaonLvz, "A", isChecked: XiaonLvz.ChooseValue == "A") A：总体情况非常好</label></td>
													<td>18.0分--20.0分</td>
													<td class="flotValue" data-min="18.0" data-max="20.0" data-value="" data-hidden="@EvalDeclareRuleKeys.XiaonLvz_Def"></td>
												</tr>
												<tr>
													<td>
														<label>@Html.RadioButton(EvalDeclareRuleKeys.XiaonLvz, "B", isChecked: XiaonLvz.ChooseValue == "B") B：履职较好</label>
													</td>
													<td>14.0分--17.9分</td>
													<td class="flotValue" data-min="14.0" data-max="17.9" data-value="" data-hidden="@EvalDeclareRuleKeys.XiaonLvz_Def"></td>
												</tr>
												
												<!--师德-->
												<tr>
													<td rowspan="3">二、师德</td>
													<td rowspan="3"></td>
													<td rowspan="3"></td>
													<td rowspan="3" colspan="4" >不合格情况时，该单位考评得分为0分</td>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.Shid, "A", isChecked: Shid == "A") A：无违反师德相关规定的言行</label></td>
													<td>合格</td>
													<td></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.Shid, "B", isChecked: Shid == "B") B：有违反师德相关禁令的言行，尚未被退出梯队</label></td>
													<td>基本合格</td>
													<td></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.Shid, "C", isChecked: Shid == "C") C：有违反师德相关规定的言行，应当出梯队</label></td>
													<td>不合格</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
			<!-- /widget -->

						<input type="hidden" class="hiddenValue" data-error="@EvalDeclareRuleKeys.XiaonLvz" name="@EvalDeclareRuleKeys.XiaonLvz_Def" value="@XiaonLvz.ResultValue" />
					}

				</div>
			</div>
		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>