@model DeclareEvalParam
@{
	var pageTitle = ViewBag.Title = "培训处申报考评";
	var items = ViewBag.ResultItems as Dictionary<string, EvalDeclareResultItem>;
	var peixKec = EngineManager.GetDeclareEvalResult(items, EvalDeclareRuleKeys.JiaosPeix_PeixKec, "Z");
	var declare = ViewBag.Declare as DeclareReviewModel;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>
	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @pageTitle</h2>
			<em></em>
		</div>
		<div class="main-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9 alert alert-danger errorMessage"></div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<!-- widget -->
					<div class="widget">
						<div class="widget-header">
							<h3>基本信息</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
							</div>
						</div>
						<div class="widget-content">
							@Html.Partial("~/Views/EvalUtilities/_DeclareReviewInfo.cshtml", declare)
						</div>
					</div>
					<!-- /widget -->
				</div>
				<div class="col-md-12">
					@using (Html.BeginForm("Eval", "DeclareEval"))
					{
						@Html.HiddenFor(m => m.PeriodId)
						@Html.HiddenFor(m => m.TargetId)
						@Html.HiddenFor(m => m.TeacherId)
						@Html.HiddenFor(m => m.AccesserId)

		<!-- widget -->
						<div class="widget">
							<div class="widget-header">
								<h3><strong class="red">工作室主持人-申报考评</strong> 考核指标</h3>
								<div class="btn-group widget-header-toolbar">
									<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
									<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
								</div>
								<div class="btn-group widget-header-toolbar pull-right">
									<button type="submit" class="btn btn-custom-primary btn-sm btn_submit">
										<i class="fa fa-floppy-o"></i> <span>保存</span>
									</button>
									@*<a href="#" class="btn btn-sm btn-info">返回</a>*@
								</div>
							</div>
							<div class="widget-content">
								<div class="tab-content no-padding">
									<div class="tab-pane fade in active" id="tab1">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th colspan="3">考核指标（分值/权重）</th>
													<th colspan="4">要求</th>
													<th rowspan="2" class="table-col-20p">标准说明</th>
													<th rowspan="2" class="table-col-20p">分值</th>
													<th rowspan="2" class="table-col-20p">输入分值</th>
												</tr>
												<tr>
													<th>一级</th>
													<th>二级</th>
													<th>三级</th>

													<th>原则要求</th>
													<th>材料要求</th>
													<th>证明要求</th>
													<th>级别要求</th>
												</tr>
												<tr></tr>
											</thead>

											<tbody>
												<tr>
													<td rowspan="4">
														教师培训（分值：10分）
													</td>
													<td rowspan="4">1.开设教师培训课程（分值：10分）</td>
													<td rowspan="4"></td>
													<td rowspan="4">
														1.同一类中如有两项，选择级别高的评分<br />
														2.材料或证明不符合规定下降一至二级评分
													</td>
													<td rowspan="4">课程纲要</td>
													<td rowspan="4">课程证明（相关教育行政部门或学校盖章）</td>
													<td rowspan="4"></td>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaosPeix_PeixKec, "A1", isChecked: peixKec.ChooseValue == "A1") A：开设市级共享课程</label></td>
													<td>10.0分</td>
													<td class="flotValue" data-min="10.0" data-max="10.0" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaosPeix_PeixKec_Def"></td>
												</tr>
												<tr>
													<td>
														<label>@Html.RadioButton(EvalDeclareRuleKeys.JiaosPeix_PeixKec, "B1", isChecked: peixKec.ChooseValue == "B1") A：开设区级共享课程</label>
													</td>
													<td>7.0分</td>
													<td class="flotValue" data-min="7.0" data-max="7.0" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaosPeix_PeixKec_Def"></td>
												</tr>
												<tr>
													<td>
														<label>@Html.RadioButton(EvalDeclareRuleKeys.JiaosPeix_PeixKec, "C1", isChecked: peixKec.ChooseValue == "C1") A：开设校级共享课程</label>
													</td>
													<td>4.0分</td>
													<td class="flotValue" data-min="4.0" data-max="4.0" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaosPeix_PeixKec_Def"></td>
												</tr>
												<tr>
													<td>
														<label>@Html.RadioButton(EvalDeclareRuleKeys.JiaosPeix_PeixKec, "Z", isChecked: peixKec.ChooseValue == "Z") 无</label>
													</td>
													<td>0分</td>
													<td class="flotValue" data-min="0" data-max="0" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaosPeix_PeixKec_Def"></td>
												</tr>
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
			<!-- /widget -->

						<input type="hidden" class="hiddenValue" data-error="@EvalDeclareRuleKeys.JiaosPeix_PeixKec" name="@EvalDeclareRuleKeys.JiaosPeix_PeixKec_Def" value="@peixKec.ResultValue" />
					}

				</div>
			</div>
		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>