@model DeclareEvalParam
@{
	var pageTitle = ViewBag.Title = "申报考评";
	var items = ViewBag.ResultItems as Dictionary<string, EvalDeclareResultItem>;
	var gongkk = EngineManager.GetDeclareEvalResult(items, EvalDeclareRuleKeys.JiaoyJiaox_Gongkk, "A");
	var pingbQuj= EngineManager.GetDeclareEvalResult(items, EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "A");
	//var pingbQt= EngineManager.GetDeclareEvalResult(items, EvalDeclareRuleKeys.JiaoyJiaox_Pb_Qt, "A");

	//var ZisFaz_KaizShik = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.ZisFaz_KaizShik,"2B");
	//var ZisFaz_DanrPingwGongz = EngineManager.GetEvalResult(items, EvalQualityRuleKeys.ZisFaz_DanrPingwGongz,"2B");


	var declare = ViewBag.Declare as DeclareReviewModel;
	var result = ViewBag.Result as EvalDeclareResult;
	var comment = result == null ? string.Empty : result.Comment;
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>
	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @pageTitle</h2>
			<em></em>
		</div>
		<div class="main-content">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-9 alert alert-danger errorMessage"></div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<!-- widget -->
					<div class="widget">
						<div class="widget-header">
							<h3>基本信息</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
							</div>
						</div>
						<div class="widget-content">
							@Html.Partial("~/Views/EvalUtilities/_DeclareReviewInfo.cshtml", declare)
						</div>
					</div>
					<!-- /widget -->
				</div>
				<div class="col-md-9">
					@using (Html.BeginForm("Eval", "DeclareEval"))
					{
						@Html.HiddenFor(m => m.PeriodId)
						@Html.HiddenFor(m => m.TargetId)
						@Html.HiddenFor(m => m.TeacherId)
						@Html.HiddenFor(m => m.AccesserId)
						@Html.HiddenFor(m => m.GroupId)

		<!-- widget -->
						<div class="widget">
							<div class="widget-header">
								<h3>虹口区教育系统教师专业人才梯队 <strong class="red">工作室主持人-申报考评</strong> 考核指标</h3>
								<div class="btn-group widget-header-toolbar">
									<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
									<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
								</div>
								<div class="btn-group widget-header-toolbar pull-right">
									<button type="submit" class="btn btn-custom-primary btn-sm btn_submit">
										<i class="fa fa-floppy-o"></i> <span>保存</span>
									</button>
									@*<a href="#" class="btn btn-sm btn-info">返回</a>*@
								</div>
								<ul class="nav nav-tabs pull-right">
									@*<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-tag"></i> 教育教学</a></li>*@
									@*<li><a href="#tab2" data-toggle="tab"><i class="fa fa-tag"></i> 培训课程</a></li>
										<li><a href="#tab3" data-toggle="tab"><i class="fa fa-tag"></i> 带教教师</a></li>
										<li><a href="#tab4" data-toggle="tab"><i class="fa fa-tag"></i> 特色</a></li>
										<li><a href="#tab5" data-toggle="tab"><i class="fa fa-tag"></i> 总评</a></li>*@
								</ul>
							</div>
							<div class="widget-content">
								<div class="tab-content no-padding">
									<div class="tab-pane fade in active" id="tab1">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th colspan="3">考核指标（分值/权重）</th>
													<th colspan="4">要求</th>
													<th rowspan="2" class="table-col-20p">标准说明</th>
													<th rowspan="2" class="table-col-20p">分值</th>
													<th rowspan="2" class="table-col-20p">输入分值</th>
												</tr>
												<tr>
													<th>一级</th>
													<th>二级</th>
													<th>三级</th>

													<th>原则要求</th>
													<th>材料要求</th>
													<th>证明要求</th>
													<th>级别要求</th>
												</tr>
												<tr></tr>
											</thead>

											<tbody>
												<tr>
												   <!-- 教育教学-公开课 -->
													<td rowspan="26">
														教育教学(分值：40分)
													</td>
													<td rowspan="4">1 公开课(分值:15分)</td>
													<td rowspan="4"></td>
													<td rowspan="4">
														1.同一类中如有两项，选择级别高的评分； <br />
														2.材料或证明不符合规定下降一至二级评分。
													</td>
													<td rowspan="4">教案</td>
													<td rowspan="4">
													1.开课证明（相关教育行政部门或学校盖章）； <br />
													2.被指导教师写的证明
													</td>
													<td>国家级</td>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Gongkk, "A", isChecked: gongkk.ChooseValue == "A") A：国家级公开课（或指导公开课）</label></td>
													<td>13.0分--15.0分</td>
													<td class="flotValue" data-min="13.0" data-max="15.0" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Gongkk_Def"></td>
												</tr>
												<tr>
													<td>市级</td>
													<td>
														<label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Gongkk, "B", isChecked: gongkk.ChooseValue == "B") B：市级公开课（或指导公开课）</label>
													</td>
													<td>11.0分--12.9分</td>
													<td class="flotValue" data-min="11.0" data-max="12.9" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Gongkk_Def"></td>
												</tr>
												<tr>
													<td>区级</td>
													<td>
														<label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Gongkk, "C", isChecked: gongkk.ChooseValue == "C") C：区级公开课（或指导公开课）</label>
													</td>
													<td>6.0分--10.9分</td>
													<td class="flotValue" data-min="6.0" data-max="10.9" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Gongkk_Def"></td>
												</tr>
												<tr>
													<td>校级</td>
													<td>
														<label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Gongkk, "D", isChecked: gongkk.ChooseValue == "D") D：级公开课（或指导公开课）</label>
													</td>
													<td>3.0分--5.9分</td>
													<td class="flotValue" data-min="3.0" data-max="5.9" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Gongkk_Def"></td>
												</tr>

												<!-- 教育教学-评比 -->
												<tr>
													<td rowspan="22">2 教育教学评比(分值:10分) 自动识别（1）和（2）最高分，计入</td>
													<td rowspan="11">（1）区级及以上课堂教学评比（分值： 10分）</td>
													<td rowspan="11">1.同一类中如有两项，选择级别高的评分；<br />2.材料或证明不符合规定下降一至二级评分。</td>
													<td rowspan="11">教案</td>
													<td rowspan="11">1.获奖证明（相关教育行政部门开具证书）；<br />2.被指导教师写的证明</td>
													<td rowspan="3">国家级</td>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "1A", isChecked: pingbQuj.ChooseValue == "1A") A：获特等奖（或指导获奖）</label></td>
													<td>10.0分</td>
													<td class="flotValue" data-min="10.0" data-max="10.0" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "1B", isChecked: pingbQuj.ChooseValue == "1B") B：获一、二等奖（或指导获奖）</label></td>
													<td>9.0分--9.9分</td>
													<td class="flotValue" data-min="9.0" data-max="9.9" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "1C", isChecked: pingbQuj.ChooseValue == "1C") C：其他等第奖项（或指导获奖）</label></td>
													<td>8.5分</td>
													<td class="flotValue" data-min="8.5" data-max="8.5" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td rowspan="4">市级</td>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "2A", isChecked: pingbQuj.ChooseValue == "2A") A：获特等奖（或指导获奖）</label></td>
													<td>10.0分</td>
													<td class="flotValue" data-min="9.5" data-max="9.5" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "2B", isChecked: pingbQuj.ChooseValue == "2B") B：获一等奖（或指导获奖）</label></td>
													<td>9.0分--9.9分</td>
													<td class="flotValue" data-min="9.0" data-max="9.9" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "2C", isChecked: pingbQuj.ChooseValue == "2C") C：获二等奖（或指导获奖）</label></td>
													<td>8.5分</td>
													<td class="flotValue" data-min="8.5" data-max="8.5" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "2D", isChecked: pingbQuj.ChooseValue == "2D") D：其他等第奖项（或指导获奖）</label></td>
													<td>8.5分</td>
													<td class="flotValue" data-min="8.5" data-max="8.5" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td rowspan="4">区级</td>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "3A", isChecked: pingbQuj.ChooseValue == "3A") A：获特等奖（或指导获奖）</label></td>
													<td>10.0分</td>
													<td class="flotValue" data-min="9.5" data-max="9.5" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "3B", isChecked: pingbQuj.ChooseValue == "3B") B：获一等奖（或指导获奖）</label></td>
													<td>9.0分--9.9分</td>
													<td class="flotValue" data-min="9.0" data-max="9.9" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "3C", isChecked: pingbQuj.ChooseValue == "3C") C：获二等奖（或指导获奖）</label></td>
													<td>8.5分</td>
													<td class="flotValue" data-min="8.5" data-max="8.5" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "3D", isChecked: pingbQuj.ChooseValue == "3D") D：其他等第奖项（或指导获奖）</label></td>
													<td>8.5分</td>
													<td class="flotValue" data-min="8.5" data-max="8.5" data-value="" data-hidden="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def"></td>
												</tr>

												@*<tr>
													<td rowspan="11">（2）其他教育评比（分值： 10分）</td>
													<td rowspan="11">1.同一类中如有两项，选择级别高的评分。<br /> 2.材料或证明不符合规定下降一至二级评分。</td>
													<td rowspan="11">参评获奖材料（如科研评比中获奖的论文或课题材料等）</td>
													<td rowspan="11">1.获奖证明（相关教育行政部门开具证书）；<br /> 2.被指导教师写的证明。</td>
													<td rowspan="3">国家级</td>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "1A", isChecked: pingbQuj.ChooseValue == "A") A：获特等奖（或指导获奖）</label></td>
													<td>10.0分</td>
													<td class="flotValue" data-min="10.0" data-max="10.0" data-value="" data-hidden="@XiaonLvz.ResultValue"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "1A", isChecked: XiaonLvz.ChooseValue == "B") B：获一、二等奖（或指导获奖）</label></td>
													<td>9.0分--9.9分</td>
													<td class="flotValue" data-min="9.0" data-max="9.9" data-value="" data-hidden="@XiaonLvz.ResultValue"></td>
												</tr>
												<tr>
													<td><label>@Html.RadioButton(EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj, "1A", isChecked: XiaonLvz.ChooseValue == "C") C：其他等第奖项（或指导获奖）</label></td>
													<td>8.5分</td>
													<td class="flotValue" data-min="8.5" data-max="8.5" data-value="" data-hidden="@XiaonLvz.ResultValue"></td>
												</tr>*@
											</tbody>
										</table>
									</div>

								</div>
							</div>
						</div>
			<!-- /widget -->

						<input type="hidden" class="hiddenValue" data-error="@EvalDeclareRuleKeys.JiaoyJiaox_Gongkk" name="@EvalDeclareRuleKeys.JiaoyJiaox_Gongkk_Def" value="@gongkk.ResultValue" />
						<input type="hidden" class="hiddenValue" data-error="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj" name="@EvalDeclareRuleKeys.JiaoyJiaox_Pb_Quj_Def" value="@pingbQuj.ResultValue" />


						@*<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.ZisFaz_KaizShik" name="@EvalQualityRuleKeys.ZisFaz_KaizShik_Def" value="@ZisFaz_KaizShik.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.ZisFaz_DanrPingwGongz" name="@EvalQualityRuleKeys.ZisFaz_DanrPingwGongz_Def" value="@ZisFaz_DanrPingwGongz.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.ZisFaz_PingbHuoj" name="@EvalQualityRuleKeys.ZisFaz_PingbHuoj_Def" value="@ZisFaz_PingbHuoj.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.ZisFaz_FabLunw" name="@EvalQualityRuleKeys.ZisFaz_FabLunw_Def" value="@ZisFaz_FabLunw.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.ZisFaz_LixKet" name="@EvalQualityRuleKeys.ZisFaz_LixKet_Def" value="@ZisFaz_LixKet.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.ZisFaz_XiangmYanj" name="@EvalQualityRuleKeys.ZisFaz_XiangmYanj_Def" value="@ZisFaz_XiangmYanj.ResultValue" />

							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.PeixKec_KaisJiaosPeixKec" name="@EvalQualityRuleKeys.PeixKec_KaisJiaosPeixKec_Def" value="@PeixKec_KaisJiaosPeixKec.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.PeixKec_JiangzBaog" name="@EvalQualityRuleKeys.PeixKec_JiangzBaog_Def" value="@PeixKec_JiangzBaog.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.PeixKec_KecZiyKaif" name="@EvalQualityRuleKeys.PeixKec_KecZiyKaif_Def" value="@PeixKec_KecZiyKaif.ResultValue" />

							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.DaijJiaos_XueyShul," name="@EvalQualityRuleKeys.DaijJiaos_XueyShul_Def" value="@DaijJiaos_XueyShul.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.DaijJiaos_DaijJih" name="@EvalQualityRuleKeys.DaijJiaos_DaijJih_Def" value="@DaijJiaos_DaijJih.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.DaijJiaos_XueyChengzFenx" name="@EvalQualityRuleKeys.DaijJiaos_XueyChengzFenx_Def" value="@DaijJiaos_XueyChengzFenx.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.DaijJiaos_DaijZhid" name="@EvalQualityRuleKeys.DaijJiaos_DaijZhid_Def" value="@DaijJiaos_DaijZhid.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.DaijJiaos_KaizShik" name="@EvalQualityRuleKeys.DaijJiaos_KaizShik_Def" value="@DaijJiaos_KaizShik.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.DaijJiaos_FablunwHuocYukTiyJiu" name="@EvalQualityRuleKeys.DaijJiaos_FablunwHuocYukTiyJiu_Def" value="@DaijJiaos_FablunwHuocYukTiyJiu.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.DaijJiaos_JiaoyJiaoxPingb" name="@EvalQualityRuleKeys.DaijJiaos_JiaoyJiaoxPingb_Def" value="@DaijJiaos_JiaoyJiaoxPingb.ResultValue" />
							<input type="hidden" class="hiddenValue" data-error="@EvalQualityRuleKeys.Tes" name="@EvalQualityRuleKeys.Tes_Def" value="@Tes.ResultValue" />*@
					}

				</div>
			</div>
		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>