@model EvalDeclareResultModel
@{ 
	Layout = "~/Views/Shared/_preview.cshtml";
	var result = Model.Result;
	var items = Model.ResultItems;

	var xiaonLvz = EngineManager.GetDeclareEvalResult(items, EvalDeclareRuleKeys.XiaonLvz);
}

<!-- widget -->
<div class="widget">
	<div class="widget-header">
		<h3>评审结果</h3>
	</div>
	<div class="widget-content">
		<div class="tab-content no-padding">

			<table class="table table-condensed table-striped">
				<tr>
					<th class="table-col-10p">教师姓名</th>
					<td><strong class="result-score">@result.TeacherName</strong></td>
				</tr>
				<tr>
					<th class="table-col-10p">得分</th>
					<td><strong class="result-score">@result.Score</strong></td>
				</tr>
				<tr>
					<th>总分</th>
					<td>@result.FullScore</td>
				</tr>
				<tr>
					<th>评分人</th>
					<td>@result.AccesserName</td>
				</tr>
				<tr>
					<th>评分时间</th>
					<td>@result.AccessDate.ToString("yyyy-MM-dd")</td>
				</tr>
			</table>

			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="table-col-10p">一级指标</th>
						<th class="table-col-10p">二级指标</th>
						<th class="table-col-10p">三级指标</th>
						<th>要求</th>
						<th class="table-col-10p">级别要求</th>
						<th class="table-col-10p">指标项</th>
						<th class="table-col-10p">分值/统计标准</th>
					</tr>
				</thead>
				<tbody>
					<!--校内履职-->
					<tr>
						<td>校内履职</td>
						<td></td>
						<td></td>
						<td>由所在学校就工作量、教育教学效果、主持学校学科教研组建设、参与重大项目研究进行考评</td>
						<td></td>
						@if (xiaonLvz.ChooseValue == "A")
						{
							<td><label>A：总体情况非常好</label></td>
							<td><span>@xiaonLvz.ResultValue</span>分</td>
						}
						else if (xiaonLvz.ChooseValue == "B")
						{
							<td><label>B：履职较好</label></td>
							<td><span>@xiaonLvz.ResultValue</span>分</td>
						}
					</tr>
				
				</tbody>
			</table>

		</div>
	</div>
</div>
<!-- /widget -->
