@{
	var pageTitle = ViewBag.Title = "首页";
	var userIsExpert = Html.GetUserProfile().IsExpert;
	var isSchoolAdmin = Html.GetUserProfile().IsSchoolAdmin;
	var isTeamLeader = Html.GetUserProfile().IsTeamLeader;
	var review = ViewBag.DeclareReview as DeclareReview;
	var period = Html.GetDeclarePeriod();
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-home"></i> @pageTitle</h2>
		</div>

		<div class="main-content">

			<div class="alert alert-danger alert-dismissable">
				<a href="" class="close">×</a>
				<strong> <i class="fa fa-warning"></i> 重要提示</strong>
				<br />
				<a href="http://tjcdn.shec.edu.cn/hktd/20210322/2020%E5%AD%A6%E5%B9%B4%E7%AC%AC%E4%BA%8C%E5%AD%A6%E6%9C%9F%E5%AD%A6%E7%A7%91%E7%A0%94%E4%BF%AE%E5%9B%A2%E9%98%9F%E4%B8%BB%E6%8C%81%E4%BA%BA%E5%AD%A6%E6%9C%9F%E8%AE%A1%E5%88%92%E6%B1%87%E6%80%BB%E8%A1%A8.pdf">2020学年第二学期学科研修团队主持人学期计划汇总表</a>
				<br />
				<a href="http://cdn.sser.shdjg.net/hktd2/20191021/%E7%BD%91%E7%AB%99%E6%95%99%E5%B8%88%E5%A1%AB%E5%86%99%E4%BF%A1%E6%81%AF%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8C.pptx">教师填写信息使用手册</a>
				<br />
				<a href="http://cdn.sser.shdjg.net/hktd2/20191028/2019%E2%80%942021%E5%AD%A6%E5%B9%B4%E8%99%B9%E5%8F%A3%E5%8C%BA%E6%95%99%E8%82%B2%E7%B3%BB%E7%BB%9F%E6%95%99%E5%B8%88%E4%B8%93%E4%B8%9A%E4%BA%BA%E6%89%8D%E6%A2%AF%E9%98%9F%E7%AE%A1%E7%90%86%E8%80%83%E6%A0%B8%E5%8A%9E%E6%B3%95.docx">2019-2021学年虹口区教育系统教师专业人才梯队管理考核办法</a>
				<br />
			</div>

			<div class="row">

				<div class="col-md-6">

					<!-- 我的申报 start -->
					@if (!userIsExpert && !isSchoolAdmin && period != null && period.IsCurrent)
					{
						<div class="hidden">
							<div class="row">
								<div class="col-md-12">
									<div class="widget">
										<div class="widget-header">
											<h3><i class="fa fa-tasks"></i>我的申报</h3>
										</div>
										<div class="widget-content">
											@if (review != null && review.StatusKey == DeclareKeys.ReviewSuccess)
											{
												<button class="btn btn-success" disabled>审核已通过</button>
											}
											else if (review != null && review.StatusKey == DeclareKeys.ReviewProcess)
											{
												<button class="btn btn-custom-secondary" disabled>待审核</button>
											}
											else if (review != null && review.StatusKey == DeclareKeys.ReviewFailure)
											{
												<button class="btn btn-danger" disabled>审核不通过</button>
											}

											@if (review != null)
											{
												var viewId = review.TypeKey.IndexOf(DeclareKeys.CaiLPog) > 0 ? "9999" : review.DeclareTargetPKID.ToString();
												<a class="btn btn-success btn-view" id="DeclareRequestView" target="_blank" href="@Url.Action("Overview", "DeclareMaterial", new { DeclareTargetId=review.DeclareTargetPKID, TypeKey=review.TypeKey, TeacherId=review.TeacherId,View="Overview"+ viewId })">
													<i class="fa fa-eye"></i> <span>预览申报</span>
												</a>
												<a target="_blank" class="btn btn-warning btn-view" href="@Url.Action("Preview", "DeclareMaterial", new { DeclareTargetId=review.DeclareTargetPKID, TypeKey=review.TypeKey, TeacherId=review.TeacherId,View="MaterialPreview"+viewId, IsExport = true })"><i class="fa fa-download"></i> <span>下载申报表</span></a>
											}
											else
											{
												@*<div class="alert alert-info">点击左侧【教师申报】，然后选择相应的称号进行申报填写</div>*@
											}


										</div>
									</div>
								</div>
							</div>
						</div>
					}

					<div id="evalResult">

					</div>

					<hr />

					<div id="evalResult2">

					</div>

					<div id="declareActiveTotal"></div>

					<div id="joinTeam"></div>

					<div id="leaderTeam"></div>

				</div>

				<div class="col-md-6">

					<div id="evalPeriodScores"></div>

					@if (userIsExpert)
					{
						<div id="expGroups"></div>
					}

				</div>

			</div>
		</div>

		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>

@section Modals {
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}

@section Scripts{
	<script>

		$(function () {

			//TODO: 是否需要判断下专家组不可能为空的逻辑
			var isExpert = '@userIsExpert' == 'True' ? true : false;
			var isLeader = '@isTeamLeader' == 'True' ? true : false;

			if (!isExpert) {

				@*$.get('@Url.Action("DeclareActiveTotal", "Home")', function (data) {

					$('#declareActiveTotal').html(data);

				});*@

				@*$.get('@Url.Action("JoinTeam", "Home")', function (data) {

					$('#joinTeam').html(data);

				});

				$.get('@Url.Action("LeaderTeam", "Home")', function (data) {

					$('#leaderTeam').html(data);

				});*@

				@*$.get('@Url.Action("EvalPeriodScores", "Home")', function (data) {

					$('#evalPeriodScores').html(data);

				});*@

				if (isLeader) {
					$.get('@Url.Action("QualityEvalResult", "Home")', function (data) {

						//$('#evalResult2').html(data);

					});
				}
				else {
					@*$.get('@Url.Action("TeamEvalResult", "Home")', function (data) {

						$('#evalResult').html(data);

					});*@
				}

				$.post('@Url.Action("GetTempScore", "Home")', function (data) {
					//var score = data.data.totalScore;
					//	$('#evalResult').html('<b>2019学年度虹教系统教师专业人才梯队考核考评分:   <font color="red">' + score + '</font></b>')

				})
			}


			@*if (isExpert) {

				$.get('@Url.Action("ExpGroups", "Home")', function (data, stats) {

					$('#expGroups').html(data);

					$('.group-block').each(function () {

						var $this = $(this);
						var paras = $this.data('param').split(',');

						$.post('@Url.Action("ExpGroupInfo", "Home")', { groupId: paras[0], periodId: paras[1] }, function (data) {

							$this.find('#td_leader').html(data.leaderName);
							$this.find('#a_evalCount').html(data.evalCount);
							$this.find('#a_notEvalCount').html(data.notEvalCount);
							if (data.notEvalCount == 0 && data.evalCount > 0) {
								$this.addClass('panel-success');
								$this.find('.group-block-header').append('<i class="glyphicon glyphicon-ok"></i>');
							}
						});

					});

				});
			}*@

		});

	</script>
}
