@model TeamActiveItem
@{
	var pageTitle = ViewBag.Title = TeamKeys.DaijHuod_HuodNeir;
}
<div class="modal-dialog modal-lg">

	<!-- widget -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-edit"></i> @pageTitle </h3>
			<div class="btn-group widget-header-toolbar">
				<a href="#" title="关闭" class="btn-borderless" data-dismiss="modal"><i class="fa fa-close"></i></a>
			</div>
		</div>
		<div class="widget-content">
		@using (Html.BeginForm("DaijHuod_Item", "TeamPop", Model.ItemId == 0 ? null : new { id = Model.ItemId }, FormMethod.Post, new { @class = "form-horizontal", data_after_success = "afterDialogSuccess()" }))
		{
			<div class="row">
				<fieldset class="col-md-12">
					@Html.HiddenFor(m=>m.ActiveId)
					<div class="form-group">
						@Html.LabelFor(m => m.SendDate, new { @class = "control-label col-md-12" })
						<div class="col-md-12">
							<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
								@Html.TextBoxFor(m => m.SendDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
								<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
							</div>
							@Html.ValidationMessageFor(m => m.SendDate)
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.ItemContent, new { @class = "control-label col-md-12" })
						<div class="col-md-12">
							@Html.TextAreaFor(m => m.ItemContent, new { style = "visibility:hidden;position:absolute;", required = "required" })
							<div class="summernote-frame no-padding">
								<div id="sum" class="summernote required" data-whatever="ItemContent"></div>
							</div>
							@Html.ValidationMessageFor(m => m.ItemContent)
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-primary btn-block-half"><i class="fa fa-check-circle"></i> 保存</button>
							<button type="button" class="btn btn-default btn-block-half" data-dismiss="modal">取消</button>
						</div>
					</div>
				</fieldset>
			</div>
		}
		</div>
		
	</div>
	<!-- end widget -->

</div>


<script>

	$(function () {

		ajaxSubmitForm($('.modal-dialog form'));
		insureSummernot($('#sum'));
		
	})

	function afterDialogSuccess() {
		$('#firstModal').modal('hide');
		loadFrag()
	}

</script>