@model BzUserProfile
@{
	var pageTitle = ViewBag.Title = "个人信息";

	var period = ViewBag.CurrentPeriod as ProfileModifyPeriod;
	var canEdit = period==null || ViewBag.CanEdit != null && (bool)ViewBag.CanEdit;
}

<div>
	@*<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>*@

	<!-- main -->
	<div class="content">
		@*<div class="main-header">
			<h2><i class="fa fa-users"></i> @pageTitle</h2>
			<em>编辑个人简档</em>
		</div>*@

		<div class="main-content">

			<!-- WIDGET TABBED CONTENT -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
					<div class="btn-group widget-header-toolbar">
					</div>
				</div>
				<div class="widget-content">

					@*<div class="alert alert-danger alert-dismissable">
						<a href="" class="close">×</a>
						<strong> <i class="fa fa-warning"></i> 重要提示</strong>
						<br />
						<a href="@Url.Content("~/Attachments/temp/关于开展虹教系统教师专业人才梯队2016年度考核的预通知-1.doc")">关于开展虹教系统教师专业人才梯队2016年度考核的预通知（一）</a>
						<br />
						<a href="@Url.Content("~/Attachments/temp/2016-2018年度虹教系统教师专业人才梯队各层级工作任务.doc")">2016-2018年度虹教系统教师专业人才梯队各层级工作任务</a>
						<br />
						<a href="@Url.Content("~/Attachments/temp/虹教系统教师专业人才梯队相关问题问答（一）.doc")">虹教系统教师专业人才梯队相关问题问答（一）</a>
					</div>*@

					@if (period != null)
					{
					<div class="alert alert-info">
						<strong> <i class="fa fa-warning"></i> 修改周期提示</strong>
						<div>当前修改周期为： @period.BeginDate.ToString("yyyy-MM-dd") 至 @period.EndDate.ToString("yyyy-MM-dd")</div>
					</div>
					}

					<form action="@Url.Action()" method="post" class="form-horizontal form-group-sm" role="form">
						@Html.HiddenFor(m => m.PeriodId)
						<div class="row">
							<fieldset class="col-md-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">基本信息</h4>
									</div>
									<div class="panel-body">
										<div class="form-group">
											@Html.LabelFor(m => m.RealName, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												<span class="form-control details-text">@Model.RealName</span>
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.IDCard, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												<span class="form-control details-text">@Model.IDCard</span>
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.TrainNo, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												@Html.TextBoxFor(m => m.TrainNo, new { @class = "form-control" })
												@*@Html.ValidationMessageFor(m => m.TrainNo)*@
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.GenderPKID, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												@Html.DropDownListFor(m => m.GenderPKID, BzUserProfileHelper.Gender.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.Birthday, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												<span class="form-control details-text">@Model.Birthday.ToString("yyyy-MM-dd")</span>
												@Html.ValidationMessageFor(m => m.Birthday)
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.PoliticalStatusPKID, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												@Html.DropDownListFor(m => m.PoliticalStatusPKID, BzUserProfileHelper.PoliticalStatus.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.NationalityPKID, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												@Html.DropDownListFor(m => m.NationalityPKID, BzUserProfileHelper.Nationality.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4 class="panel-title">教育经历</h4>
									</div>
									<div class="panel-body">
										<div class="form-group">
											@Html.LabelFor(m => m.EduBgPKID, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												@Html.DropDownListFor(m => m.EduBgPKID, BzUserProfileHelper.EduBg.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.EduDegreePKID, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												@Html.DropDownListFor(m => m.EduDegreePKID, BzUserProfileHelper.EduDegree.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.GraduateSchool, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												@Html.TextBoxFor(m => m.GraduateSchool, new { @class = "form-control" })
												@Html.ValidationMessageFor(m => m.GraduateSchool)
											</div>
										</div>
										<div class="form-group">
											@Html.LabelFor(m => m.GraduateDate, new { @class = "col-md-3 control-label" })
											<div class="col-md-9">
												<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
													@Html.TextBoxFor(m => m.GraduateDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
													<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-offset-2">
										@if (canEdit)
										{
											<button type="submit" class="btn btn-custom-primary btn-save"><i class="fa fa-save"></i> 保存</button>
										}
										else
										{
											<button type="submit" class="btn btn-custom-primary btn-save" disabled><i class="fa fa-save"></i> 保存</button>
										}
										</div>
									</div>
								</fieldset>
								<fieldset class="col-md-6">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">工作经历</h4>
										</div>
										<div class="panel-body">
											<div class="form-group">
												@Html.LabelFor(m => m.EduSubjectPKID, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													@Html.DropDownListFor(m => m.EduSubjectPKID, BzUserProfileHelper.EduSubject.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
												</div>
											</div>
											<div class="form-group">
												@Html.LabelFor(m => m.EduStagePKID, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													@Html.DropDownListFor(m => m.EduStagePKID, BzUserProfileHelper.EduStage.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
												</div>
											</div>
											<div class="form-group">
												@Html.LabelFor(m => m.JobDate, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
														@Html.TextBoxFor(m => m.JobDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
														<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
													</div>
												</div>
											</div>
											<div class="form-group">
												@Html.LabelFor(m => m.SkillTitlePKID, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													@Html.DropDownListFor(m => m.SkillTitlePKID, BzUserProfileHelper.SkillTitle.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
												</div>
											</div>
											<div class="form-group">
												@Html.LabelFor(m => m.SkillDate, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
														@Html.TextBoxFor(m => m.SkillDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
														<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
													</div>
												</div>
												</div>
											<div class="form-group">
												@Html.LabelFor(m => m.CompanyName, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													<span class="form-control details-text">@Model.CompanyName</span>
												</div>
											</div>
											<div class="form-group">
												@Html.LabelFor(m => m.Companyaddress, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													@Html.TextBoxFor(m => m.Companyaddress, new { @class = "form-control" })
													@Html.ValidationMessageFor(m => m.Companyaddress)
												</div>
											</div>
											<div class="form-group">
												@Html.LabelFor(m => m.RankTitlePKID, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													@Html.DropDownListFor(m => m.RankTitlePKID, BzUserProfileHelper.RankTitle.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">联系方式</h4>
										</div>
										<div class="panel-body">
											<div class="form-group">
												@Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
													@Html.ValidationMessageFor(m => m.Email)
												</div>
											</div>
											<div class="form-group">
												@Html.LabelFor(m => m.Phonemobile, new { @class = "col-md-3 control-label" })
												<div class="col-md-9">
													@Html.TextBoxFor(m => m.Phonemobile, new { @class = "form-control" })
													@Html.ValidationMessageFor(m => m.Phonemobile)
												</div>
											</div>
										</div>
									</div>
								</fieldset>
							</div>
						</form>
					</div>
				</div>
				<!-- END WIDGET TABBED CONTENT -->

			</div>
			<!-- /main-content -->
		</div>
		<!-- /main -->
	</div>

		<script>
			$(function () {

				ajaxSubmitForm($('.widget-content form'));

				
				$('select').on('change', function () {
					var $this = $(this);
					var result = showDropErrorIfNotSeclectd($this.val() == 0, $this, $this.data('valRequired'))
					if (!result) return false;
				});

				$('.btn-save').on('click', function () {
					var res = false;
					$('select').each(function () {
						var $this = $(this);
						res = showDropErrorIfNotSeclectd($this.val() == 0, $this, $this.data('valRequired'));
						if (!res) return res;
					});


					if (res){
						$('input').each(function () {
							$(this).parent().parent().removeClass("has-error");
						});
					}

					return res;
				});

			})

			function showDropErrorIfNotSeclectd(error, ele, msg) {
				var dropError = '<span class="field-validation-error"></span>';
				ele.next().html('');
				if (error)
				{
					ele.addClass('input-validation-error');
					ele.after($(dropError).html(msg));
					return false;
				}
				else {
					ele.removeClass('input-validation-error');
					ele.parent().parent().removeClass('has-error');
					return true;
				}
			}


			
		</script>
	