@{
	Layout = "~/Views/Shared/_overView.cshtml";
	var DeclareContent = ViewBag.DeclareContent as List<DeclareContent>;
	var DeclareResume = ViewBag.DeclareResume as List<DeclareResume>;
	var DeclareActive = ViewBag.DeclareActive as List<DeclareActive>;
	var DeclareAchievement = ViewBag.DeclareAchievement as List<DeclareAchievement>;
	var DeclareOrgConst = ViewBag.DeclareOrgConst as List<DeclareOrgConst>;
	var DeclareBase = ViewBag.DeclareBase as DeclareBase;
	var TeamContent = ViewBag.TeamContent as List<TeamContent>;
	var TeamMember = ViewBag.TeamMember as List<TeamMemberModel>;
	var TeamActive = ViewBag.TeamActive as Dictionary<long, TeamActiveViewModel>;
	var TeamProject = ViewBag.TeamProject as TeamProject;
	var HasTeam = (bool)ViewBag.HasTeam;
	var MemberDaList = ViewBag.MemberDaList as List<DeclareActiveDataModel>;
	var MemberDacList = ViewBag.MemberDacList as List<DeclareAchievementDataModel>;
	var proxy = "_proxy";
	var Result = "_Result";
	var Info = "_Info";
	//var Item = "_Item";
	var targetId = DeclareBase.DeclareTargetPKID;
	var userId = DeclareBase.TeacherId;
	var realName = DeclareBase.RealName;
	var user = ViewBag.User as BzUserProfile;
	var pageTitle = ViewBag.Title = realName + "的材料";
}
<div class="col-md-2 left-sidebar">

</div>
<!-- left sidebar -->
<div class="col-md-2 left-sidebar left-sidebar-fixed">
	<!-- main-nav -->
	<nav class="main-nav">
		<ul class="main-menu">
			<li>
				<a href="javascript:;">
					<i class="fa fa-book fa-fw"></i>
					<span class="text">查看材料</span>
				</a>
			</li>
			<!-- WIDGET ACTIVITY FEED -->
			<div class="widget widget-treeview">
				<div class="widget-content">
					<div id="treeview-declare"></div>
				</div>
			</div>
		</ul>
	</nav>
	<!-- /main-nav -->

	<div class="sidebar-minified js-toggle-minified">
		<i class="fa fa-angle-left"></i>
	</div>
</div>
<!-- /left sidebar -->

<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb"></ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-home"></i> @pageTitle</h2>
			<em>查看个人材料</em>
		</div>
		<!-- main-content -->
		<div class="main-content declare-overview">

			<!-- 个人简历  -->
			<a id="@DeclareKeys.ZisFaz_GerXinx@proxy"></a>
			<h3>个人信息</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td><strong>真实姓名</strong></td>
						<td>@user.RealName</td>
						<td><strong>单位</strong></td>
						<td>@user.CompanyName</td>
						<td><strong>出生年月</strong></td>
						<td>@user.Birthday.ToString("yyyy-MM-dd")</td>
					</tr>
					<tr>
						<td><strong>申报称号</strong></td>
						<td>@DeclareBase.DeclareTarget</td>
						<td><strong>申报学段</strong></td>
						<td>@DeclareBase.DeclareStage</td>
						<td><strong>申报学科</strong></td>
						<td>@DeclareBase.DeclareSubject</td>
					</tr>
					<tr>
						<td><strong>任教学段</strong></td>
						<td>@user.EduStage</td>
						<td><strong>任教学科</strong></td>
						<td>@user.EduSubject</td>
						<td><strong>现任专技职称</strong></td>
						<td>@user.SkillTitle</td>
					</tr>
					<tr>
						<td><strong>学历</strong></td>
						<td>@user.EduBg</td>
						<td><strong>学位</strong></td>
						<td>@user.EduDegree</td>
						<td><strong>毕业院校与专业</strong></td>
						<td>@user.GraduateSchool</td>
					</tr>
				</tbody>
			</table>


			<!-- 自我发展计划 -->
			<a id="@TeamKeys.TuanDGerJh@proxy"></a>
			<h3>自我发展计划</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td>
							<strong>第一年计划</strong>
							<p>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView","DeclarePop",new { id = userId, type = AttachmentsKeys.Tuand_GrJih1})" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</p>
						</td>
						<td>
							<strong>第二年计划</strong>
							<p>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView","DeclarePop",new { id = userId, type = AttachmentsKeys.Tuand_GrJih2})" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</p>
						</td>
						<td>
							<strong>第三年计划</strong>
							<p>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView","DeclarePop",new { id = userId, type = AttachmentsKeys.Tuand_GrJih3})" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</p>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- 开设教学公开课 -->
			<a id="@DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk@proxy"></a>
			<h3>公开课</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">年级班级</th>
						<th>课程内容</th>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">组织单位、部门</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk))
					{
					<tr>
						<td>@item.Date.ToString("yyyy-MM-dd")</td>
						<td>@item.Location</td>
						<td>@item.Dynamic1</td>
						<td><p class="text-p-2">@item.ContentValue</p></td>
						<td>@item.Level</td>
						<td>@item.Dynamic2</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view " data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxGongkk })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>


			<!-- 开设指导课 -->
			<a id="@DeclareKeys.ZisFaz_JiaoxHuod_Yantk@proxy"></a>
			<h3>指导课</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">年级班级</th>
						<th>课程内容</th>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">组织部门、负责人</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_Yantk))
					{
					<tr>
						<td>@item.Date.ToString("yyyy-MM-dd")</td>
						<td>@item.Location</td>
						<td>@item.Dynamic1</td>
						<td><p class="text-p-2">@item.ContentValue</p></td>
						<td>@item.Level</td>
						<td>@item.Dynamic2</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_Yantk })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>

			<!-- 开展课题(项目)研究工作 -->
			<a id="@DeclareKeys.ZisFaz_KeyChengg@proxy"></a>
			<a id="@DeclareKeys.ZisFaz_KeyChengg_KetYanj@proxy"></a>
			<h3>项目研究</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">类型</th>
						<th class="width-p-10">主持或参与</th>
						<th>课题(项目)名称</th>
						<th class="width-p-10">负责人</th>
						<th class="width-p-10">立项、结束时间</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareAchievement.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_KetYanj))
					{
					<tr>
						<td>@item.Level</td>
						<td>@PicklistHelper.Dynamic6.GetName(item.Dynamic6)</td>
						<td>
							@if (item.Dynamic1.ToUpper() == "TRUE")
								{
								<span>主持</span>
								}
								else
								{
								<span>参与</span>
								}
						</td>
						<td>@item.NameOrTitle</td>
						<td>@item.Dynamic2</td>
						<td>@item.DateRegion</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_KetYanj })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>


			<!-- 论文发表 -->
			<a id="@DeclareKeys.ZisFaz_KeyChengg_FabLunw@proxy"></a>
			<h3>论文发表</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">发表时间</th>
						<th>论文名称</th>
						<th class="width-p-10">作者名次</th>
						<th class="width-p-10">刊物名称</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareAchievement.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_FabLunw))
					{
					<tr>
						<td>@item.Level</td>
						<td>
							@item.Date
							@*@if (item.Dynamic1.ToUpper() == "TRUE")
								{
									<span>主持</span>
								}
								else
								{
									<span>参与</span>
								}*@
						</td>
						<td>@item.NameOrTitle</td>
						<td>@item.Dynamic2</td>
						<td>@item.Dynamic1</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_FabLunw })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>


			<!-- 开设教师培训课程 (课程开发 20191024) -->
			<a id="@DeclareKeys.ZisFaz_PeixJiangz@proxy"></a>
			<a id="@DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec@proxy"></a>
			<h3>课程开发</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">课程开设时间</th>
						<th>课程名称</th>
						<th class="width-p-10">参加人数</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec))
					{
					<tr>
						<td>@item.Dynamic2</td>
						<td>@item.Date.ToString("yyyy-MM-dd")</td>
						<td>@item.ContentValue</td>
						<td>@item.Dynamic1</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_PeixJiangz_JiaosPeixKec })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>


			<!-- 开设学科类专题讲座 -->
			<a id="@DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz@proxy"></a>
			<h3>专题讲座</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th>讲座主题</th>
						<th class="width-p-10">级别/范围</th>
						<th class="width-p-10">组织单位、部门</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz))
					{
					<tr>
						<td>@item.Date.ToString("yyyy-MM-dd")</td>
						<td>@item.Location</td>
						<td><p class="text-p-2">@item.ContentValue</p></td>
						<td>@item.Level</td>
						<td>@item.Dynamic1</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_PeixJiangz_ZhuantJiangz })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>


			<!-- 学术活动（带教教师 20191024） -->
			<a id="@DeclareKeys.ZisFaz_XuesHuod@proxy"></a>
			<h3>带教教师</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">类型</th>
						<th class="width-p-10">级别</th>
						<th>工作内容</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-15">组织单位、部门/负责人</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_XuesHuod))
					{
					<tr>
						<td>@item.Date.ToString("yyyy-MM-dd")</td>
						<td>@item.Location</td>
						<td>@PicklistHelper.XuesHuodType.GetName(item.Dynamic9)</td>
						<td>@item.Level</td>
						<td><p class="text-p-2">@item.ContentValue</p></td>
						<td>@item.Dynamic1</td>
						<td>@item.Dynamic2</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_XuesHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>


			<!-- 自身发展.市、区级大活动 -->
			<a id="@DeclareKeys.ZisFaz_ShiqjHuod@proxy"></a>
			<h3>自身发展.市、区级大活动</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th>主题/内容</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-15">组织单位、部门/负责人</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_ShiqjHuod))
					{
					<tr>
						<td>@item.Date.ToString("yyyy-MM-dd")</td>
						<td>@item.Location</td>
						<td><p class="text-p-2">@item.ContentValue</p></td>
						<td>@item.Dynamic1</td>
						<td>@item.Dynamic2</td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_ShiqjHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>


			<!-- 自我研修 -->
			<a id="@DeclareKeys.ZisFaz_ZiwYanx@proxy"></a>
			<h3>自我研修</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th>研究内容(读书书名、撰稿题目或其他具体内容)</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_ZiwYanx))
					{
					<tr>
						<td>@item.Date.ToString("yyyy-MM-dd")</td>
						<td>@item.Location</td>
						<td><p class="text-p-2">@item.ContentValue</p></td>
						<td>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_ZiwYanx })" data-target="#firstModal" title="查看附件">查看附件</button>
							</div>
						</td>
					</tr>
					}
				</tbody>
			</table>


			<!-- 有影响力的工作 (亮点特色 20191024) -->
			<a id="@DeclareKeys.ZhidJians_YingxlDeGongz@proxy"></a>
			<h3>亮点特色</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th>主题/内容</th>
						<th class="width-p-10">组织单位/负责人</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZhidJians_YingxlDeGongz))
							{
							<tr>
								<td>@item.Date.ToString("yyyy-MM-dd")</td>
								<td>@item.Location</td>
								<td><p class="text-p-2">@item.ContentValue</p></td>
								<td>@item.Dynamic1</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZhidJians_YingxlDeGongz })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
							}
				</tbody>
			</table>


			<a id="@TeamKeys.TuanDXinx@proxy"></a>
			<h3>团队信息</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td>
							<strong>团队名称</strong>
							<p class="text-p-2">@DeclareBase.TeamName</p>
						</td>
					</tr>
					<tr>
						<td>
							<strong>申报（担任）称号</strong>
							<p class="text-p-2">
								@DeclareBase.DeclareTarget
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<strong>申报学科</strong>
							<p class="text-p-2">
								@DeclareBase.DeclareSubject
							</p>
						</td>
					</tr>
					<tr>
						<td>
							<strong>申报学段</strong>
							<p class="text-p-2">
								@DeclareBase.DeclareStage
							</p>
						</td>
					</tr>
					@*<tr>
							<td>
								<strong>学员数量</strong>
								<p class="text-p-2">
									<a href="#@TeamKeys.TidChengy@proxy">@DeclareBase.MemberCount</a>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<strong>活动数量</strong>
								<p class="text-p-2">
									<a href="#@TeamKeys.DaijHuod@proxy">@DeclareBase.ActiveCount</a>
								</p>
							</td>
						</tr>*@
				</tbody>
			</table>

			@if (HasTeam)
			{
				<!-- 团队.团队成员 -->
				<a id="@TeamKeys.TuanDChengy@proxy"></a>
				<h3>团队成员</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-10">学员</th>
							<th class="width-p-10">称号</th>
							<th class="width-p-10">学科</th>
							<th class="width-p-10">学段</th>
							<th class="width-p-10">单位</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in TeamMember)
						{
						<tr>
							<td><a href="@Url.Action("Overview", "Declare", new { id = item.TeacherId })" target="_blank">@item.RealName</a></td>
							<td>@item.Target</td>
							<td>@item.Subject</td>
							<td>@item.Stage</td>
							<td>@item.CompanyName</td>
						</tr>
						}
					</tbody>
				</table>

				<!-- 团队.团队规划 -->
				<a id="@TeamKeys.TuanDZhidJians@proxy"></a>
				<h3>团队规划</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						<tr>
							<td>
								<strong>三年规划</strong>
								<p>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView","DeclarePop",new { id = userId, type = AttachmentsKeys.Tuand_ZhidJians})" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</p>
							</td>
							<td>
								<strong>学期计划</strong>
								<p>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView","DeclarePop",new { id = userId, type = AttachmentsKeys.XueqJih})" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</p>
							</td>
							<td>
								<strong>学期活动安排</strong>
								<p>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView","DeclarePop",new { id = userId, type = AttachmentsKeys.XueqHuodAnp})" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</p>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- 团队.团队项目 -->
				<a id="@TeamKeys.TuanDZiXiangm@proxy"></a>
				<h3>团队项目	</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						<tr>
							<th class="width-p-10">项目名称</th>
							<th class="width-p-10">申报人单位</th>
							<th class="width-p-10">申报人</th>
							<th class="width-p-10">填表日期</th>
							<th class="width-p-10">主持或参与</th>
							<th class="width120">操作</th>
						</tr>
						@if (null != TeamProject)
						{
							<tr>
								<td>
									@TeamProject.ProjectName
								</td>
								<td>
									@TeamProject.DeclareCompany
								</td>
								<td>
									@TeamProject.DeclareUser
								</td>
								<td>
									@TeamProject.FillDate
								</td>
								<td>
									@TeamProject.Dynamic1
								</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = userId, type = AttachmentsKeys.Tuand_Xiangm_Kait })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
						</tbody>
					</table>

				<!-- 团队.团队活动 -->
					<a id="@TeamKeys.YanxHuod@proxy"></a>
					<h3>团队活动</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<tbody>
							@foreach (var item in TeamActive.Values)
						{
						<tr>
							<td>
								<div class="widget-content">
									<h4><strong>@item.Title</strong></h4>
									<ul class="nav nav-tabs nav-tabs-custom-colored" role="tablist">
										<li class="active"><a href="#@item.TeamActiveId@Info" role="tab" data-toggle="tab" aria-expanded="true">活动信息</a></li>
										<li class=""><a href="#@item.TeamActiveId@Result" role="tab" data-toggle="tab" aria-expanded="false">学员成果</a></li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade active in" id="@item.TeamActiveId@Info">
											<h5><strong>【@item.TypeName】</strong> @item.Date.ToString("yyyy-MM-dd")</h5>
											<div>
												@Html.Raw(item.ContentValue)
											</div>
											<div style="margin-top: 20px;">
												<button class="btn form-padding btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.TeamActiveId, type = AttachmentsKeys.YanXHuod_Edit })" data-target="#firstModal" title="查看附件">查看附件</button>
											</div>
										</div>
										<div class="tab-pane fade" id="@item.TeamActiveId@Result">
											<table class="table table-bordered table-condensed">
												<thead>
													<tr>
														<th class="width-p-10">姓名</th>
														<th>学员成果</th>
														<th class="width120">操作</th>
													</tr>
												</thead>
												<tbody>
													@foreach (var it in item.Result)
														{
														<tr>
															<td>@it.MemberName</td>
															<td>
																<p class="text-p-2">@it.ActiveResult</p>
															</td>
															<td>
																<div class="btn-group btn-group-xs">
																	<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = it.ResultId, type = AttachmentsKeys.YanXHuod_XueyChengg })" data-target="#firstModal" title="查看附件">查看附件</button>
																</div>
															</td>
														</tr>
}
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</td>
						</tr>
						}
						</tbody>
					</table>

			}
			else
			{
				<a id="@TeamKeys.TuanDZiXiangm@proxy"></a>
				<h3>团队子项目</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<tbody>
							<tr>
								<th class="width-p-10">项目名称</th>
								<th class="width-p-10">申报人单位</th>
								<th class="width-p-10">申报人</th>
								<th class="width-p-10">填表日期</th>
								<th class="width-p-10">主持或参与</th>
								<th class="width120">操作</th>
							</tr>
							@if (TeamProject != null)
							{
							<tr>
								<td>
									@TeamProject.ProjectName
								</td>
								<td>
									@TeamProject.DeclareCompany
								</td>
								<td>
									@TeamProject.DeclareUser
								</td>
								<td>
									@TeamProject.FillDate
								</td>
								<td>
									@TeamProject.Dynamic1
								</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = userId, type = AttachmentsKeys.Tuand_Xiangm_Kait })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
							}
						</tbody>
					</table>

			}
		</div>

		<!-- /main-content -->
		<a class="btn btn-md btn-custom-primary hidden" id="aProxy" href="#">代理</a>
	</div>
	<!-- /main -->

</div>

@section Modals {
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}

@section Plugins{
	@Scripts.Render("~/js/jstree")
}

@section Scripts{
	<script>
		$(function () {

			var $treeviewApp = $('#treeview-declare');

			$('#aProxy').attr('href', '#proxy');

			$treeviewApp.jstree({
				'core': {
					'data': {
						'url': '/Json/GetViewMenu?userId=' + @userId,
					},
					'check_callback': true,
				},
				'plugins': ['contextmenu', 'types'],
				'types': {
					'root': {
						'icon': 'fa fa-desktop'
					},
					'default': {
						'icon': 'fa fa-folder yellow-font'
					},
					'database': {
						'icon': 'fa fa-database yellow-font'
					},
					'table': {
						'icon': 'fa fa-table green-font'
					},
					'view': {
						'icon': 'fa fa-search text-primary'
					},
					'procedure': {
						'icon': 'fa fa-play-circle green-font'
					},
					'key': {
						'icon': 'fa fa-key text-primary'
					},
					'folder': {
						'icon': 'fa fa-folder yellow-font'
					},
					'content': {
						'icon': 'fa fa-pencil-square-o text-primary'
					},
					'active': {
						'icon': 'fa fa-table green-font'
					},
				}

			}).on('loaded.jstree', function (e, data) {
				$treeviewApp.jstree('open_all');
				//$treeviewApp.jstree('open_node', '#root');
			}).on('changed.jstree', function (e, data) {
				$('#aProxy').attr('href', '#' + data.selected + '@proxy');
				$('#aProxy')[0].click();
			});

		});
	</script>

}




