@model List<DeclareAchievement>
@{ 
	var pageTitle = ViewBag.Title = DeclareKeys.ZisFaz_KeyChengg;
}

<div class="alert alert-info alert-dismissable">
	<a href="" class="close">&times;</a>
	<strong>提示！</strong> 可以逐级展开或点选左侧材料填写项目树的节点，进行指定项目的内容填写。
</div>

<!-- WIDGET TABBED CONTENT -->
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-paperclip"></i> @DeclareKeys.ZisFaz_KeyChengg_KetYanj</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">

		<div class="table-responsive">
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>级别</th>
						<th>主持或参与</th>
						<th>课题(项目)名称</th>
						<th>负责人</th>
						<th>立项、结束时间</th>
						<th class="width240">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_KetYanj))
					{
						<tr>
							<td>@item.Level</td>
							<td>
							 <span>@item.Dynamic3</span>
							</td>
							<td>@item.NameOrTitle</td>
							<td>@item.Dynamic2</td>
							<td>@item.DateRegion</td>
							<td>
								<div class="btn-group btn-group-xs pull-right">
									@*@if (item.IsDeclare)
									{
										<button class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareAchievement", "DeclareMaterial", new { id = item.DeclareAchievementId, isDeclare = false })">取消申报</button>
									}
									else
									{
										<button class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareAchievement", "DeclareMaterial", new { id = item.DeclareAchievementId, isDeclare = true })">申报</button>
									}*@
									@*@if (item.IsShare)
									{
										<button class="btn btn-custom-secondary btn-share" data-url="@Url.Action("ShareAchievement", "Declare", new { id = item.DeclareAchievementId, isShare = false })">取消共享</button>
									}
									else
									{
										<button class="btn btn-custom-secondary btn-share" data-url="@Url.Action("ShareAchievement", "Declare", new { id = item.DeclareAchievementId, isShare = true })">共享</button>
									}*@
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_KetYanj })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	</div>
</div>
<!-- END WIDGET TABBED CONTENT -->


<!-- WIDGET TABBED CONTENT -->
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-paperclip"></i> @DeclareKeys.ZisFaz_KeyChengg_FabLunw</h3>
		<div class="btn-group widget-header-toolbar">
			<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
		</div>
	</div>
	<div class="widget-content">

		<div class="table-responsive">
			<table class="table table-condensed table-striped table-hover">
				<thead>
					<tr>
						<th>级别</th>
						<th>发表时间</th>
						<th>论文名称</th>
						<th>作者名次</th>
						<th>刊物名称</th>
						<th class="width240">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_FabLunw))
					{
						<tr>
							<td>@item.Level</td>
							<td>@item.Date</td>
							<td>@item.NameOrTitle</td>
							<td>@item.Dynamic2</td>
							<td>@item.Dynamic1</td>
							<td>
								<div class="btn-group btn-group-xs pull-right">
									@*@if (item.IsDeclare)
									{
										<button class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareAchievement", "DeclareMaterial", new { id = item.DeclareAchievementId, isDeclare = false })">取消申报</button>
									}
									else
									{
										<button class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareAchievement", "DeclareMaterial", new { id = item.DeclareAchievementId, isDeclare = true })">申报</button>
									}
									@if (item.IsShare)
									{
										<button class="btn btn-custom-secondary btn-share" data-url="@Url.Action("ShareAchievement", "Declare", new { id = item.DeclareAchievementId, isShare = false })">取消共享</button>
									}
									else
									{
										<button class="btn btn-custom-secondary btn-share" data-url="@Url.Action("ShareAchievement", "Declare", new { id = item.DeclareAchievementId, isShare = true })">共享</button>
									}*@
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_FabLunw })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div> 
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

	</div>
</div>
<!-- END WIDGET TABBED CONTENT -->


@Html.Partial("../Utilities/_partialJS")