@model List<DeclareActive>
@{
	var pageTitle = ViewBag.Title = "历史库";
	var isGongkk = Request["itemKey"] == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk;
	var isPingb = Request["itemKey"] == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb;
	var isXuekMingt = Request["itemKey"] == DeclareKeys.PeihJiaoyyGongz_XuekMingt;
	var isXuesHuoD = Request["itemkey"] == DeclareKeys.ZisFaz_XuesHuod;
	var isFahZuoy = Request["itemkey"] == DeclareKeys.JiaoyJiaox_JiaoyHuod_FahZuoy;
	var isPeixKec = Request["itemkey"] == DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec;
	var isJiangZ = Request["itemkey"] == DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz;
	var isJibGong = Request["itemkey"] == DeclareKeys.Qit_JibGongZshiHuoj;
	var isZonghXingRyu = Request["itemkey"] == DeclareKeys.Qit_ZonghxingRongy;
	var isJianxJiaosPingx= Request["itemkey"] == DeclareKeys.Qit_JianxJiaosPingx;
	var isJianxJiaosDasHuoj = Request["itemkey"] == DeclareKeys.Qit_JianxJiaosDasHuoj;

	var declareTargetId = Request["declareTargetId"];
}

<div class="modal-dialog modal-lg">
	<!-- widget -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
			<div class="btn-group widget-header-toolbar">
				<a href="#" title="关闭" class="btn-borderless" data-dismiss="modal"><i class="fa fa-close"></i></a>
			</div>
		</div>
		<div class="widget-content">
			<!-- Grid -->
			<div class="table-responsive">
				@if (isGongkk)
				{
					<table class="table table-striped table-hover ">
						<thead>
								<tr>
								<th class="width120">时间</th>
								<th class="width180">地点</th>
								<th class="width180">班级</th>
								<th style="width:600px">课题/内容</th>
								<th class="width180">级别</th>
								<th class="width180">组织、单位</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@item.Date.ToString("yyyy-MM-dd")
									</td>
									<td>
										@item.Location
									</td>
									<td>
										@item.Dynamic1
									</td>
									<td>
										@item.ContentValue
									</td>
									<td>
										@item.Level
									</td>
									<td>
										@item.Dynamic2
									</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
}
						</tbody>
					</table>
					}
				else if (isPingb)
				{
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<th  class="width120">时间</th>
								<th class="width180">地点、班级</th>
								<th  style="width:600px">课题/内容</th>
								<th class="width180">级别</th>
								<th class="width180">组织、单位</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@item.Date.ToString("yyyy-MM-dd")
									</td>
									<td>
										@item.Location
									</td>
									<td>
										@item.ContentValue
									</td>
									<td>
										@item.Level
									</td>
									<td>
										@item.Dynamic2
									</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
}
						</tbody>
					</table>
					}
				else if (isXuekMingt)
				{
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<th  class="width120">时间</th>
								<th>年级</th>
								<th>级别</th>
								<th>工作内容</th>
								<th>参加对象</th>
								@*<th class="width180">组织单位、部门/负责人</th>*@
								<th class="width240">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@item.Date.ToString("yyyy-MM-dd")
									</td>
									<td>
										@item.Dynamic2
									</td>
									<td>
										@item.Level
									</td>
									<td>
										@item.ContentValue
									</td>
									<td>
										@item.Dynamic3
									</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
}
						</tbody>
					</table>
					}
				else if (isXuesHuoD)
				{
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<th class="width120">时间</th>
								<th class="width180">地点</th>
								<th class="width180">类型</th>
								<th class="width180">级别</th>
								<th style="width:600px">工作内容</th>
								<th class="width180">参加对象</th>
								<th class="width180">组织单位、部门/负责人</th>
								<th class="width240">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Location</td>
									<td>@PicklistHelper.XuesHuodType.GetName(item.Dynamic9)</td>
									<td>@item.Level</td>
									<td>@item.ContentValue</td>
									<td>@item.Dynamic1</td>
									<td>@item.Dynamic2</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
}
						</tbody>
					</table>
					}
				else if (isFahZuoy)
				{
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th class="width180">时间</th>
								<th class="width180">地点</th>
								<th class="width180">级别</th>
								<th style="width:600px">工作内容</th>
								<th class="width180">参加对象</th>
								<th class="width180">组织单位、部门</th>
								<th class="width240">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@item.Date.ToString("yyyy-MM-dd")
									</td>
									<td>
										@item.Location
									</td>
									<td>
										@item.Level
									</td>
									<td>
										@item.ContentValue
									</td>
									<td>
										@item.Dynamic1
									</td>
									<td>
										@item.Dynamic2
									</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
}
						</tbody>
					</table>
					}
				else if (isPeixKec)
				{
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th class="width180">级别</th>
								<th class="width180">课程开设时间</th>
								<th style="width:700px">课程名称</th>
								<th class="width180">参加人数</th>
								<th class="width240">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@item.Dynamic2
									</td>
									<td>
										@item.Date.ToString("yyyy-MM-dd")
									</td>
									<td>
										@item.ContentValue
									</td>
									<td>
										@item.Dynamic1
									</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
}
						</tbody>
					</table>
					}
				else if (isJiangZ)
				{
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th class="width180">时间</th>
								<th class="width180">地点</th>
								<th style="width:700px">讲座主题</th>
								<th class="width180">级别/范围</th>
								<th class="width180">组织单位、部门</th>
								<th class="width240">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>
										@item.Date.ToString("yyyy-MM-dd")
									</td>
									<td>
										@item.Location
									</td>
									<td>
										@item.ContentValue
									</td>
									<td>
										@item.Level
									</td>
									<td>
										@item.Dynamic1
									</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
}
						</tbody>
					</table>
					}
				else if (isJibGong)
				{
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th class="width180">时间</th>
								<th style="width:500px">奖项名称</th>
								<th class="width180">奖项类别、等第</th>
								<th class="width240">组织单位、部门/负责人</th>
								<th class="width400">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
							<tr>
								<td>
									@item.Date.ToString("yyyy-MM-dd")
								</td>
								<td>
									@item.ContentValue
								</td>
								<td>
									@item.Dynamic1
								</td>
								<td>
									@item.Dynamic2
								</td>
								<td>
									<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
								</td>
							</tr>
							}
						</tbody>
					</table>
				}
				else if (isZonghXingRyu)
				{
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th class="width180">时间</th>
								<th class="width180">级别</th>
								<th style="width:500px">荣誉名称</th>
								<th class="width180">组织单位、部门/负责人</th>
								<th class="width400">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Level</td>
									<td>@item.ContentValue</td>
									<td>@item.Dynamic1</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else if (isJianxJiaosPingx)
				{
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th class="width180">时间</th>
								<th class="width180">级别</th>
								<th style="width:500px">奖项名称</th>
								<th class="width180">组织单位、部门/负责人</th>
								<th class="width400">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Level</td>
									<td>@item.ContentValue</td>
									<td>@item.Dynamic1</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
				else if (isJianxJiaosDasHuoj)
				{
					<table class="table table-condensed table-striped table-hover">
						<thead>
							<tr>
								<th class="width180">时间</th>
								<th class="width180">级别</th>
								<th style="width:500px">奖项名称</th>
								<th class="width180">奖项等第</th>
								<th class="width180">组织单位、部门/负责人</th>
								<th class="width400">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Level</td>
									<td>@item.ContentValue</td>
									<td>@item.Dynamic2</td>
									<td>@item.Dynamic1</td>
									<td>
										<a target="_blank" class="btn btn-warning btn-declare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=true, declareTargetId= declareTargetId })" href="#"><i class="fa fa-external-link"></i>申报</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				}
			</div>
			<!-- end Grid-->
		</div>
		<!-- /widget content -->
	</div>
	<!-- /widget -->
</div>
<script>
	$(function () {

		bindDeclareOrCancel();

	});
</script>