@model DeclareItemsViewModel
@{
	var activeItems = Model.DeclareActives as List<DeclareActive>;
	var archievement = Model.DeclareAchievements as List<DeclareAchievement>;
	var gongkKe = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk);
	var jiaoxPingb = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb);
	var xuekMingt = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.PeihJiaoyyGongz_XuekMingt);
	var pingbHuoj = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_XuesHuod);
	var fahZuoy = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.JiaoyJiaox_JiaoyHuod_FahZuoy);
	var ketYanjGongz = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_KetYanj);
	var fabLunw = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_FabLunw);
	var peixKec = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec);
	var jiangz = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz);
	var lunzQingk = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_LunzQingk);
	var qitShenf = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.GerTes_QitShenf);
	var xueyChengz = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.GerTes_XueyChengz);
	var declareTargetId = Model.DeclareTargetId;
}
<!-- 教育教学 -->
<div class="tab-pane fade itmes" id="tab2">
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-公开课 （最多填两项）</h3>
			@if (gongkKe != null && gongkKe.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right" data-url="@Url.Action("ZisFaz_JiaoxHuod_JiaoxGongkk", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">新增申报</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareActiveList", "DeclareMaterial",new { itemKey =DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">历史库</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">时间</th>
							<th class="width180">地点</th>
							<th class="width180">班级</th>
							<th style="width:500px">课题/内容</th>
							<th class="width180">级别</th>
							<th class="width180">组织单位、部门</th>
							<th class="width400">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in gongkKe)
						{
							<tr>
								<td>
									@item.Date.ToString("yyyy-MM-dd")
								</td>
								<td>
									@item.Location
								</td>
								<td>
									@item.Dynamic1
								</td>
								<td>
									@item.ContentValue
								</td>
								<td>
									@item.Level
								</td>
								<td>
									@item.Dynamic2
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("ZisFaz_JiaoxHuod_JiaoxGongkk", "DeclarePop",new {id=item.DeclareActiveId, declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxGongkk })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-教育教学评比 （最多填两项）</h3>
			@if (jiaoxPingb != null && jiaoxPingb.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right" data-url="@Url.Action("ZisFaz_JiaoxHuod_JiaoxPingb", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">新增申报</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareActiveList", "DeclareMaterial",new { itemKey =DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">
					历史库
				</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">时间</th>
							<th class="width180">年级</th>
							<th style="width:500px">工作内容</th>
							<th class="width180">奖项名称、等第</th>
							<th class="width180">参加对象</th>
							<th class="width300">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in jiaoxPingb)
						{
							<tr>
								<td>
									@item.Date.ToString("yyyy-MM-dd")
								</td>
								<td>
									@item.Location
								</td>
								<td>
									@item.ContentValue
								</td>
								<td>
									@item.Dynamic2
								</td>
								<td>
									@item.Dynamic1
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("ZisFaz_JiaoxHuod_JiaoxPingb", "DeclarePop",new {id=item.DeclareActiveId, declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxPingb })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-学科命题 （最多填两项）</h3>
			@if (xuekMingt != null && xuekMingt.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right" data-url="@Url.Action("PeihJiaoyyGongz_XuekMingt", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">新增申报</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareActiveList", "DeclareMaterial",new { itemKey =DeclareKeys.PeihJiaoyyGongz_XuekMingt, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">
					历史库
				</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">时间</th>
							<th class="width180">年级</th>
							<th class="width180">级别</th>
							<th style="width:500px">工作内容</th>
							<th class="width180">参加对象</th>
							<th class="width240">组织单位、部门/负责人</th>
							<th class="width400">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in xuekMingt)
						{
							<tr>
								<td>
									@item.Date.ToString("yyyy-MM-dd")
								</td>
								<td>
									@item.Dynamic2
								</td>
								<td>
									@item.Level
								</td>
								<td>
									@item.ContentValue
								</td>
								<td>
									@item.Dynamic3
								</td>
								<td>
									-
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("PeihJiaoyyGongz_XuekMingt", "DeclarePop",new {id=item.DeclareActiveId, declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.PeihJiaoyyGongz_XuekMingt })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-评委工作或评比获奖（最多填两项）</h3>
			@if (pingbHuoj != null && pingbHuoj.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right " data-url="@Url.Action("ZisFaz_XuesHuod", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">新增申报</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareActiveList", "DeclareMaterial",new { itemKey =DeclareKeys.ZisFaz_XuesHuod, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">
					历史库
				</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">时间</th>
							<th class="width180">地点</th>
							<th class="width180">类型</th>
							<th class="width180">级别</th>
							<th style="width:500px">工作内容</th>
							<th class="width180">参加对象</th>
							<th class="width180">组织单位、部门/负责人</th>
							<th class="width400">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in pingbHuoj)
						{
							<tr>
								<td>@item.Date.ToString("yyyy-MM-dd")</td>
								<td>@item.Location</td>
								<td>@PicklistHelper.XuesHuodType.GetName(item.Dynamic9)</td>
								<td>@item.Level</td>
								<td>@item.ContentValue</td>
								<td>@item.Dynamic1</td>
								<td>@item.Dynamic2</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("ZisFaz_XuesHuod", "DeclarePop",new {id=item.DeclareActiveId, declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_XuesHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT -->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育教学-教研活动（最多填两项）</h3>
			@if (fahZuoy != null && fahZuoy.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right" data-url="@Url.Action("Shenb_JiaoyHuod_FahZuoy", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">
					新增申报
				</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareActiveList", "DeclareMaterial",new { itemKey =DeclareKeys.JiaoyJiaox_JiaoyHuod_FahZuoy, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">
					历史库
				</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">时间</th>
							<th class="width180">地点</th>
							<th class="width180">级别</th>
							<th style="width:500px">工作内容</th>
							<th class="width180">参加对象</th>
							<th class="width180">组织单位、部门</th>
							<th class="width400">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in fahZuoy)
						{
							<tr>
								<td>
									@item.Date.ToString("yyyy-MM-dd")
								</td>
								<td>
									@item.Location
								</td>
								<td>
									@item.Level
								</td>
								<td>
									@item.ContentValue
								</td>
								<td>
									@item.Dynamic1
								</td>
								<td>
									@item.Dynamic2
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("Shenb_JiaoyHuod_FahZuoy", "DeclarePop",new {id=item.DeclareActiveId, declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.Shenb_JiaoyHuod_FahZuoy })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->

	<div class="col-md-offset-5">
		<button class="btn btn-custom-primary btn-fake"><i class="fa fa-save"></i> 保存</button>
	</div>
</div>

<!-- 教育科研和教师培训 -->
<div class="tab-pane fade" id="tab3">

	<!-- WIDGET TABBED CONTENT 开展课题(项目)研究工作-->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育科研-开展课题(项目)研究工作 （最多填两项）</h3>
			@if (ketYanjGongz != null && ketYanjGongz.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right" data-url="@Url.Action("ZisFaz_KeyChengg_KetYanj", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">
					新增申报
				</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareAchievementList", "DeclareMaterial",new { itemKey =DeclareKeys.ZisFaz_KeyChengg_KetYanj, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">
					历史库
				</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">级别</th>
							<th class="width180">类型</th>
							<th class="width180">主持或参与</th>
							<th style="width:600px">课题、项目名称</th>
							<th class="width180">负责人</th>
							<th class="width180">立项、结束时间</th>
							<th class="width400">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in ketYanjGongz)
						{
							<tr>
								<td>
									@item.Level
								</td>
								<td>
									@PicklistHelper.Dynamic6.GetName(@item.Dynamic6)
								</td>
								<td>
									@(item.Dynamic1 == "True" ? "是" : "否")
								</td>
								<td>
									@item.NameOrTitle
								</td>
								<td>
									@item.Dynamic2
								</td>
								<td>
									@item.DateRegion
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("ZisFaz_KeyChengg_KetYanj", "DeclarePop",new {id=item.DeclareAchievementId, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareAchievement", "DeclareMaterial", new {id=item.DeclareAchievementId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_KetYanj })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT 发表论文-->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教育科研-发表论文 （最多填两项）</h3>
			@if (fabLunw != null && fabLunw.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right" data-url="@Url.Action("ZisFaz_KeyChengg_FabLunw", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">
					新增申报
				</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareAchievementList", "DeclareMaterial",new { itemKey =DeclareKeys.ZisFaz_KeyChengg_FabLunw, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">
					历史库
				</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">级别</th>
							<th class="width180">发表时间</th>
							<th style="width:600px">论文名称</th>
							<th class="width180">作者名次</th>
							<th class="width180">刊物名称</th>
							<th class="width400">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in fabLunw)
						{
							<tr>
								<td>
									@item.Level
								</td>
								<td>
									@item.Date
								</td>
								<td>
									@item.NameOrTitle
								</td>
								<td>
									@item.Dynamic2
								</td>
								<td>
									@item.Dynamic1
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("ZisFaz_KeyChengg_FabLunw", "DeclarePop",new {id=item.DeclareAchievementId, declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareAchievement", "DeclareMaterial", new {id=item.DeclareAchievementId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_FabLunw  })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT 教师培训课程-->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教师培训-开设教师培训课程 （最多填两项）</h3>
			@if (peixKec != null && peixKec.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right" data-url="@Url.Action("ZisFaz_PeixJiangz_JiaosPeixKec", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">
					新增申报
				</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareActiveList", "DeclareMaterial",new { itemKey =DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">
					历史库
				</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">级别</th>
							<th class="width180">课程开设时间</th>
							<th style="width:700px">课程名称</th>
							<th class="width180">参加人数</th>
							<th class="width400">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in peixKec)
						{
							<tr>
								<td>
									@item.Dynamic2
								</td>
								<td>
									@item.Date.ToString("yyyy-MM-dd")
								</td>
								<td>
									@item.ContentValue
								</td>
								<td>
									@item.Dynamic1
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("ZisFaz_PeixJiangz_JiaosPeixKec", "DeclarePop",new {id=item.DeclareActiveId, declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_KeyChengg_FabLunw  })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->
	<!-- WIDGET TABBED CONTENT 学术讲座-->
	<div class="widget">
		<div class="widget-header">
			<h3><i class="fa fa-paperclip"></i>教师培训-开设学术讲座 （最多填两项）</h3>
			@if (jiangz != null && jiangz.Count < 2)
			{
				<a class="btn btn-warning btn-sm pull-right" data-url="@Url.Action("ZisFaz_PeixJiangz_ZhuantJiangz", "DeclarePop",new { declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">
					新增申报
				</a>
				<a class="btn btn-info btn-sm pull-right" data-url="@Url.Action("DeclareActiveList", "DeclareMaterial",new { itemKey =DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz, declareTargetId=declareTargetId})" data-toggle="ajax-modal" data-target="#firstModal">
					历史库
				</a>
			}
		</div>
		<div class="widget-content">
			<div class="table-responsive">
				<table class="table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th class="width180">时间</th>
							<th class="width180">地点</th>
							<th style="width:700px">讲座主题</th>
							<th class="width180">级别/范围</th>
							<th class="width180">组织单位、部门</th>
							<th class="width400">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in jiangz)
						{
							<tr>
								<td>
									@item.Date.ToString("yyyy-MM-dd")
								</td>
								<td>
									@item.Location
								</td>
								<td>
									@item.ContentValue
								</td>
								<td>
									@item.Level
								</td>
								<td>
									@item.Dynamic1
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-success btn-sm" data-url="@Url.Action("ZisFaz_PeixJiangz_ZhuantJiangz", "DeclarePop",new {id=item.DeclareActiveId, declareTargetId=declareTargetId })" data-toggle="ajax-modal" data-target="#firstModal">编辑</a>
										<a target="_blank" class="btn btn-warning btn-sm  btn-cancelDeclare" data-url="@Url.Action("DeclareActive", "DeclareMaterial", new {id=item.DeclareActiveId, isDeclare=false, declareTargetId = declareTargetId })" href="#">取消申报</a>
										<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_PeixJiangz_ZhuantJiangz  })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- END WIDGET TABBED CONTENT -->

	<div class="col-md-offset-5">
		<button class="btn btn-custom-primary btn-fake"><i class="fa fa-save"></i> 保存</button>
	</div>
</div>

@section Modals {
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}
<script>
	function loadFrag(obj) {

		refreshDeclareItems('@declareTargetId', '@Model.View');

		$('#firstModal').modal('hide');
	}

	$(function () {

		bindDeclareOrCancel();

		$('.btn-fake').on('click', function () {
			popupMessage({ result: '@AjaxResults.Success', msg: '保存成功！ ' })
		});
	});
</script>
