@model BzUserProfile
<!-- WIDGET TABBED CONTENT -->
<form id="FormProfile" action="@Url.Action("BasicProfileEdit", "DeclareMaterial" )" method="post" class="form-horizontal form-group-sm" role="form" novalidate="novalidate"  data-after-success="afterDialogSuccess()">
	@Html.HiddenFor(x => x.TargetId)
	@Html.HiddenFor(x => x.StatusKey)
	<input data-val="true" data-val-number="字段 修改周期ID 必须是一个数字。" data-val-required="修改周期ID 字段是必需的。" id="PeriodId" name="PeriodId" type="hidden" value="0">
	<div class="row">
		<fieldset class="col-md-6">
			<div>
				<div class="form-group">
					@Html.LabelFor(m => m.RealName, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.TextBoxFor(m => m.RealName, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.GenderPKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.GenderPKID, BzUserProfileHelper.Gender.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Birthday, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
							@Html.TextBoxFor(m => m.Birthday, "{0:yyyy-MM-dd}", new { @class = "form-control" })
							<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
						</div>
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.CompanyName, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.CompanyId, CompanyHelper.GetCompanySelectList(), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.TrainNo, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.TextBoxFor(m => m.TrainNo, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.PoliticalStatusPKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.PoliticalStatusPKID, BzUserProfileHelper.PoliticalStatus.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.CourseCountPerWeek, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.TextBoxFor(m => m.CourseCountPerWeek, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.EduBgPKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.EduBgPKID, BzUserProfileHelper.EduBg.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.EduDegreePKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.EduDegreePKID, BzUserProfileHelper.EduDegree.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
			</div>
		</fieldset>
		<fieldset class="col-md-6">
			<div>
				<div class="form-group">
					@Html.LabelFor(m => m.NationalityPKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.NationalityPKID, BzUserProfileHelper.Nationality.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.EduSubjectPKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.EduSubjectPKID, BzUserProfileHelper.EduSubject.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.EduStagePKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.EduStagePKID, BzUserProfileHelper.EduStage.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.SkillTitlePKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.SkillTitlePKID, BzUserProfileHelper.SkillTitle.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.RankTitlePKID, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.RankTitlePKID, BzUserProfileHelper.RankTitle.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Hiredate, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						<div class="input-group date" data-provide="datepicker" data-date-language="zh-CN" data-date-format="yyyy-mm-dd" data-date-autoclose="true">
							@Html.TextBoxFor(m => m.Hiredate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
							<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
						</div>
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Phonemobile, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.TextBoxFor(m => m.Phonemobile, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Phone, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
					<div class="col-md-9">
						@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">市“双名工程”上一轮人才梯队任职情况</h4>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<div class="col-md-3">
					@Html.RadioButton("Dynamic4", DeclareKeys.GaofJihZhucRen, Model.Dynamic4 == DeclareKeys.GaofJihZhucRen, new { @style = "vertical-align:middle;width:20px;height:20px" })
					&nbsp;&nbsp;<span style="vertical-align:middle;">“高峰计划”主持人</span>
				</div>
				<div class="col-md-3">
					@Html.RadioButton("Dynamic4", DeclareKeys.GonggJihZhucRen, Model.Dynamic4 == DeclareKeys.GonggJihZhucRen, new { @style = "vertical-align:middle;width:20px;height:20px" })
					&nbsp;&nbsp;<span style="vertical-align:middle;">“攻关计划”主持人</span>
				</div>
				<div class="col-md-3">
					@Html.RadioButton("Dynamic4", DeclareKeys.GaodLisz, Model.Dynamic4 == DeclareKeys.GaodLisz, new { @style = "vertical-align:middle;width:20px;height:20px" })
					&nbsp;&nbsp;<span style="vertical-align:middle;">上一轮是学科高地理事长</span>
				</div>
				<div class="col-md-3">
					@Html.RadioButton("Dynamic4", DeclareKeys.JidZhucr, Model.Dynamic4 == DeclareKeys.JidZhucr, new { @style = "vertical-align:middle;width:20px;height:20px" })
					&nbsp;&nbsp;<span style="vertical-align:middle;">上一轮是学科培训基地主持人</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-5">
			<button type="submit" id="submit" class="btn btn-lg btn-custom-primary btn-save"><i class="fa fa-save"></i> 保存</button>
		</div>
	</div>
</form>
<script>

	function afterDialogSuccess() {
		//如果提交则刷新页面
		if ($('#StatusKey').val() != '') {
			location.href = location.href;
		}
	}

	$(function () {

		ajaxSubmitForm($('#FormProfile'));

		bindMulitSelection($('#FormProfile').find('select'));

	});
	
</script>