@model DeclareReview
@{
	var typeKey = HttpUtility.UrlDecode(Model.TypeKey);
}
<form action="@Url.Action("ReviewEdit", "DeclareMaterial")" method="post" class="form-horizontal form-group-sm" role="form" novalidate="novalidate" id="FormIndex" data-after-success="afterSaveSuccess()">
	<input data-val="true" data-val-number="字段 修改周期ID 必须是一个数字。" data-val-required="修改周期ID 字段是必需的。" id="PeriodId" name="PeriodId" type="hidden" value="0">
	<div class="row">
		<fieldset class="col-md-9">
			<div>
				@Html.HiddenFor(m => m.DeclareReviewId)
				@Html.HiddenFor(m => m.TeacherId)
				@Html.HiddenFor(m => m.StatusKey)
				@Html.Hidden("TypeKey", typeKey)
				@Html.HiddenFor(m => m.DeclareTargetPKID)
				<div class="form-group">
					@Html.LabelFor(m => m.DeclareTargetPKID, new { @class = "col-md-2 control-label" })
					<div class="col-md-9">
						<strong>@Html.Label("DeclareTarget", DeclareBaseHelper.DeclareTarget.GetName(Model.DeclareTargetPKID))</strong>
					</div>
				</div>
				<div class="form-group">
					@Html.Label("teacherName", "姓名", new { @class = "col-md-2 control-label" })
					<div class="col-md-9">
						@Html.TextBoxFor(m => m.TeacherName, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.TeacherName)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(m => m.CompanyId, new { @class = "col-md-2 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.CompanyId, CompanyHelper.GetCompanySelectList(), new { @class = "form-control" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(m => m.DeclareSubjectPKID, new { @class = "col-md-2 control-label" })
					<div class="col-md-9">
						@Html.DropDownListFor(m => m.DeclareSubjectPKID, BzUserProfileHelper.DeclareSubject.GetSelectList(noneLabel: "-- 未选 --"), new { @class = "form-control" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(m => m.AllowFlowToSchool, new { @class = "col-md-2 control-label" })
					<div class="col-md-9">
						&nbsp;&nbsp;是 @Html.RadioButton("AllowFlowToSchool", true, Model.AllowFlowToSchool, new { @style = "width:15px; height:15px;" })
						&nbsp;&nbsp;否 @Html.RadioButton("AllowFlowToSchool", false, !Model.AllowFlowToSchool, new { @style = "width:15px; height:15px;" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.AllowFlowToDowngrade, new { @class = "col-md-2 control-label" })
					<div class="col-md-9">
						&nbsp;&nbsp;是 @Html.RadioButton("AllowFlowToDowngrade", true, Model.AllowFlowToDowngrade, new { @style = "width:15px; height:15px;" })
						&nbsp;&nbsp;否 @Html.RadioButton("AllowFlowToDowngrade", false, !Model.AllowFlowToDowngrade, new { @style = "width:15px; height:15px;" })
						@*@Html.CheckBoxFor(m => m.AllowFlowToDowngrade, new { @style = "width:20px; height:20px;" })*@
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(m => m.Reason, new { @class = "col-md-2 control-label" })
					<div class="col-md-9">
						专业发展自我陈述（包括：本人教育理念、实践探索、教书育人成效等。500字左右。）
						@Html.TextAreaFor(m => m.Reason, 30, 10, new { @class = "form-control" })
					   @Html.ValidationMessageFor(m => m.Reason)
					</div>
				</div>

			</div>
		</fieldset>
	</div>

	<div class="form-group">
		<div class="col-md-offset-4">
			<button type="submit" id="submit" class="btn btn-lg btn-danger btn-save"><i class="fa fa-save"></i>保存</button>
		</div>

	</div>
</form>
<script>
	function afterSaveSuccess() {
		//如果提交则刷新页面
		if ($('#StatusKey').val() != '') {
			location.href = location.href;
		}
		else {
			loadReview('@Model.DeclareTargetPKID', '_review9999', '@typeKey')
		}
	}

	$(function () {

		ajaxSubmitForm($('#FormIndex'));

		bindMulitSelection($('#FormIndex').find('select'));
	});

</script>