@{ 
	var pageTitle = ViewBag.Title = "申报填写";
}
<div class="col-md-10 content-wrapper">
	@*<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-gear"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
			</ul>
		</div>
	</div>*@

	<!-- main -->
	<div class="content">
		@*<div class="main-header">
			<h2><i class="fa fa-home"></i> @pageTitle</h2>
			<em>申报填写</em>
		</div>*@

		<div class="main-content">

			<!-- WIDGET TABBED CONTENT -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
						<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
					</div>
				</div>
				<div class="widget-content">

					<div class="alert alert-info alert-dismissable">
						<a href="" class="close">&times;</a>
						<strong>提示！</strong> 可以逐级展开或点选左侧材料填写项目树的节点，进行指定项目的申报内容填写。
					</div>

				</div>
			</div>
			<!-- END WIDGET TABBED CONTENT -->


		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>
@section Css{
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
}
@section Modals {
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}
@section Plugins{
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
@Scripts.Render("~/js/jstree")
}
@section Scripts {
	<script>
		var lastNode;
		function loadTreeFrag(cond) {
			var param;
			if (cond) { param = cond; }
			else { param = { key: lastNode.id}; }
			$.get('/DeclareMaterial/Fragment', param, function (data, status) {
				$('.main-content').html(data);
			})
		}

		$(function () {

			var $treeviewApp = $('#treeview-declare');

			$treeviewApp.jstree({
				'core': {
					'data': {
						'url': '/Json/GetDecalreMaterial?userId=@Html.GetUserProfile().UserId'
					},
					'check_callback': true,
				},
				'plugins': ['contextmenu', 'types'],
				'types': {
					'root': {
						'icon': 'fa fa-desktop'
					},
					'default': {
						'icon': 'fa fa-folder yellow-font'
					},
					'database': {
						'icon': 'fa fa-database yellow-font'
					},
					'table': {
						'icon': 'fa fa-table green-font'
					},
					'view': {
						'icon': 'fa fa-search text-primary'
					},
					'procedure': {
						'icon': 'fa fa-play-circle green-font'
					},
					'key': {
						'icon': 'fa fa-key text-primary'
					},
					'folder': {
						'icon': 'fa fa-folder yellow-font'
					},
					'content': {
						'icon': 'fa fa-pencil-square-o text-primary'
					},
					'active': {
						'icon': 'fa fa-table green-font'
					},
				}

			}).on('loaded.jstree', function () {
				$treeviewApp.jstree('open_all');
				//treeviewApp.jstree('open_node', '#root');
			}).on('changed.jstree', function (e, data) {

				lastNode = data.instance.get_node(data.selected);
				loadTreeFrag();
			})

			$treeviewApp.parent().parent().show();

		});


		function loadReview(declareTargetId, view, typeKey) {
			$.get('@Url.Action("ReviewEdit", "DeclareMaterial")', { DeclareTargetId: declareTargetId, View: view, TypeKey: typeKey }, function (html) {
				$('#tab0').html(html);
				bindDeclareSubmit();
			});
		}

		function loadProfile(declareTargetId, view, typeKey) {
			$.get('@Url.Action("BasicProfileEdit", "DeclareMaterial")', { DeclareTargetId: declareTargetId, View: view, TypeKey: typeKey }, function (html) {
				$('#tab1').html(html);
				// 由于高地和基地主持人没有review 页面 所以需绑定提交事件
				if (declareTargetId == '@DeclareTargetIds.GaodLisz' || declareTargetId == '@DeclareTargetIds.JidZhucr') {
					bindDeclareSubmit();
				}
			});
		}

		function loadItems(declareTargetId, view, typeKey) {
			$.get('@Url.Action("Items", "DeclareMaterial")', { DeclareTargetId: declareTargetId, View: view, TypeKey: typeKey }, function (html) {
				$('.items').append(html);
			});
		}

		function bindDeclareOrCancel() {
			$('.btn-declare,.btn-cancelDeclare').on('click', function (e) {
				e.preventDefault();

				var $this = $(this);
				var url = $this.data('url');

				$.post(url, null, function (data, status) {
					popupMessage(data, {
						success: function () {
							loadFrag($this, data);
						}
					});
				})
			});
		}

		function bindDeclareSubmit() {
			$('#declareSubmit').off('click').on('click',function () {
				if (confirm('确定要提交报表，提交后将无法选择和填写当前或其他称号的申报表单，只能够预览和打印表单！')) {
					if ($('#CompanyId').val() == "0") {
						popupMessage({ result: 'error', msg: '必须选择申报单位' });
						return false;
					}
					if ($('#DeclareSubjectPKID').val() == "0") {
						popupMessage({ result: 'error', msg: '必须选择申报学科' });
						return false;
					}

					$('#StatusKey').val('@DeclareKeys.ReviewProcess');
					$('#submit').trigger('click');
				}
			});
		}

		function refreshDeclareItems(declareTargetid, view) {
			$.get('@Url.Action("Items", "DeclareMaterial")?declareTargetId=' + declareTargetid + '&view=' + view, function (html) {
				var tempTabId = '#tab1';
				var currentTabId = $('.nav').find('.active > a').attr('href');

				$('#tab2,#tab3,#tab4').remove();
				$('.items').append(html);
				$('a[href="' + tempTabId + '"]').tab('show');
				$('a[href="' + currentTabId + '"]').tab('show'); // TODO: refresh tab
			});
		}

		function bindMulitSelection(dropdown) {
			$(dropdown).select2({
				language: {
					noResults: function (param) {
						return "暂无数据";
					}
				}
			});
		}
	</script>
}