@model DeclarePreviewViewModel
@{
	var gongkk = Model.DeclareActies.FindAll(da => da.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk);
	var jiaoxPingb = Model.DeclareActies.FindAll(da => da.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb);
	var jianxJiaosPingx = Model.DeclareActies.FindAll(at => at.ActiveKey == DeclareKeys.Qit_JianxJiaosPingx);
	var jianxJiaosDasHuoj = Model.DeclareActies.FindAll(at => at.ActiveKey == DeclareKeys.Qit_JianxJiaosDasHuoj);
}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="generator" content="Aspose.Words for .NET 15.1.0.0" />
	<title></title>
</head>
<body>
	<div>
		<p style="margin:7.8pt 0pt 0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:7.8pt 0pt 0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:18pt; font-weight:bold">虹口区教育系统2019—2021学年教师人才梯队</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:26pt; font-weight:bold">教学新秀</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:42pt; font-weight:bold">申报表</span>
		</p>
		<p style="margin:0pt; text-align:justify">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<table cellspacing="0" cellpadding="10" style="border-collapse:collapse; margin:auto">
			<tr>
				<td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:157.65pt">
					<p style="margin:0pt; orphans:0; text-align:right; widows:0">
						<span style="font-family:黑体; font-size:14pt">姓名</span>
						<span style="font-family:黑体; font-size:14pt">：</span>
					</p>
				</td>
				<td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:38.8pt">
					<p style="margin:0pt; orphans:0; text-align:justify; widows:0">
						<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
					</p>
				</td>
				<td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:166.4pt">
					<p style="margin:0pt; orphans:0; widows:0">
						<span style="font-family:黑体; font-size:14pt">@Model.ReviewTeacherName</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:157.65pt">
					<p style="margin:0pt; orphans:0; text-align:right; widows:0">
						<span style="font-family:黑体; font-size:14pt">单位</span>
						<span style="font-family:黑体; font-size:14pt">：</span>
					</p>
				</td>
				<td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:38.8pt">
					<p style="margin:0pt; orphans:0; text-align:justify; widows:0">
						<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
					</p>
				</td>
				<td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:196.4pt">
					<p style="margin:0pt; orphans:0; widows:0">
						<span style="font-family:黑体; font-size:14pt">@Model.DeclareCompany</span>
					</p>
				</td>
			</tr>
			<tr>
				<td style="padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:157.65pt">
					<p style="margin:0pt; orphans:0; text-align:right; widows:0">
						<span style="font-family:黑体; font-size:14pt">学科</span>
						<span style="font-family:黑体; font-size:14pt">：</span>
					</p>
				</td>
				<td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:38.8pt">
					<p style="margin:0pt; orphans:0; text-align:justify; widows:0">
						<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
					</p>
				</td>
				<td style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:166.4pt">
					<p style="margin:0pt; orphans:0; widows:0">
						<span style="font-family:黑体; font-size:14pt">@Model.DeclareSubject</span>
					</p>
				</td>
			</tr>
		</table>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">&#xa0;</span>
		</p>
		<p style="margin:0pt; text-align:center">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; text-align:center">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; text-align:justify">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; text-align:justify">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; text-align:justify">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; text-align:justify">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt; font-weight:normal">虹口区教育党工委</span>
		</p>
		<p style="margin:0pt; text-align:justify">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt">虹口区教育局</span>
		</p>
		<p style="margin:0pt; text-align:justify">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; text-align:center; widows:0">
			<span style="font-family:黑体; font-size:14pt; font-weight:normal">2019年3月</span>
			<br style="page-break-before:always; clear:both" />
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<p style="margin:0pt; orphans:0; widows:0">
			<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
		</p>
		<table cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:auto; width:485.5pt">
			<tr style="height:42.65pt">
				<td colspan="27" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:433.95pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">基 本 情 况</span>
					</p>
				</td>
			</tr>
			<tr style="height:42.5pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">姓 名</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:102.6pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.ProfileTeacherName</span>
					</p>
				</td>
				<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:30pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">性 别</span>
					</p>
				</td>
				<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:29pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Gender</span>
					</p>
				</td>
				<td colspan="4" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:53.2pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">出生年月</span>
					</p>
				</td>
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:83.75pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Birthday</span>
					</p>
				</td>
			</tr>
			<tr style="height:42.5pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">单 位</span>
					</p>
				</td>
				<td colspan="22" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:338.75pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Company</span>
					</p>
				</td>
			</tr>
			<tr style="height:42.3pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">政治面貌</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:102.6pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Plitics</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:66.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">民 族</span>
					</p>
				</td>
				<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:147.75pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Nation</span>
					</p>
				</td>
			</tr>
			<tr style="height:42.9pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">最高</span>
						<span style="font-family:宋体; font-size:12pt">学历学位</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:102.6pt">
					<p style="margin:0pt; text-align:center; text-indent:1.45pt">
						<span style="font-family:宋体; font-size:12pt">@Model.EduBg</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:66.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">职 务</span>
					</p>
				</td>
				<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:147.75pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.RankTitle</span>
					</p>
				</td>
			</tr>
			<tr style="height:42.8pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">职 称</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:102.6pt">
					<p style="line-height:16pt; margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.SkillTitle</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:66.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">评聘日期</span>
					</p>
				</td>
				<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:147.75pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Hiredate</span>
					</p>
				</td>
			</tr>
			<tr style="height:40.4pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">现任教学段学科</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:102.6pt">
					<p style="line-height:16pt; margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Subject</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:66.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">周课时数</span>
					</p>
				</td>
				<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:147.75pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.CourseCount</span>
					</p>
				</td>
			</tr>
			<tr style="height:44pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">师训编号</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:102.6pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.TrainNo</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:66.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">手 机</span>
					</p>
				</td>
				<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:147.75pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Mobile</span>
					</p>
				</td>
			</tr>
			<tr style="height:42.5pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">办公室电话</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:102.6pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Phone</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:66.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">邮 箱</span>
					</p>
				</td>
				<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:147.75pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">@Model.Email</span>
					</p>
				</td>
			</tr>
			<tr style="height:120.65pt">
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:84.4pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">市“双名工程”</span>
					</p>
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">上一轮人才梯队任职情况</span>
					</p>
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt">（</span>
						<span style="font-family:宋体; font-size:12pt">填“</span>
						<span style="font-family:Arial; font-size:12pt">√</span>
						<span style="font-family:宋体; font-size:12pt">”</span>
						<span style="font-family:宋体; font-size:12pt">表示</span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
				</td>
				<td colspan="22" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:338.75pt">
				
					<p style="margin:0pt; text-align:justify">
			
						<span style="font-family:宋体; font-size:12pt">“种子计划”成员</span>
						<span style="font-family:宋体; font-size:12pt">（</span>
						<span style="font-family:宋体; font-size:12pt">@(Model.Is500 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">上一轮是教学新秀</span>
						<span style="font-family:宋体; font-size:12pt">（</span>
						<span style="font-family:宋体; font-size:12pt">@(Model.Is5008 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
					
				</td>
			</tr>
			<tr style="height:56.85pt">
				<td colspan="27" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:433.95pt">
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">说明：1.原梯队人员，需填写表格，申报材料可在平台内“查看资料”中寻找相应的原有材料提交。具体对应材料见表中提示。</span>
					</p>
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold"></span>
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">2.新申报人员，需填写表格并上传提交相应材料。</span>
					</p>
				</td>
			</tr>
			<tr style="height:34.95pt">
				<td colspan="2" rowspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:28.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">校内</span>
					</p>
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">履职</span>
					</p>
				</td>
				<td colspan="25" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:394.35pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">近三年“年度考核”情况</span>
					</p>
				</td>
			</tr>
			<tr style="height:35.4pt">
				<td colspan="25" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:394.35pt">
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">2016学年（@Model.FirstYearScore ） 2017学年（@Model.SecondYearScore） 2018学年（ @Model.ThirdYearScore）</span>
					</p>
				</td>
			</tr>
			<tr style="height:35.55pt">
				<td colspan="2" rowspan="4" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:28.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">教育教学</span>
					</p>
				</td>
				<td colspan="25" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:394.35pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">近三年校级及以上“公开课”情况</span>
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">（最多填两项）</span>
					</p>
				</td>
			</tr>
			<tr style="height:35.55pt">
				<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
					<p style="margin:0pt; orphans:0; text-align:center;">
						<span style="font-family:宋体; font-size:10.5pt">时间</span>
					</p>
				</td>
				<td colspan="4" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.8pt">
					<p style="margin:0pt; orphans:0; padding-left:6pt; text-align:center; text-indent:-6pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">地点</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:24.75pt">
					<p style="margin:0pt; orphans:0; text-align:center; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">班级</span>
					</p>
				</td>
				<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:146.65pt">
					<p style="margin:0pt; orphans:0; text-align:center; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">课题/内容</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:38.85pt">
					<p style="margin:0pt; orphans:0; text-align:center; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">级别</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
					<p style="margin:0pt; orphans:0; text-align:center; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">组织单位、部门</span>
					</p>
				</td>
			</tr>
			@for (int i = 0; i < 2; i++)
			{
				var item = i >= gongkk.Count ? null : gongkk[i];
				if (item != null)
				{
					<tr style="height:30.85pt">
						<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Date.ToString("yyyy-MM-dd")</span>
							</p>
						</td>
						<td colspan="4" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.8pt">
							<p style="margin:0pt; orphans:0; padding-left:6pt; text-align:center; text-indent:-6pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Location</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:24.75pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Dynamic1</span>
							</p>
						</td>
						<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:146.65pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.ContentValue</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:38.85pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Level</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Dynamic2</span>
							</p>
						</td>
					</tr>
				}
				else
				{
					<tr style="height:28.4pt">
						<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="4" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.8pt">
							<p style="margin:0pt; orphans:0; padding-left:6pt; text-align:center; text-indent:-6pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:24.75pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:146.65pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:38.85pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
					</tr>
				}
			}
			<tr style="height:35.2pt">
				<td colspan="2" rowspan="4" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:28.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">教育教学评比</span>
					</p>
				</td>
				<td colspan="25" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:394.35pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">近三年区级及以上“课堂教学评比或其他教育评比”情况</span>
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">（最多填两项）</span>
					</p>
				</td>
			</tr>
			<tr style="height:35.7pt">
				<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
					<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">时间</span>
					</p>
				</td>
				<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:45.9pt">
					<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">地点、年级班级</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:145.05pt">
					<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">内容</span>
					</p>
				</td>
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:61.9pt">
					<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">奖项名称、等第</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:10.5pt">组织单位、部门</span>
					</p>
				</td>
			</tr>
			@for (int i = 0; i < 2; i++)
			{
				var item = i >= jiaoxPingb.Count ? null : jiaoxPingb[i];
				if (item != null)
				{
					<tr style="height:28.1pt">
						<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Date.ToString("yyyy-MM-dd")</span>
							</p>
						</td>
						<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:45.9pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Location</span>
							</p>
						</td>
						<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:145.05pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.ContentValue</span>
							</p>
						</td>
						<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:61.9pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">	
								<span style="font-family:宋体; font-size:10.5pt">@item.Level</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
							<p style="margin:0pt; text-align:center">
								<span style="font-family:宋体; font-size:10.5pt">@item.Dynamic1</span>
							</p>
						</td>
					</tr>
				}
				else
				{
					<tr style="height:28.1pt">
						<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:45.9pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:145.05pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:61.9pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
							<p style="margin:0pt; text-align:center">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
					</tr>
				}
			}

			<tr style="height:35.55pt">
				<td colspan="2" rowspan="4" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:28.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">优秀学员评选</span>
					</p>
				</td>
				<td colspan="25" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:394.35pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">“见习教师规范化培训优秀学员评选”情况</span>
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">（最多填两项）</span>
					</p>
				</td>
			</tr>
			<tr style="height:35.55pt">
				<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
					<p style="margin:0pt; orphans:0; text-align:center;">
						<span style="font-family:宋体; font-size:10.5pt">时间</span>
					</p>
				</td>
				<td colspan="7" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.8pt">
					<p style="margin:0pt; orphans:0; padding-left:6pt; text-align:center; text-indent:-6pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">级别</span>
					</p>
				</td>
				<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:24.75pt">
					<p style="margin:0pt; orphans:0; text-align:center; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">奖项名称</span>
					</p>
				</td>
				<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:146.65pt">
					<p style="margin:0pt; orphans:0; text-align:center; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">组织单位、部门/负责人</span>
					</p>
				</td>
			</tr>
			@for (int i = 0; i < 2; i++)
			{
				var item = i >= jianxJiaosPingx.Count ? null : jianxJiaosPingx[i];
				if (item != null)
				{
					<tr style="height:30.85pt">
						<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
							<p style="margin:0pt; orphans:0; text-align:center;">
								<span style="font-family:宋体; font-size:10.5pt">@item.Date.ToString("yyyy-MM-dd")</span>
							</p>
						</td>
						<td colspan="7" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.8pt">
							<p style="margin:0pt; orphans:0; padding-left:6pt; text-align:center; text-indent:-6pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Level</span>
							</p>
						</td>
						<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:24.75pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.ContentValue</span>
							</p>
						</td>
						<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:146.65pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Dynamic1</span>
							</p>
						</td>
					</tr>
				}
				else
				{
					<tr style="height:28.4pt">
						<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
							<p style="margin:0pt; orphans:0; text-align:center;">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="7" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.8pt">
							<p style="margin:0pt; orphans:0; padding-left:6pt; text-align:center; text-indent:-6pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:24.75pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="10" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:146.65pt">
							<p style="margin:0pt; orphans:0; text-align:center; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
					</tr>
				}
			}

			<tr style="height:35.2pt">
				<td colspan="2" rowspan="4" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:28.8pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">见习教师比赛</span>
					</p>
				</td>
				<td colspan="25" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:394.35pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">市、区“见习教师大奖赛获奖”情况</span>
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">（最多填两项）</span>
					</p>
				</td>
			</tr>
			<tr style="height:35.7pt">
				<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
					<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">时间</span>
					</p>
				</td>
				<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:45.9pt">
					<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">级别</span>
					</p>
				</td>
				<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:145.05pt">
					<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">奖项名称</span>
					</p>
				</td>
				<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:61.9pt">
					<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">奖项等第</span>
					</p>
				</td>
				<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:10.5pt">织单位、部门/负责人</span>
					</p>
				</td>
			</tr>
			@for (int i = 0; i < 2; i++)
			{
				var item = i >= jianxJiaosDasHuoj.Count ? null : jianxJiaosDasHuoj[i];
				if (item != null)
				{
					<tr style="height:28.1pt">
						<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Date.ToString("yyyy-MM-dd")</span>
							</p>
						</td>
						<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:45.9pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Level</span>
							</p>
						</td>
						<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:145.05pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.ContentValue</span>
							</p>
						</td>
						<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:61.9pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">@item.Dynamic1</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
							<p style="margin:0pt; text-align:center">
								<span style="font-family:宋体; font-size:10.5pt">@item.Dynamic2</span>
							</p>
						</td>
					</tr>
				}
				else
				{
					<tr style="height:28.1pt">
						<td colspan="2" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:31.1pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="6" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:45.9pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="9" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:145.05pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="5" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:61.9pt">
							<p style="margin:0pt; orphans:0; text-align:center; text-indent:2pt; widows:0">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
						<td colspan="3" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:67.2pt">
							<p style="margin:0pt; text-align:center">
								<span style="font-family:宋体; font-size:10.5pt">&#xa0;</span>
							</p>
						</td>
					</tr>
				}
			}
			<tr style="height:37.1pt">
				<td colspan="27" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:middle; width:433.95pt">
					<p style="margin:0pt; text-align:center">
						<span style="font-family:宋体; font-size:14pt; font-weight:bold">申报理由</span>
					</p>
				</td>
			</tr>
			<tr style="height:760pt">
				<td colspan="27" style=" border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:433.95pt">
					<p style="margin:0pt 30pt 0pt 0pt">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">专业发展自我陈述</span>
						<span style="font-family:宋体; font-size:12pt;">（包括：本人教育理念、实践探索、教书育人成效等 500字左右）</span>
					</p>
					<p style="margin-bottom:10px">&nbsp;</p>

					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">&nbsp;&nbsp; @Model.Reason</span>
					</p>

					<p style="line-height:22pt; margin:0pt; orphans:0; text-align:right; widows:0">
						<span style="font-family:仿宋; font-size:10.5pt">（可附页）</span>
					</p>
				</td>
			</tr>
			<tr style="height:95.8pt">
				<td colspan="27" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:433.95pt">
					<p style="line-height:18pt; margin:0pt; orphans:0; text-indent:21pt; widows:0">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
					</p>
					<p style="line-height:18pt; margin:0pt; orphans:0; text-indent:21pt; widows:0">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">本人承诺以上提交的材料内容真实、有效。</span>
					</p>
					<p style="line-height:18pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt; font-weight:bold">&#xa0;</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-align:center; widows:0">
						<span style="font-family:宋体; font-size:12pt">本人</span>
						<span style="font-family:宋体; font-size:12pt">签名：</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-indent:267.75pt; widows:0">
						<span style="font-family:宋体; font-size:12pt; font-weight:normal">年&nbsp;&nbsp;</span>
						<span style="font-family:宋体; font-size:12pt; font-weight:normal"></span>
						<span style="font-family:宋体; font-size:12pt; font-weight:normal">月&nbsp;&nbsp;</span>
						<span style="font-family:宋体; font-size:12pt; font-weight:normal"></span>
						<span style="font-family:宋体; font-size:12pt; font-weight:normal">日</span>
					</p>
				</td>
			</tr>
			<tr style="height:141.2pt">
				<td colspan="27" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:433.95pt">
					<p style="line-height:22pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">所在单位意见</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-indent:21pt; widows:0">
						<span style="font-family:宋体; font-size:12pt">我单位同意推荐&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span style="font-family:宋体; font-size:12pt; text-decoration:underline"></span>
						<span style="font-family:宋体; font-size:12pt">同志申报虹教系统2019-2021学年教师人才梯队</span>
						<span style="font-family:宋体; font-size:12pt; text-decoration:underline"></span>
						<span style="font-family:宋体; font-size:12pt; text-decoration:underline"></span>
						<span style="font-family:宋体; font-size:12pt; text-decoration:underline"></span>
						<span style="font-family:宋体; font-size:12pt">，并愿意承担有关人力、财力和物力等方面的相应义务。</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">&#xa0;</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-indent:179.75pt;widows:0">
						<span style="font-family:宋体; font-size:12pt">签</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">名：</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-align:justify; text-indent:178.5pt; widows:0">
						<span style="font-family:宋体; font-size:12pt">单位盖章：</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-align:justify; text-indent:267.75pt; widows:0">
						<span style="font-family:宋体; font-size:12pt">年&nbsp;&nbsp;</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">月&nbsp;&nbsp;</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">日</span>
					</p>
				</td>
			</tr>
			<tr style="height:105.55pt">
				<td colspan="27" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:433.95pt">
					<p style="line-height:22pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">专家组评审意见</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">&#xa0;</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">&#xa0;</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-indent:179.75pt; widows:0">
						<span style="font-family:宋体; font-size:12pt">专家签名：</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-align:justify; text-indent:267.75pt; widows:0">
						<span style="font-family:宋体; font-size:12pt">年&nbsp;&nbsp; 月&nbsp;&nbsp; 日</span>
					</p>
				</td>
			</tr>
			<tr style="height:121.95pt">
				<td colspan="27" style="border-bottom-color:#000000; border-bottom-style:solid; border-bottom-width:0.75pt; border-left-color:#000000; border-left-style:solid; border-left-width:0.75pt; border-right-color:#000000; border-right-style:solid; border-right-width:0.75pt; border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.03pt; padding-right:5.03pt; vertical-align:top; width:433.95pt">
					<p style="line-height:22pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">领导小组审核意见</span>
					</p>
					<p style="line-height:18pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">&#xa0;</span>
					</p>
					<p style="line-height:18pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">&#xa0;</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; widows:0">
						<span style="font-family:宋体; font-size:12pt">&#xa0;</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-align:justify; text-indent:179.75pt; widows:0">
						<span style="font-family:宋体; font-size:12pt">单位盖章：</span>
					</p>
					<p style="line-height:22pt; margin:0pt; orphans:0; text-align:justify; text-indent:267.75pt; widows:0">
						<span style="font-family:宋体; font-size:12pt">年&nbsp;&nbsp;</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">月&nbsp;&nbsp;</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">日</span>
					</p>
				</td>
			</tr>
			<tr style="height:11.65pt">
				<td colspan="27" style="border-top-color:#000000; border-top-style:solid; border-top-width:0.75pt; padding-left:5.4pt; padding-right:5.4pt; vertical-align:top; width:433.95pt">
					<p style="margin:0pt; orphans:0; text-align:justify; widows:0">
						<span style="font-family:宋体; font-size:10.5pt">注：本表格一式三份，由单位审核、盖章、上交。</span>
					</p>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>