@{
	Layout = "~/Views/Shared/_overView.cshtml";
	var DeclareContent = ViewBag.DeclareContent as List<DeclareContent>;
	var DeclareResume = ViewBag.DeclareResume as List<DeclareResume>;
	var DeclareActive = ViewBag.DeclareActive as List<DeclareActive>;
	var DeclareAchievement = ViewBag.DeclareAchievement as List<DeclareAchievement>;
	var DeclareOrgConst = ViewBag.DeclareOrgConst as List<DeclareOrgConst>;
	var DeclareBase = ViewBag.DeclareBase as DeclareBase;
	var TeamContent = ViewBag.TeamContent as List<TeamContent>;
	var TeamMember = ViewBag.TeamMember as List<TeamMemberModel>;
	var TeamActive = ViewBag.TeamActive as Dictionary<long, TeamActiveViewModel>;
	var TeamSpecialCourse = ViewBag.TeamSpecialCourse as Dictionary<long, TeamSpecialCourseModel>;
	var MemberDaList = ViewBag.MemberDaList as List<DeclareActiveDataModel>;
	var MemberDacList = ViewBag.MemberDacList as List<DeclareAchievementDataModel>;
	var proxy = "_proxy";
	var Result = "_Result";
	var Info = "_Info";
	var Item = "_Item";
	var targetId = DeclareBase.DeclareTargetPKID;
	var userId = DeclareBase.TeacherId;
	var realName = DeclareBase.RealName;
	var pageTitle = ViewBag.Title = realName + "的申报材料";
}
<div class="col-md-2 left-sidebar">

</div>
<!-- left sidebar -->
<div class="col-md-2 left-sidebar left-sidebar-fixed">
	<!-- main-nav -->
	<nav class="main-nav">
		<ul class="main-menu">
			<li>
				<a href="javascript:;">
					<i class="fa fa-book fa-fw"></i>
					<span class="text">查看申报材料</span>
				</a>
			</li>
			<!-- WIDGET ACTIVITY FEED -->
			<div class="widget widget-treeview">
				<div class="widget-content">
					<div id="treeview-declare"></div>
				</div>
			</div>
		</ul>
	</nav>
	<!-- /main-nav -->

	<div class="sidebar-minified js-toggle-minified">
		<i class="fa fa-angle-left"></i>
	</div>
</div>
<!-- /left sidebar -->

<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-home"></i> @pageTitle</h2>
			<em>查看个人申报材料</em>
		</div>
		<!-- main-content -->
		<div class="main-content declare-overview">

			<!-- 个人成就 -->
			<a id="@DeclareKeys.ZisFaz_GerChengj@proxy"></a>
			<a id="@DeclareKeys.ZisFaz@proxy"></a>
			<h3>个人成就</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td class="height-100">
							<strong>研究成果</strong>
							<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerChengj_Memo1)</p>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>曾经获得荣誉奖项</strong>
							<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerChengj_Memo2)</p>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>之后获得研究成果</strong>
							<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerChengj_Memo3)</p>
						</td>
					</tr>
				</tbody>
			</table>
		
			
				<!-- 个人简历  -->
			<a id="@DeclareKeys.ZisFaz_GerJianl@proxy"></a>
			<h3>个人简历</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th>起讫日期</th>
						<th>单位</th>
						<th>职称、职务</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareResume)
					{
						<tr>
							<td>@item.DateRegion</td>
							<td>@item.Company</td>
							<td>@item.Title</td>
						</tr>
					}
				</tbody>
			</table>
	

			@if (targetId != DeclareTargetIds.GaodLisz && targetId != DeclareTargetIds.JidZhucr)
			{
				<!-- 个人SWOT分析 -->
				<a id="@DeclareKeys.ZisFaz_GerSWOT@proxy"></a>
				<h3>个人SWOT分析</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						<tr>
							<td rowspan="4" class="width-p-10"><strong>自身特长、优势</strong></td>
							<td class="height-100 width-p-40">
								<strong>课堂教学类</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Goodness1)
								</p>

							</td>
							<td rowspan="4" class="width-p-10"><strong>自身不足、劣势</strong></td>
							<td class="height-100 width-p-40">
								<strong>课堂教学类</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Weakness1)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>科研类</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Goodness2)
								</p>
							</td>
							<td class="height-100">
								<strong>科研类</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Weakness2)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>技能类</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Goodness3)
								</p>

							</td>
							<td class="height-100">
								<strong>技能类</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Weakness3)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>个性及其他</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Goodness4)
								</p>
							</td>
							<td class="height-100">
								<strong>个性及其他</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Weakness4)
								</p>
							</td>
						</tr>
						<tr>
							<td rowspan="3" class="width-p-10"><strong>外部环境提供的机遇</strong></td>
							<td class="height-100">
								<strong>教研组</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Opportunity1)
								</p>
							</td>
							<td rowspan="3" class="width-p-10"><strong>外部环境带来的威胁</strong></td>
							<td class="height-100">
								<strong>教研组</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Challenge1)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>学校内部环境</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Opportunity2)
								</p>
							</td>
							<td class="height-100">
								<strong>学校内部环境</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Challenge2)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>政策制度</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Opportunity3)
								</p>
							</td>
							<td class="height-100">
								<strong>政策制度</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_Challenge3)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100" colspan="4">
								<strong>改进措施:</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_GerSWOT_GaijCuos)
								</p>
							</td>
						</tr>
					</tbody>
				</table>


				<!-- 自我发展计划 -->
				<a id="@DeclareKeys.ZisFaz_ZiwFazJih@proxy"></a>
				<h3>自我发展计划</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						<tr>
							<td rowspan="4" class="width-p-10"><strong>专业发展目标</strong></td>
							<td class="height-100" colspan="2">
								<strong>总体目标</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_ZhuanyeFazMub_Memo1)
								</p>
							</td>
						</tr>
						<tr>
							<td rowspan="3" class="width-p-10"><strong>阶段目标</strong></td>
							<td class="height-100">
								<strong>第一年目标</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JiedMub_Memo1)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>第二年目标</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JiedMub_Memo2)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>第三年目标</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JiedMub_Memo3)
								</p>
							</td>
						</tr>
						<tr>
							<td rowspan="8"><strong>具体计划</strong></td>
							<td rowspan="4" class="width-p-10"><strong>专业能力方面</strong></td>
							<td class="height-100">
								<strong>教学</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JutJih_ZhuanyNenglFangm_Memo1)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>科研</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JutJih_ZhuanyNenglFangm_Memo2)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>培训教师</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JutJih_ZhuanyNenglFangm_Memo3)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>项目任务</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JutJih_ZhuanyNenglFangm_Memo4)
								</p>
							</td>
						</tr>
						<tr>
							<td rowspan="4" class="width-p-10"><strong>素养方面</strong></td>
							<td class="height-100">
								<strong>知识</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JutJih_XuyFangm_Memo1)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>技能</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JutJih_XuyFangm_Memo2)
								</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>其他</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.ZisFaz_ZiwFazJih_JutJih_XuyFangm_Memo3)
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			}


			<!-- 自我研修 -->
			<a id="@DeclareKeys.ZisFaz_ZiwYanx@proxy"></a>
			<h3>自我研修</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th>研究内容(读书书名、撰稿题目或其他具体内容)</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_ZiwYanx))
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Location</td>
							<td><p class="text-p-2">@item.ContentValue</p></td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_ZiwYanx })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			<!-- 开设教学公开课 -->
			<a id="@DeclareKeys.ZisFaz_ZhansKec@proxy"></a>
			<a id="@DeclareKeys.ZisFaz_JiaoxHuod@proxy"></a>
			<a id="@DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk@proxy"></a>
			<h3>开设教学公开课</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">年级班级</th>
						<th>课程内容</th>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">组织单位、部门</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk))
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Location</td>
							<td>@item.Dynamic1</td>
							<td><p class="text-p-2">@item.ContentValue</p></td>
							<td>@item.Level</td>
							<td>@item.Dynamic2</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxGongkk })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			<!-- 开设研讨课 -->
			<a id="@DeclareKeys.ZisFaz_JiaoxHuod_Yantk@proxy"></a>
			<h3>开设研讨课</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">年级班级</th>
						<th>课程内容</th>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">组织部门、负责人</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_Yantk))
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Location</td>
							<td>@item.Dynamic1</td>
							<td><p class="text-p-2">@item.ContentValue</p></td>
							<td>@item.Level</td>
							<td>@item.Dynamic2</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_Yantk })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			<!-- 参加教学评比 -->
			<a id="@DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb@proxy"></a>
			<h3>参加教育教学评比</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点、年级班级</th>
						<th>课程内容</th>
						<th class="width-p-10">奖项名称、等第</th>
						<th class="width-p-10">组织单位、部门</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb))
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Location</td>
							<td><p class="text-p-2">@item.ContentValue</p></td>
							<td>@item.Level</td>
							<td>@item.Dynamic1</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxPingb })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<!-- 学术活动 -->
			<a id="@DeclareKeys.ZisFaz_XuesHuod@proxy"></a>
			<h3>学术活动</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">类型</th>
						<th class="width-p-10">级别</th>
						<th>工作内容</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-15">组织单位、部门/负责人</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_XuesHuod))
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Location</td>
							<td>@PicklistHelper.XuesHuodType.GetName(item.Dynamic9)</td>
							<td>@item.Level</td>
							<td><p class="text-p-2">@item.ContentValue</p></td>
							<td>@item.Dynamic1</td>
							<td>@item.Dynamic2</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_XuesHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<!-- 开设教师培训课程 -->
			<a id="@DeclareKeys.ZisFaz_PeixJiangz@proxy"></a>
			<a id="@DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec@proxy"></a>
			<h3>开设教师培训课程</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">课程开设时间</th>
						<th>课程名称</th>
						<th class="width-p-10">参加人数</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec))
					{
						<tr>
							<td>@item.Dynamic2</td>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.ContentValue</td>
							<td>@item.Dynamic1</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_PeixJiangz_JiaosPeixKec })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			<!-- 开设学科类专题讲座 -->
			<a id="@DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz@proxy"></a>
			<h3>开设学科类专题讲座</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th>讲座主题</th>
						<th class="width-p-10">级别/范围</th>
						<th class="width-p-10">组织单位、部门</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz))
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Location</td>
							<td><p class="text-p-2">@item.ContentValue</p></td>
							<td>@item.Level</td>
							<td>@item.Dynamic1</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_PeixJiangz_ZhuantJiangz })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			@if (DeclareTargetIds.AllowKecShis(targetId))
			{
				<!-- 开设定向性课程 -->
				<a id="@DeclareKeys.ZisFaz_PeixJiangz_DingxxKec@proxy"></a>
				<h3>开设定向性课程</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-10">时间</th>
							<th class="width-p-10">地点</th>
							<th>讲座主题</th>
							<th class="width-p-10">负责人</th>
							<th class="width-p-10">参加对象</th>
							<th class="width120">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_DingxxKec))
						{
							<tr>
								<td>@item.Date.ToString("yyyy-MM-dd")</td>
								<td>@item.Location</td>
								<td><p class="text-p-2">@item.ContentValue</p></td>
								<td>@item.Dynamic1</td>
								<td>@item.Dynamic2</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_PeixJiangz_DingxxKec })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			
			@if (DeclareTargetIds.AllowKecZiy(targetId))
			{
				<!-- 课程资源开发 -->
				<a id="@DeclareKeys.ZisFaz_PeixJiangz_KecZiyKaif@proxy"></a>
				<h3>课程资源开发</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-10">时间</th>
							<th class="width-p=10">级别</th>
							<th class="width-p-10">类型</th>
							<th class="width-p-10">地点</th>
							<th>主题/内容</th>
							<th class="width-p-10">参加对象</th>
							<th class="width-p-15">合作单位、部门/负责人</th>
							<th class="width120">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_KecZiyKaif))
						{
							<tr>
								<td>@item.Date.ToString("yyyy-MM-dd")</td>
								<td>@item.Level</td>
								<td>@PicklistHelper.TesHuodKaizType.GetName(item.Dynamic9)</td>
								<td>@item.Location</td>
								<td><p class="text-p-2">@item.ContentValue</p></td>
								<td>@item.Dynamic1</td>
								<td>@item.Dynamic2</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_PeixJiangz_KecZiyKaif })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}

			<!-- 开展课题(项目)研究工作 -->
			<a id="@DeclareKeys.ZisFaz_KeyChengg@proxy"></a>
			<a id="@DeclareKeys.ZisFaz_KeyChengg_KetYanj@proxy"></a>
			<h3>开展课题(项目)研究工作</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">类型</th>
						<th class="width-p-10">主持或参与</th>
						<th>课题(项目)名称</th>
						<th class="width-p-10">负责人</th>
						<th class="width-p-10">立项、结束时间</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareAchievement.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_KetYanj))
					{
						<tr>
							<td>@item.Level</td>
							<td>@PicklistHelper.Dynamic6.GetName(item.Dynamic6)</td>
							<td>
								@if (item.Dynamic1.ToUpper() == "TRUE")
								{
									<span>主持</span>
								}
								else
								{
									<span>参与</span>
								}
							</td>
							<td>@item.NameOrTitle</td>
							<td>@item.Dynamic2</td>
							<td>@item.DateRegion</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_KetYanj })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			<!-- 论文发表 -->
			<a id="@DeclareKeys.ZisFaz_KeyChengg_FabLunw@proxy"></a>
			<h3>论文发表</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">发表时间</th>
						<th>论文名称</th>
						<th class="width-p-10">作者名次</th>
						<th class="width-p-10">刊物名称</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareAchievement.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_FabLunw))
					{
						<tr>
							<td>@item.Level</td>
							<td>
								@item.Date
								@*@if (item.Dynamic1.ToUpper() == "TRUE")
								{
									<span>主持</span>
								}
								else
								{
									<span>参与</span>
								}*@
							</td>
							<td>@item.NameOrTitle</td>
							<td>@item.Dynamic2</td>
							<td>@item.Dynamic1</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_FabLunw })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			<!-- 论著情况 -->
			<a id="@DeclareKeys.ZisFaz_KeyChengg_LunzQingk@proxy"></a>
			<h3>论著情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">出版时间</th>
						<th>著作名称</th>
						<th class="width-p-10">出版社</th>
						<th class="width-p-10">是否独立完成</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareAchievement.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_LunzQingk))
					{
						<tr>
							<td>@item.Date</td>
							<td>@item.NameOrTitle</td>
							<td>@item.Dynamic1</td>
							<td>
								@if (item.Dynamic2.ToUpper() == "TRUE")
								{
									<span>独立完成</span>
								}
								else
								{
									<span>合作完成</span>
								}
							</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_LunzQingk })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			<!-- 自身发展.市、区级大活动 -->
			<a id="@DeclareKeys.ZisFaz_ShiqjHuod@proxy"></a>
			<h3>自身发展.市、区级大活动</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th>主题/内容</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-15">组织单位、部门/负责人</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_ShiqjHuod))
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Location</td>
							<td><p class="text-p-2">@item.ContentValue</p></td>
							<td>@item.Dynamic1</td>
							<td>@item.Dynamic2</td>
							<td>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_ShiqjHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			@if (targetId == DeclareTargetIds.GaodLisz || targetId == DeclareTargetIds.JidZhucr || targetId == DeclareTargetIds.GongzsZhucr)
			{
				<a id="@DeclareKeys.ZhidJians@proxy"></a>

				if (targetId != DeclareTargetIds.GongzsZhucr)
				{
					<!-- 有影响力的工作 -->
					<a id="@DeclareKeys.ZhidJians_YingxlDeGongz@proxy"></a>
					<h3>有影响力的工作</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">地点</th>
								<th>主题/内容</th>
								<th class="width-p-10">组织单位/负责人</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZhidJians_YingxlDeGongz))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Location</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>@item.Dynamic1</td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZhidJians_YingxlDeGongz })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				}


				<!-- 特色活动开展 -->
				<a id="@DeclareKeys.ZhidJians_TesHuodKaiz@proxy"></a>
				<h3>特色活动开展</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-10">时间</th>
							<th class="width-p=10">级别</th>
							<th class="width-p-10">类型</th>
							<th class="width-p-10">地点</th>
							<th>主题/内容</th>
							<th class="width-p-10">参加对象</th>
							<th class="width-p-15">合作单位、部门/负责人</th>
							<th class="width120">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.ZhidJians_TesHuodKaiz))
						{
							<tr>
								<td>@item.Date.ToString("yyyy-MM-dd")</td>
								<td>@item.Level</td>
								<td>@PicklistHelper.TesHuodKaizType.GetName(item.Dynamic9)</td>
								<td>@item.Location</td>
								<td><p class="text-p-2">@item.ContentValue</p></td>
								<td>@item.Dynamic1</td>
								<td>@item.Dynamic2</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZhidJians_TesHuodKaiz })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>


				<!-- 档案建设 -->
				<a id="@DeclareKeys.ZhidJians_DangaJians@proxy"></a>
				<h3>档案建设</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-40">内容</th>
							<th class="width-p-30">开展情况</th>
							<th class="width-p-30">备注</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in DeclareOrgConst)
						{
							<tr class="height-100">
								<td>
									<p class="text-p-2">
										@item.Content
									</p>
								</td>
								<td>
									<p class="text-p-2">@item.Work</p>
								</td>
								<td>
									<p class="text-p-2">@item.Remark</p>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}
			

			@if (DeclareBase.AllowFlowToSchool)
			{

				<a id="@DeclareKeys.QunLiud@proxy"></a>

				if (targetId == DeclareTargetIds.XuekDaitr)
				{
					<!-- 学科带头人.流入学校 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr@proxy"></a>
					<a id="@DeclareKeys.QunLiud_XuekDaitr_LiurXuex@proxy"></a>
					<h3>流入学校</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<tbody>
							<tr>
								<td>
									<strong>学校名称</strong>
									<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_XuekDaitr_LiurXuex_XuexMingc)</p>
								</td>
							</tr>
							<tr>
								<td>
									<strong>教研组长</strong>
									<p class="text-p-2">
										@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_XuekDaitr_LiurXuex_JiaoyZuc)
									</p>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 学科带头人.上公开课 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_KetJiaox@proxy"></a>
					<a id="@DeclareKeys.QunLiud_XuekDaitr_KetJiaox_Gongkk@proxy"></a>
					<h3>上公开课</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">年级班级</th>
								<th>课题/内容</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_XuekDaitr_KetJiaox_Gongkk))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Dynamic1</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td> 
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_XuekDaitr_KetJiaox_Gongkk })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>

					<!-- 学科带头人.公开汇报课 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_KetJiaox_GongkHuibk@proxy"></a>
					<h3>公开汇报课</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">年级班级</th>
								<th class="width-p-10">上课地点</th>
								<th>课题/内容</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_XuekDaitr_KetJiaox_GongkHuibk))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Dynamic1</td>
									<td>@item.Location</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_XuekDaitr_KetJiaox_GongkHuibk })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


					<!-- 学科带头人.接受教师听随堂课 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_KetJiaox_Suitk@proxy"></a>
					<h3>接受教师听随堂课</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">年级班级</th>
								<th class="width-p-10">地点</th>
								<th>课题/内容</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_XuekDaitr_KetJiaox_Suitk))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Dynamic1</td>
									<td>@item.Location</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_XuekDaitr_KetJiaox_Suitk })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


					<!-- 学科带头人.开展听课指导 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_KetJiaox_TingKZhid@proxy"></a>
					<h3>开展听课指导</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">年级班级</th>
								<th class="width-p-10">上课教师</th>
								<th>课题/内容</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_XuekDaitr_KetJiaox_TingKZhid))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Dynamic1</td>
									<td>@item.Dynamic2</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_XuekDaitr_KetJiaox_TingKZhid })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


					<!-- 学科带头人.开设专题讲座 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_JiaoyKey@proxy"></a>
					<a id="@DeclareKeys.QunLiud_XuekDaitr_JiaoyKey_ZhuantJiangz@proxy"></a>
					<h3>开设专题讲座</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">参加对象</th>
								<th class="width-p-10">地点</th>
								<th>主题/内容</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_XuekDaitr_JiaoyKey_ZhuantJiangz))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Dynamic1</td>
									<td>@item.Location</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_XuekDaitr_JiaoyKey_ZhuantJiangz })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


					<!-- 学科带头人.主持教研活动 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_JiaoyKey_JiaoyHuod@proxy"></a>
					<h3>主持教研活动</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">地点、参加对象</th>
								<th class="width-p-10">参讲教师</th>
								<th>主题</th>
								<th class="width-p-10">活动形式</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_XuekDaitr_JiaoyKey_JiaoyHuod))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Location</td>
									<td>@item.Dynamic1</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>@item.Dynamic2</td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_XuekDaitr_JiaoyKey_JiaoyHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


					<!-- 学科带头人.参与教研组、备课组活动 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_JiaoyKey_CanyHuod@proxy"></a>
					<h3>参与教研组、备课组活动</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">地点、参加对象</th>
								<th>主讲</th>
								<th class="width-p-30">指导性意见、建议</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_XuekDaitr_JiaoyKey_CanyHuod))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Location</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td><p class="text-p-2">@item.Dynamic1</p></td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_XuekDaitr_JiaoyKey_CanyHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


					<!-- 学科带头人.阶段性总结 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_JiaoyKey_JiedxZongj@proxy"></a>
					<h3>阶段性总结</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<tbody>
							<tr>
								<td class="height-500">
									<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, @DeclareKeys.QunLiud_XuekDaitr_JiaoyKey_JiedxZongj)</p>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 学科带头人.带教对象 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_DaijPeix@proxy"></a>
					<a id="@DeclareKeys.QunLiud_XuekDaitr_DaijPeix_DaijDuix@proxy"></a>
					<h3>带教对象</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<tbody>
							<tr>
								<td>
									<strong>名称</strong>
									<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_XuekDaitr_DaijPeix_DaijDuix)</p>
								</td>
							</tr>
							<tr>
								<td>
									<strong>学科</strong>
									<p class="text-p-2">
										@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_XuekDaitr_DaijPeix_DaijXuek)
									</p>
								</td>
							</tr>
							<tr>
								<td class="height-100">
									<strong>发展分析</strong>
									<p class="text-p-2">
										@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_XuekDaitr_DaijPeix_DaijDuixFazFenx)
									</p>
								</td>
							</tr>
							<tr>
								<td class="height-100">
									<strong>方案概要</strong>
									<p class="text-p-2">
										@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_XuekDaitr_DaijPeix_DaijFangaGaiy)
									</p>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 学科带头人.带教指导记录 -->
					<a id="@DeclareKeys.QunLiud_XuekDaitr_DaijPeix_DaijZhidJil@proxy"></a>
					<h3>带教指导记录</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">地点</th>
								<th>指导内容</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_XuekDaitr_DaijPeix_DaijZhidJil))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Location</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_XuekDaitr_DaijPeix_DaijZhidJil })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


				}


				if (targetId == DeclareTargetIds.GugJiaos)
				{
					<!-- 骨干教师.流入学校 -->
					<a id="@DeclareKeys.QunLiud_GugJiaos@proxy"></a>
					<a id="@DeclareKeys.QunLiud_GugJiaos_LiurXuex@proxy"></a>
					<h3>流入学校</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<tbody>
							<tr>
								<td>
									<strong>学校名称</strong>
									<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_GugJiaos_LiurXuex_XuexMingc)</p>
								</td>
							</tr>
							<tr>
								<td>
									<strong>教研组长</strong>
									<p class="text-p-2">
										@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_GugJiaos_LiurXuex_JiaoyZuc)
									</p>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 骨干教师.任教年级班级 -->
					<a id="@DeclareKeys.QunLiud_GugJiaos_RenjNianjBanj@proxy"></a>
					<h3>任教年级班级</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<tbody>
							<tr>
								<td>
									<strong>班级</strong>
									<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_GugJiaos_RenjNianjBanj_Memo1)</p>
								</td>
							</tr>
							<tr>
								<td>
									<strong>时间段</strong>
									<p class="text-p-2">
										@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_GugJiaos_RenjNianjBanj_Memo2)
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<strong>班主任</strong>
									<p class="text-p-2">
										@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_GugJiaos_RenjNianjBanj_Memo3)
									</p>
								</td>
							</tr>
							<tr>
								<td>
									<strong>学科</strong>
									<p class="text-p-2">
										@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.QunLiud_GugJiaos_RenjNianjBanj_Memo4)
									</p>
								</td>
							</tr>
						</tbody>
					</table>


					<!-- 骨干教师.上公开课 -->
					<a id="@DeclareKeys.QunLiud_GugJiaos_Gongkk@proxy"></a>
					<h3>上公开课</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">年级班级</th>
								<th>课题/内容</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_GugJiaos_Gongkk))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Dynamic1</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_GugJiaos_Gongkk })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


					<!-- 骨干教师.开展听课指导 -->
					<a id="@DeclareKeys.QunLiud_GugJiaos_TingkZhid@proxy"></a>
					<h3>开展听课指导</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">年级班级</th>
								<th class="width-p-10">上课教师</th>
								<th>课题/内容</th>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_GugJiaos_TingkZhid))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Dynamic1</td>
									<td>@item.Dynamic2</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_GugJiaos_TingkZhid })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


					<!-- 骨干教师.主持备课组活动 -->
					<a id="@DeclareKeys.QunLiud_GugJiaos_BeikzHuod@proxy"></a>
					<h3>主持备课组活动</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<thead>
							<tr>
								<th class="width-p-10">时间</th>
								<th class="width-p-10">地点、参加对象</th>
								<th class="width-p-10">参讲教师</th>
								<th>主题</th>
								<td class="width-p-10">活动形式</td>
								<th class="width120">操作</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.QunLiud_GugJiaos_BeikzHuod))
							{
								<tr>
									<td>@item.Date.ToString("yyyy-MM-dd")</td>
									<td>@item.Location</td>
									<td>@item.Dynamic1</td>
									<td><p class="text-p-2">@item.ContentValue</p></td>
									<td>@item.Dynamic2</td>
									<td>
										<div class="btn-group btn-group-xs">
											<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.QunLiud_GugJiaos_BeikzHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>


				}
			}


			@if (DeclareBase.AllowFitResearcher)
			{
				<!-- 配合教研员工作.教研信息 -->
				<a id="@DeclareKeys.PeihJiaoyyGongz@proxy"></a>
				<a id="@DeclareKeys.PeihJiaoyyGongz_JiaoyXinx@proxy"></a>
				<h3>教研信息</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						<tr>
							<td>
								<strong>开始参与教研工作时间</strong>
								<p class="text-p-2">@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.PeihJiaoyyGongz_JiaoyXinx_Memo3)</p>
							</td>
						</tr>
						<tr>
							<td>
								<strong>教研员姓名</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.PeihJiaoyyGongz_JiaoyXinx_Memo2)
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<strong>教研学科</strong>
								<p class="text-p-2">
									@DeclareExtensions.GetDeclareContent(DeclareContent, DeclareKeys.PeihJiaoyyGongz_JiaoyXinx_Memo1)
								</p>
							</td>
						</tr>
					</tbody>
				</table>


				<!-- 配合教研员工作.学科教研 -->
				<a id="@DeclareKeys.PeihJiaoyyGongz_XuekJiaoy@proxy"></a>
				<h3>学科教研</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-10">时间</th>
							<th class="width-p-10">地点</th>
							<th>主题</th>
							<th class="width-p-10">参加对象</th>
							<th class="width120">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.PeihJiaoyyGongz_XuekJiaoy))
						{
							<tr>
								<td>@item.Date.ToString("yyyy-MM-dd")</td>
								<td>@item.Location</td>
								<td><p class="text-p-2">@item.ContentValue</p></td>
								<td>@item.Dynamic1</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.PeihJiaoyyGongz_XuekJiaoy })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>


				<!-- 配合教研员工作.学科命题 -->
				<a id="@DeclareKeys.PeihJiaoyyGongz_XuekMingt@proxy"></a>
				<h3>学科命题</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-10">时间</th>
							<th class="width-p-10">期中/期末</th>
							<th class="width-p-10">年级</th>
							<th>工作成果(试卷名称)</th>
							<th class="width-p-10">参加对象、人数</th>
							<th class="width120">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.PeihJiaoyyGongz_XuekMingt))
						{
							<tr>
								<td>@item.Date.ToString("yyyy-MM-dd")</td>
								<td>@item.Dynamic1</td>
								<td>@item.Dynamic2</td>
								<td><p class="text-p-2">@item.ContentValue</p></td>
								<td>@item.Dynamic3</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.PeihJiaoyyGongz_XuekMingt })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>


				<!-- 配合教研员工作.基层学校调研 -->
				<a id="@DeclareKeys.PeihJiaoyyGongz_JicXuexTiaoy@proxy"></a>
				<h3>基层学校调研</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-10">时间</th>
							<th class="width-p-10">调研学校</th>
							<th>调研内容</th>
							<th class="width-p-30">调研情况总结</th>
							<th class="width120">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in DeclareActive.FindAll(m => m.ActiveKey == DeclareKeys.PeihJiaoyyGongz_JicXuexTiaoy))
						{
							<tr>
								<td>@item.Date.ToString("yyyy-MM-dd")</td>
								<td>@item.Location</td>
								<td><p class="text-p-2">@item.ContentValue</p></td>
								<td><p class="text-p-2">@item.Dynamic1</p></td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.PeihJiaoyyGongz_JicXuexTiaoy })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>
			}


			<!-- 年底总结.第一年 -->
			<a id="@DeclareKeys.NiandZongj@proxy"></a>
			<a id="@DeclareKeys.NiandZongj_Diyn@proxy"></a>
			<h3>第一年</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td class="height-100">
							<p>@Html.Raw(@DeclareExtensions.GetDeclareContent(DeclareContent, @DeclareKeys.NiandZongj_Diyn))</p>
						</td>
					</tr>
				</tbody>
			</table>


			<!-- 年底总结.第二年 -->
			<a id="@DeclareKeys.NiandZongj_Dien@proxy"></a>
			<h3>第二年</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td class="height-100">
							<p>@Html.Raw(@DeclareExtensions.GetDeclareContent(DeclareContent, @DeclareKeys.NiandZongj_Dien))</p>
						</td>
					</tr>
				</tbody>
			</table>


			<!-- 年底总结.第三年 -->
			<a id="@DeclareKeys.NiandZongj_Disn@proxy"></a>
			<h3>第三年</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td class="height-100">
							<p>@Html.Raw(@DeclareExtensions.GetDeclareContent(DeclareContent, @DeclareKeys.NiandZongj_Disn))</p>
						</td>
					</tr>
				</tbody>
			</table>


			<!-- 辅导的梯队.梯队信息 -->
			@if (DeclareTargetIds.HasTeam(targetId))
			{

				<a id="@TeamKeys.FuddTid@proxy"></a>
				<a id="@TeamKeys.TidXinx@proxy"></a>
				<h3>梯队信息</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						<tr>
							<td>
								<strong>梯队名称</strong>
								<p class="text-p-2">@DeclareBase.TeamName</p>
							</td>
						</tr>
						<tr>
							<td>
								<strong>申报（担任）称号</strong>
								<p class="text-p-2">
									@DeclareBase.DeclareTarget
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<strong>申报学科</strong>
								<p class="text-p-2">
									@DeclareBase.DeclareSubject
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<strong>申报学段</strong>
								<p class="text-p-2">
									@DeclareBase.DeclareStage
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<strong>学员数量</strong>
								<p class="text-p-2">
									<a href="#@TeamKeys.TidChengy@proxy">@DeclareBase.MemberCount</a>
								</p>
							</td>
						</tr>
						<tr>
							<td>
								<strong>活动数量</strong>
								<p class="text-p-2">
									<a href="#@TeamKeys.DaijHuod@proxy">@DeclareBase.ActiveCount</a>
								</p>
							</td>
						</tr>
					</tbody>
				</table>


				<!-- 辅导的梯队.带教计划 -->
				<a id="@TeamKeys.DaijJih@proxy"></a>
				<h3>带教计划</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						<tr>
							<td class="height-100">
								<strong>培养目标</strong>
								<p class="text-p-2">@TeamExtensions.GetTeamContent(TeamContent, TeamKeys.DaijJih_Memo1)</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>带教小结</strong>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = Html.GetUserProfile().UserId, type = AttachmentsKeys.DaijJih_Memo3 })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
								<p class="text-p-2">@TeamExtensions.GetTeamContent(TeamContent, TeamKeys.DaijJih_Memo3)</p>
							</td>
						</tr>
						<tr>
							<td class="height-100">
								<strong>具体计划</strong>
								<div class="btn-group btn-group-xs">
									<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = Html.GetUserProfile().UserId, type = AttachmentsKeys.DaijJih_Memo2 })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
								<p class="text-p-2">
									@Html.Raw(TeamExtensions.GetTeamContent(TeamContent, TeamKeys.DaijJih_Memo2))
								</p>
							</td>
						</tr>
					</tbody>
				</table>


				<!-- 辅导的梯队.梯队成员 -->
				<a id="@TeamKeys.TidChengy@proxy"></a>
				<h3>梯队成员</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<thead>
						<tr>
							<th class="width-p-10">学员</th>
							<th class="width-p-10">称号</th>
							<th class="width-p-10">学科</th>
							<th class="width-p-10">学段</th>
							<th class="width-p-10">单位</th>
							<th class="width-p-40">导师建议，学习分析</th>
							<th class="width120">操作</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in TeamMember)
						{
							<tr>
								<td><a href="@Url.Action("Overview", "Declare", new { id = item.TeacherId })" target="_blank">@item.RealName</a></td>
								<td>@item.Target</td>
								<td>@item.Subject</td>
								<td>@item.Stage</td>
								<td>@item.CompanyName</td>
								<td>@item.ContentValue</td>
								<td>
									<div class="btn-group btn-group-xs">
										<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.TeacherId, type = AttachmentsKeys.XueyChengzJihFenx })" data-target="#firstModal" title="查看附件">查看附件</button>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>


				<!-- 辅导的梯队.带教活动 -->
				<a id="@TeamKeys.DaijHuod@proxy"></a>
				<h3>带教活动</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						@foreach (var item in TeamActive.Values)
						{
							<tr>
								<td>
									<div class="widget-content">
										<h4><strong>@item.Title</strong></h4>
										<ul class="nav nav-tabs nav-tabs-custom-colored" role="tablist">
											<li class="active"><a href="#@item.TeamActiveId@Info" role="tab" data-toggle="tab" aria-expanded="true">活动信息</a></li>
											<li class=""><a href="#@item.TeamActiveId@Result" role="tab" data-toggle="tab" aria-expanded="false">学员成果</a></li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane fade active in" id="@item.TeamActiveId@Info">
												<h5><strong>【@item.TypeName】</strong> @item.Date.ToString("yyyy-MM-dd")</h5> 
												<div>
													@Html.Raw(item.ContentValue)
												</div>
												<div style="margin-top: 20px;">
													<button class="btn form-padding btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.TeamActiveId, type = AttachmentsKeys.DaijHuod_Edit })" data-target="#firstModal" title="查看附件">查看附件</button>
												</div>
											</div>
											<div class="tab-pane fade" id="@item.TeamActiveId@Result">
												<table class="table table-bordered table-condensed">
													<thead>
														<tr>
															<th class="width-p-10">姓名</th>
															<th>学员成果</th>
															<th class="width120">操作</th>
														</tr>
													</thead>
													<tbody>
														@foreach (var it in item.Result)
														{
															<tr>
																<td>@it.MemberName</td>
																<td>
																	<p class="text-p-2">@it.ActiveResult</p>
																</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = it.ResultId, type = AttachmentsKeys.DaijHuod_XueyChengg })" data-target="#firstModal" title="查看附件">查看附件</button>
																	</div>
																</td>
															</tr>
														}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</td>
							</tr>
						}
					</tbody>
				</table>


				if (DeclareTargetIds.AllowKecShis(targetId))
				{
					<!-- 辅导的梯队.定向性课程实施 -->
					<a id="@TeamKeys.KecShis@proxy"></a>
					<h3>定向性课程实施</h3>
					<table class="table table-bordered no-margin table-condensed table-borderbold">
						<tbody>
							@foreach (var item in TeamSpecialCourse.Values)
							{
								<tr>
									<td>
										<div class="widget-content">
											<ul class="nav nav-tabs nav-tabs-custom-colored" role="tablist">
												<li class="active"><a href="#@item.CourseId@Info" role="tab" data-toggle="tab" aria-expanded="true">基本信息</a></li>
												<li class=""><a href="#@item.CourseId@Item" role="tab" data-toggle="tab" aria-expanded="false">安排</a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade active in" id="@item.CourseId@Info">
													<table class="table table-bordered table-condensed">
														<tbody>
															<tr>
																<td class="width-p-40">
																	<strong>课程开设开始时段:</strong>
																	<p>@item.StartDate.ToString("yyyy-MM-dd")</p>
																</td>
																<td rowspan="2">
																	<strong>
																		活动方案
																	</strong>
																	<p class="text-p-2">
																		@item.CoursePlan
																	</p>
																</td>
															</tr>
															<tr>
																<td class="width-p-40">
																	<strong>课程开设结束时段:</strong>
																	<p>@item.EndDate.ToString("yyyy-MM-dd")</p>
																</td>
															</tr>
															<tr>
																<td class="width-p-40">
																	<strong>课程主题:</strong>
																	<p class="text-p-2">@item.Title</p>
																</td>
																<td rowspan="2">
																	<strong>
																		过程记录
																	</strong>
																	<p class="text-p-2">
																		@item.CourseRecords
																	</p>
																</td>
															</tr>
															<tr>
																<td class="width-p-40">
																	<strong>参加总人数:</strong>
																	<p>@item.TotalCount</p>
																</td>
															</tr>
															<tr>
																<td class="width-p-40 height-100">
																	<strong>课程目标:</strong>
																	<p class="text-p-2">@item.CourseTarget</p>
																</td>
																<td>
																	<strong>
																		活动总结
																	</strong>
																	<p class="text-p-2">
																		@item.CourseSummary
																	</p>
																</td>
															</tr>
															<tr>
																<td class="width-p-40">
																	<strong>团队学员数:</strong>
																	<p>@item.MemberCount</p>
																</td>
																<td rowspan="2">
																	<strong>
																		备注
																	</strong>
																	<p class="text-p-2">
																		@item.Remark
																	</p>
																</td>
															</tr>
															<tr>
																<td class="width-p-40">
																	<strong>非团队成员参加对象（若有至少需写出1—5人姓名/单位）:</strong>
																	<p class="text-p-2">@item.MemberRecord</p>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div class="tab-pane fade" id="@item.CourseId@Item">
													<table class="table table-bordered table-condensed">
														<thead>
															<tr>
																<th class="width-p-20">标题</th>
																<th class="width-p-10">具体时间</th>
																<th class="width-p-10">地点</th>
																<th class="width-p-10">活动形式</th>
																<th class="width-p-10">主讲人</th>
																<th class="width-p-10">备注</th>
																<th>内容</th>
															</tr>
														</thead>
														<tbody>
															@foreach (var it in item.Item)
															{
																<tr>
																	<td>@it.Title</td>
																	<td>@it.ItemDate.ToString("yyyy-MM-dd")</td>
																	<td>@it.Location</td>
																	<td>@it.ActivityType</td>
																	<td>@it.Speaker</td>
																	<td>@it.Remark</td>
																	<td>@Html.Raw(it.Content)</td>
																</tr>
															}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</td>

								</tr>
							}
						</tbody>
					</table>
				}

				<a id="@TeamKeys.DaijChengg@proxy"></a>
				<h3>带教成果</h3>
				<table class="table table-bordered no-margin table-condensed table-borderbold">
					<tbody>
						<tr>
							<td>
								<div class="widget-content">
									<ul class="nav nav-tabs nav-tabs-custom-colored" role="tablist">
										@{ var i = 0;}
										@foreach (var item in TeamMember.OrderBy(m => m.TeacherId))
										{
											if (i == 0)
											{
												<li class="active"><a href="#@item.TeacherId" role="tab" data-toggle="tab" aria-expanded="true">@item.RealName</a></li>
											}
											else
											{
												<li class=""><a href="#@item.TeacherId" role="tab" data-toggle="tab" aria-expanded="true">@item.RealName</a></li>
											}
											i++;
										}
									</ul>
									<div class="tab-content">

										@{ var j = 0; var tmClass = "active in"; }
										@foreach (var it in TeamMember.OrderBy(m => m.TeacherId))
										{
											if (j != 0)
											{
												tmClass = "";
											}
											j++;
											<div class="tab-pane fade @tmClass" id="@it.TeacherId">
												<h3>开设教学公开课</h3>
												<table class="table table-bordered no-margin table-condensed table-borderbold">
													<thead>
														<tr>
															<th class="width-p-10">时间</th>
															<th class="width-p-10">地点</th>
															<th class="width-p-10">年级班级</th>
															<th>课程内容</th>
															<th class="width-p-10">级别</th>
															<th class="width-p-10">组织单位、部门</th>
															<th class="width120">操作</th>
														</tr>
													</thead>
													<tbody>
														@foreach (var item in MemberDaList.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk && m.TeacherId == it.TeacherId))
														{
															<tr>
																<td>@item.Date.ToString("yyyy-MM-dd")</td>
																<td>@item.Location</td>
																<td>@item.Dynamic1</td>
																<td><p class="text-p-2">@item.ContentValue</p></td>
																<td>@item.Level</td>
																<td>@item.Dynamic2</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxGongkk })" data-target="#firstModal" title="查看附件">查看附件</button>
																	</div>
																</td>
															</tr>
														}
													</tbody>
												</table>
												<h3>开设研讨课</h3>
												<table class="table table-bordered no-margin table-condensed table-borderbold">
													<thead>
														<tr>
															<th class="width-p-10">时间</th>
															<th class="width-p-10">地点</th>
															<th class="width-p-10">年级班级</th>
															<th>课程内容</th>
															<th class="width-p-10">级别</th>
															<th class="width-p-10">组织部门、负责人</th>
															<th class="width120">操作</th>
														</tr>
													</thead>
													<tbody>
														@foreach (var item in MemberDaList.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_Yantk && m.TeacherId == it.TeacherId))
														{
															<tr>
																<td>@item.Date.ToString("yyyy-MM-dd")</td>
																<td>@item.Location</td>
																<td>@item.Dynamic1</td>
																<td><p class="text-p-2">@item.ContentValue</p></td>
																<td>@item.Level</td>
																<td>@item.Dynamic2</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_Yantk })" data-target="#firstModal" title="查看附件">查看附件</button>
																	</div>
																</td>
															</tr>
														}
													</tbody>
												</table>
												<h3>参加教学评比</h3>
												<table class="table table-bordered no-margin table-condensed table-borderbold">
													<thead>
														<tr>
															<th class="width-p-10">时间</th>
															<th class="width-p-10">地点、年级班级</th>
															<th>课程内容</th>
															<th class="width-p-10">奖项名称、等第</th>
															<th class="width-p-10">组织单位、部门</th>
															<th class="width120">操作</th>
														</tr>
													</thead>
													<tbody>
														@foreach (var item in MemberDaList.FindAll(m => m.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb && m.TeacherId == it.TeacherId))
														{
															<tr>
																<td>@item.Date.ToString("yyyy-MM-dd")</td>
																<td>@item.Location</td>
																<td><p class="text-p-2">@item.ContentValue</p></td>
																<td>@item.Level</td>
																<td>@item.Dynamic1</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxPingb })" data-target="#firstModal" title="查看附件">查看附件</button>
																	</div>
																</td>
															</tr>
														}
													</tbody>
												</table>
												<h3>开展课题(项目)研究工作</h3>
												<table class="table table-bordered no-margin table-condensed table-borderbold">
													<thead>
														<tr>
															<th class="width-p-10">级别</th>
															<th class="width-p-10">类型</th>
															<th class="width-p-10">主持或参与</th>
															<th>课题(项目)名称</th>
															<th class="width-p-10">负责人</th>
															<th class="width-p-10">立项、结束时间</th>
															<th class="width120">操作</th>
														</tr>
													</thead>
													<tbody>
														@foreach (var item in MemberDacList.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_KetYanj && m.TeacherId == it.TeacherId))
														{
															<tr>
																<td>@item.Level</td>
																<td>@PicklistHelper.Dynamic6.GetName(item.Dynamic6)</td>
																<td>
																	@if (item.Dynamic1.ToUpper() == "TRUE")
																	{
																		<span>主持</span>			}
																	else
																	{
																		<span>参与</span>			}
																</td>
																<td>@item.NameOrTitle</td>
																<td>@item.Dynamic2</td>
																<td>@item.DateRegion</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_KetYanj })" data-target="#firstModal" title="查看附件">查看附件</button>
																	</div>
																</td>
															</tr>
														}
													</tbody>
												</table>
												<h3>论文发表</h3>
												<table class="table table-bordered no-margin table-condensed table-borderbold">
													<thead>
														<tr>
															<th class="width-p-10">级别</th>
															<th class="width-p-10">发表时间</th>
															<th>论文名称</th>
															<th class="width-p-10">作者名次</th>
															<th class="width-p-10">刊物名称</th>
															<th class="width120">操作</th>
														</tr>
													</thead>
													<tbody>
														@foreach (var item in MemberDacList.FindAll(m => m.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_FabLunw && m.TeacherId == it.TeacherId))
														{
															<tr>
																<td>@item.Level</td>
																<td>
																	@item.Date
																</td>
																<td>@item.NameOrTitle</td>
																<td>@item.Dynamic2</td>
																<td>@item.Dynamic1</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<button class="btn btn-danger btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_FabLunw })" data-target="#firstModal" title="查看附件">查看附件</button>
																	</div>
																</td>
															</tr>
														}
													</tbody>
												</table>
											</div>
										}
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			}
		</div>

		<!-- /main-content -->
		<a class="btn btn-md btn-custom-primary hidden" id="aProxy" href="#">代理</a>
	</div>
	<!-- /main -->

</div>

@section Modals {
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}

@section Plugins{
	@Scripts.Render("~/js/jstree")
}

@section Scripts{
	<script>
		$(function () {

			var $treeviewApp = $('#treeview-declare');

			$('#aProxy').attr('href', '#proxy');

			$treeviewApp.jstree({
				'core': {
					'data': {
						'url': '/Json/GetViewMenu?userId=' + @userId
						},
					'check_callback': true,
				},
				'plugins': ['contextmenu', 'types'],
				'types': {
					'root': {
						'icon': 'fa fa-desktop'
					},
					'default': {
						'icon': 'fa fa-folder yellow-font'
					},
					'database': {
						'icon': 'fa fa-database yellow-font'
					},
					'table': {
						'icon': 'fa fa-table green-font'
					},
					'view': {
						'icon': 'fa fa-search text-primary'
					},
					'procedure': {
						'icon': 'fa fa-play-circle green-font'
					},
					'key': {
						'icon': 'fa fa-key text-primary'
					},
					'folder': {
						'icon': 'fa fa-folder yellow-font'
					},
					'content': {
						'icon': 'fa fa-pencil-square-o text-primary'
					},
					'active': {
						'icon': 'fa fa-table green-font'
					},
				}

			}).on('loaded.jstree', function (e, data) {
				$treeviewApp.jstree('open_all');
				//$treeviewApp.jstree('open_node', '#root');
			}).on('changed.jstree', function (e, data) {
				$('#aProxy').attr('href', '#' + data.selected + '@proxy');
				$('#aProxy')[0].click();
			})
		})
	</script>	
}



