@model DeclarePreviewViewModel
@{
		Layout = Model.IsPartialView ? "" : "~/Views/Shared/_overView.cshtml";
	var activeItems = Model.DeclareActies as List<DeclareActive>;
	var archievement = Model.DeclareAchievements as List<DeclareAchievement>;
	var gongkKe = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk);
	var jiaoxPingb = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb);
	var xuekMingt = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.PeihJiaoyyGongz_XuekMingt);
	var pingbHuoj = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_XuesHuod);
	var fahZuoy = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.JiaoyJiaox_JiaoyHuod_FahZuoy);
	var ketYanjGongz = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_KetYanj);
	var fabLunw = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_FabLunw);
	var peixKec = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec);
	var jiangz = activeItems.FindAll(at => at.ActiveKey == DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz);
	var lunzQingk = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.ZisFaz_KeyChengg_LunzQingk);
	var qitShenf = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.GerTes_QitShenf);
	var xueyChengz = archievement.FindAll(ac => ac.AchievementKey == DeclareKeys.GerTes_XueyChengz);
	var declareTargetId = Model.DeclareTargetId;
	var proxy = "_proxy";
}
@if (!Model.IsPartialView)
{
	<div class="col-md-2 left-sidebar">
	</div>
		<!-- left sidebar -->
	<div class="col-md-2 left-sidebar left-sidebar-fixed">
			<!-- main-nav -->
			<nav class="main-nav">
				<ul class="main-menu">
					<li>
						<a href="javascript:;">
							<i class="fa fa-book fa-fw"></i>
							<span class="text">查看申报材料</span>
						</a>
					</li>
					<!-- WIDGET ACTIVITY FEED -->
					<div class="widget widget-treeview">
						<div class="widget-content">
							<div id="treeview-declare"></div>
						</div>
					</div>
				</ul>
			</nav>
			<!-- /main-nav -->
			<div class="sidebar-minified js-toggle-minified">
				<i class="fa fa-angle-left"></i>
			</div>
		</div>
}

<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-home"></i>学科工作室主持人 申报表</h2>
			<em>查看申报材料</em>
		</div>
		<!-- main-content -->
		<div class="main-content declare-overview">

			<a id="@DeclareKeys.ShenbQingk@proxy"></a>
			<h3>申报情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th>申报称号</th>
						<th>姓名</th>
						<th>申报单位</th>
						<th>申报学科</th>
						<th>是否职称破格</th>
						<th>是否愿意参与区内流动</th>
						<th>如落选是否愿意参加本轮区骨干教师评选</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>学科工作室主持人</td>
						<td>@Model.RealName</td>
						<td>@Model.DeclareCompany</td>
						<td>@Model.DeclareSubject</td>
						<td>@(Model.IsBrokRoles? "是":"否")</td>
						<td>@(Model.IsAllowdFlow ? "是" : "否")</td>
						<td>@(Model.IsAllowDownGrade ? "是" : "否")</td>
					</tr>

				</tbody>
			</table>

			<a id="@DeclareKeys.ShenbLiy@proxy"></a>
			<h3>申报理由</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td>@Model.Reason</td>
					</tr>
				</tbody>
			</table>

			<!-- 个人基本情况 -->
			<a id="@DeclareKeys.GerJibQingk@proxy"></a>
			<h3>个人基本情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td class="height-100">
							<strong>姓 名</strong>
						</td>
						<td class="height-100">
							<strong>@Model.RealName</strong>
						</td>
						<td class="height-100">
							<strong>民 族</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Nation</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>性 别</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Gender</strong>
						</td>
						<td class="height-100">
							<strong>任教学段学科</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Subject</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>单 位</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Company</strong>
						</td>
						<td class="height-100">
							<strong>出生年月</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Birthday</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>现任专技职称</strong>
						</td>
						<td class="height-100">
							<strong>@Model.SkillTitle</strong>
						</td>
						<td class="height-100">
							<strong>师训编号</strong>
						</td>
						<td class="height-100">
							<strong>@Model.TrainNo</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>行政职务</strong>
						</td>
						<td class="height-100">
							<strong>@Model.RankTitle</strong>
						</td>
						<td class="height-100">
							<strong>政治面貌</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Plitics</strong>
						</td>
					</tr>
					<tr>				
						<td class="height-100">
							<strong>评聘日期</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Hiredate</strong>
						</td>
						<td class="height-100">
							<strong>周课时数</strong>
						</td>
						<td class="height-100">
							<strong>@Model.CourseCount</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>手机号码</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Mobile</strong>
						</td>
						<td class="height-100">
							<strong>学历学位</strong>
						</td>
						<td class="height-100">
							<strong>@Model.EduBg</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>办公室电话</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Phone</strong>
						</td>
						<td class="height-100">
							<strong>电子邮箱</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Email</strong>
						</td>
					</tr>
				</tbody>
			</table>
		
			
				<!-- 校内履职-近三年考核情况  -->
			<a id="@DeclareKeys.SannKaohQingk@proxy"></a>
			<h3>校内履职-近三年考核情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th>第一年</th>
						<th>第二年</th>
						<th>第三年</th>
					</tr>
				</thead>
				<tbody>

						<tr>
							<td>@Model.FirstYearScore</td>
							<td>@Model.SecondYearScore</td>
							<td>@Model.ThirdYearScore</td>
						</tr>
	
				</tbody>
			</table>

			<a id="@DeclareKeys.ShangyRenTidQingk@proxy"></a>
			<h3>市“双名工程”上一轮人才梯队任职情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					@*<tr>
						<th>任职情况</th>
					</tr>*@
				</thead>
				<tbody>
					<tr>
						<td>	<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">“攻关计划”成员（</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">@(Model.Is1000 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
					<p style="margin:0pt; text-align:justify">
			
						<span style="font-family:宋体; font-size:12pt">“种子计划”领衔人</span>
						<span style="font-family:宋体; font-size:12pt">（</span>
						<span style="font-family:宋体; font-size:12pt">@(Model.Is2000 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">上一轮是学科培训工作室主持人</span>
						<span style="font-family:宋体; font-size:12pt">（@(Model.Is5004 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">上一轮是学科带头人</span>
						<span style="font-family:宋体; font-size:12pt">（</span>
						<span style="font-family:宋体; font-size:12pt">@(Model.Is5005 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt"></span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">上一轮是骨干教师</span>
						<span style="font-family:宋体; font-size:12pt">（@(Model.Is5006 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">上一轮是教学能手</span>
						<span style="font-family:宋体; font-size:12pt">（@(Model.Is5007 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p>
					<p style="margin:0pt; text-align:justify">
						<span style="font-family:宋体; font-size:12pt">高端教师研修班学员</span>
						<span style="font-family:宋体; font-size:12pt">（@(Model.Is6000 ? "√" : "")</span>
						<span style="font-family:宋体; font-size:12pt">）</span>
					</p></td>
					</tr>

				</tbody>
			</table>

			<a id="@DeclareKeys.ZhuanyWeiyHuiQingk@proxy"></a>
			<h3>目前在市级及以上专业委员会任职情况（名称、职务）</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				@*<thead>
					<tr>
						<th>任职情况</th>
					</tr>
				</thead>*@
				<tbody>
					<tr>
						<td>@Model.Comment1</td>
					</tr>

				</tbody>
			</table>

			<a id="@DeclareKeys.ZisFaz_JiaoxHuod_JiaoxGongkk@proxy"></a>
			<h3>近三年 “公开课”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">班级</th>
						<th>课题/内容</th>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">组织单位、部门</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in gongkKe)
					{
						<tr>
							<td>
								@item.Date.ToString("yyyy-MM-dd")
							</td>
							<td>
								@item.Location
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								@item.ContentValue
							</td>
							<td>
								@item.Level
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxGongkk })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.ZisFaz_JiaoxHuod_JiaoyJiaoxPingb@proxy"></a>
			<h3>近三年区级及以上“课堂教学评比或其他教育评比”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">年级</th>
						<th>工作内容</th>
						<th class="width-p-10">奖项名称、等第</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in jiaoxPingb)
					{
						<tr>
							<td>
								@item.Date.ToString("yyyy-MM-dd")
							</td>
							<td>
								@item.Location
							</td>
							<td>
								@item.ContentValue
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxPingb })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.PeihJiaoyyGongz_XuekMingt@proxy"></a>
			<h3>近三年区级及以上“命题工作”（除幼教、特教外）情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">年级</th>
						<th class="width-p-10">级别</th>
						<th>工作内容</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-10">组织单位、部门/负责人</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in xuekMingt)
					{
						<tr>
							<td>
								@item.Date.ToString("yyyy-MM-dd")
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								@item.Level
							</td>
							<td>
								@item.ContentValue
							</td>
							<td>
								@item.Dynamic3
							</td>
							<td>
								-
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.PeihJiaoyyGongz_XuekMingt })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.ZisFaz_PingwGongzHuoPbiHuoj@proxy"></a>
			<h3>教育教学-评委工作或评比获奖</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">类型</th>
						<th class="width-p-10">级别</th>
						<th>工作内容</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-10">组织单位、部门/负责人</th>
						<th class="width120">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in pingbHuoj)
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Location</td>
							<td>@PicklistHelper.XuesHuodType.GetName(item.Dynamic9)</td>
							<td>@item.Level</td>
							<td>@item.ContentValue</td>
							<td>@item.Dynamic1</td>
							<td>@item.Dynamic2</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_XuesHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.JiaoyJiaox_JiaoyHuod_FahZuoy@proxy"></a>
			<h3>近三年在市、区“教研活动发挥作用”（幼教、特教填写）情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th class="width-p-10">级别</th>
						<th>工作内容</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-10">组织单位、部门</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in fahZuoy)
					{
						<tr>
							<td>
								@item.Date.ToString("yyyy-MM-dd")
							</td>
							<td>
								@item.Location
							</td>
							<td>
								@item.Level
							</td>
							<td>
								@item.ContentValue
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.Shenb_JiaoyHuod_FahZuoy })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.ZisFaz_KeyChengg_KetYanj@proxy"></a>
			<h3>近三年区级及以上“课题、项目”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">类型</th>
						<th class="width-p-10">主持或参与</th>
						<th>课题、项目名称</th>
						<th class="width-p-10">负责人</th>
						<th class="width-p-10">立项、结束时间</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in ketYanjGongz)
					{
						<tr>
							<td>
								@item.Level
							</td>
							<td>
								@PicklistHelper.Dynamic6.GetName(@item.Dynamic6)
							</td>
							<td>
								@(item.Dynamic1 == "True" ? "是" : "否")
							</td>
							<td>
								@item.NameOrTitle
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								@item.DateRegion
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_KetYanj })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.ZisFaz_KeyChengg_FabLunw@proxy"></a>
			<h3>近三年“发表论文”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">发表时间</th>
						<th>论文名称</th>
						<th class="width-p-10">作者名次</th>
						<th class="width-p-10">刊物名称</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in fabLunw)
					{
						<tr>
							<td>
								@item.Level
							</td>
							<td>
								@item.Date
							</td>
							<td>
								@item.NameOrTitle
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_FabLunw  })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.ZisFaz_PeixJiangz_JiaosPeixKec@proxy"></a>
			<h3>近三年开设校级及以上“教师培训课程”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">级别</th>
						<th class="width-p-10">课程开设时间</th>
						<th>课程名称</th>
						<th class="width-p-10">参加人数</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in peixKec)
					{
						<tr>
							<td>
								@item.Dynamic2
							</td>
							<td>
								@item.Date.ToString("yyyy-MM-dd")
							</td>
							<td>
								@item.ContentValue
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_KeyChengg_FabLunw  })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.ZisFaz_PeixJiangz_ZhuantJiangz@proxy"></a>
			<h3>近三年校级及以上“学术讲座”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">地点</th>
						<th>讲座主题</th>
						<th class="width-p-10">级别/范围</th>
						<th class="width-p-10">组织单位、部门</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in jiangz)
					{
						<tr>
							<td>
								@item.Date.ToString("yyyy-MM-dd")
							</td>
							<td>
								@item.Location
							</td>
							<td>
								@item.ContentValue
							</td>
							<td>
								@item.Level
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_PeixJiangz_ZhuantJiangz  })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.ZisFaz_KeyChengg_LunzQingk@proxy"></a>
			<h3>近三年正式出版“论著”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">出版时间</th>
						<th>著作名称</th>
						<th class="width-p-10">出版社</th>
						<th class="width-p-10">是否独立完成</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in lunzQingk)
					{
						<tr>
							<td>
								@item.Date
							</td>
							<td>
								@item.NameOrTitle
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								@(item.Dynamic2 == "True" ? "是" : "否")
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.ZisFaz_KeyChengg_LunzQingk  })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.GerTes_QitShenf@proxy"></a>
			<h3>近三年“其他身份”（与申报学科相关）情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">起止时间</th>
						<th>身份名称</th>
						<th class="width-p-10">工作内容</th>
						<th class="width-p-10">赋予身份的单位部门</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in qitShenf)
					{
						<tr>
							<td>
								@item.Dynamic1
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								@item.NameOrTitle
							</td>
							<td>
								@item.Dynamic3
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.GerTes_QitShenf  })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.GerTes_XueyChengz@proxy"></a>
			<h3>近三年所带“学员成长”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">学员名称</th>
						<th class="width-p-10">单位</th>
						<th>成长情况</th>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in xueyChengz)
					{
						<tr>
							<td>
								@item.Dynamic1
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								@item.NameOrTitle
							</td>
							<td>
								@item.Date
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareAchievementId, type = AttachmentsKeys.GerTes_XueyChengz  })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


		</div>

		<!-- /main-content -->	
		<a class="btn btn-md btn-custom-primary hidden" id="aProxy" href="#">代理</a>
	</div>
	<!-- /main -->

</div>

@section Modals {
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}

@section Plugins{
	@Scripts.Render("~/js/jstree")
}

@section Scripts{
	<script>
		$(function () {

			var $treeviewApp = $('#treeview-declare');

			$('#aProxy').attr('href', '#proxy');

			$treeviewApp.jstree({
				'core': {
					'data': {
							'url': '/Json/GetDeclareViewMenu?userId=' + @Html.GetUserProfile().UserId + '&typeKey=@Model.TypeKey&targetid=@Model.DeclareTargetId',
					},
					'check_callback': true,
				},
				'plugins': ['contextmenu', 'types'],
				'types': {
					'root': {
						'icon': 'fa fa-desktop'
					},
					'default': {
						'icon': 'fa fa-folder yellow-font'
					},
					'database': {
						'icon': 'fa fa-database yellow-font'
					},
					'table': {
						'icon': 'fa fa-table green-font'
					},
					'view': {
						'icon': 'fa fa-search text-primary'
					},
					'procedure': {
						'icon': 'fa fa-play-circle green-font'
					},
					'key': {
						'icon': 'fa fa-key text-primary'
					},
					'folder': {
						'icon': 'fa fa-folder yellow-font'
					},
					'content': {
						'icon': 'fa fa-pencil-square-o text-primary'
					},
					'active': {
						'icon': 'fa fa-table green-font'
					},
				}

			}).on('loaded.jstree', function (e, data) {
				$treeviewApp.jstree('open_all');

			}).on('changed.jstree', function (e, data) {
				$('#aProxy').attr('href', '#' + data.selected + '@proxy');
				$('#aProxy')[0].click();
			});

		});
	</script>

}




