@model DeclarePreviewViewModel
@{
	Layout = Model.IsPartialView ? "" : "~/Views/Shared/_overView.cshtml";
	var jiaoxPingb = Model.DeclareActies.FindAll(da => da.ActiveKey == DeclareKeys.ZisFaz_JiaoxHuod_JiaoxPingb);
	var xuekMingt = Model.DeclareActies.FindAll(da => da.ActiveKey == DeclareKeys.PeihJiaoyyGongz_XuekMingt);
	var pingbHuoj = Model.DeclareActies.FindAll(da => da.ActiveKey == DeclareKeys.ZisFaz_XuesHuod);
	var jibgong = Model.DeclareActies.FindAll(da => da.ActiveKey == DeclareKeys.Qit_JibGongZshiHuoj);
	var zonghxingryu = Model.DeclareActies.FindAll(da => da.ActiveKey == DeclareKeys.Qit_ZonghxingRongy);
	var declareTargetId = Model.DeclareTargetId;
	var proxy = "_proxy";
}
@if (!Model.IsPartialView)
{
	<div class="col-md-2 left-sidebar">
	</div>
	<!-- left sidebar -->
	<div class="col-md-2 left-sidebar left-sidebar-fixed">
		<!-- main-nav -->
		<nav class="main-nav">
			<ul class="main-menu">
				<li>
					<a href="javascript:;">
						<i class="fa fa-book fa-fw"></i>
						<span class="text">查看申报材料</span>
					</a>
				</li>
				<!-- WIDGET ACTIVITY FEED -->
				<div class="widget widget-treeview">
					<div class="widget-content">
						<div id="treeview-declare"></div>
					</div>
				</div>
			</ul>
		</nav>
		<!-- /main-nav -->
		<div class="sidebar-minified js-toggle-minified">
			<i class="fa fa-angle-left"></i>
		</div>
	</div>
	<!-- /left sidebar -->
}

<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-home"></i>教学能手 申报表</h2>
			<em>查看申报材料</em>
		</div>
		<!-- main-content -->
		<div class="main-content declare-overview">

			<a id="@DeclareKeys.ShenbQingk@proxy"></a>
			<h3>申报情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th>申报称号</th>
						<th>姓名</th>
						<th>申报单位</th>
						<th>申报学科</th>
						<th>是否职称破格</th>
						<th>是否愿意参与区内流动</th>
						<th>如落选是否愿意参加本轮区教学能手评选</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>教学能手</td>
						<td>@Model.RealName</td>
						<td>@Model.DeclareCompany</td>
						<td>@Model.DeclareSubject</td>
						<td>@(Model.IsBrokRoles? "是":"否")</td>
						<td>@(Model.IsAllowdFlow ? "是" : "否")</td>
						<td>@(Model.IsAllowDownGrade ? "是" : "否")</td>
					</tr>

				</tbody>
			</table>

			<a id="@DeclareKeys.ShenbLiy@proxy"></a>
			<h3>申报理由</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td>@Model.Reason</td>
					</tr>
				</tbody>
			</table>

			<!-- 个人基本情况 -->
			<a id="@DeclareKeys.GerJibQingk@proxy"></a>
			<h3>个人基本情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<tbody>
					<tr>
						<td class="height-100">
							<strong>姓 名</strong>
						</td>
						<td class="height-100">
							<strong>@Model.RealName</strong>
						</td>
						<td class="height-100">
							<strong>民 族</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Nation</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>性 别</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Gender</strong>
						</td>
						<td class="height-100">
							<strong>任教学段学科</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Subject</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>单 位</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Company</strong>
						</td>
						<td class="height-100">
							<strong>出生年月</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Birthday</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>现任专技职称</strong>
						</td>
						<td class="height-100">
							<strong>@Model.SkillTitle</strong>
						</td>
						<td class="height-100">
							<strong>师训编号</strong>
						</td>
						<td class="height-100">
							<strong>@Model.TrainNo</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>行政职务</strong>
						</td>
						<td class="height-100">
							<strong>@Model.RankTitle</strong>
						</td>
						<td class="height-100">
							<strong>政治面貌</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Plitics</strong>
						</td>
					</tr>
					<tr>				
						<td class="height-100">
							<strong>评聘日期</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Hiredate</strong>
						</td>
						<td class="height-100">
							<strong>周课时数</strong>
						</td>
						<td class="height-100">
							<strong>@Model.CourseCount</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>手机号码</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Mobile</strong>
						</td>
						<td class="height-100">
							<strong>学历学位</strong>
						</td>
						<td class="height-100">
							<strong>@Model.EduBg</strong>
						</td>
					</tr>
					<tr>
						<td class="height-100">
							<strong>办公室电话</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Phone</strong>
						</td>
						<td class="height-100">
							<strong>电子邮箱</strong>
						</td>
						<td class="height-100">
							<strong>@Model.Email</strong>
						</td>
					</tr>
				</tbody>
			</table>
		
			
				<!-- 校内履职-近三年考核情况  -->
			<a id="@DeclareKeys.SannKaohQingk@proxy"></a>
			<h3>校内履职-近三年考核情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th>第一年</th>
						<th>第二年</th>
						<th>第三年</th>
					</tr>
				</thead>
				<tbody>

						<tr>
							<td>@Model.FirstYearScore</td>
							<td>@Model.SecondYearScore</td>
							<td>@Model.ThirdYearScore</td>
						</tr>
	
				</tbody>
			</table>

			<a id="@DeclareKeys.ShangyRenTidQingk@proxy"></a>
			<h3>市“双名工程”上一轮人才梯队任职情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					@*<tr>
						<th>任职情况</th>
					</tr>*@
				</thead>
				<tbody>
					<tr>
						<td>
							<p style="margin:0pt; text-align:justify">
								<span style="font-family:宋体; font-size:12pt">“种子计划”成员</span>
								<span style="font-family:宋体; font-size:12pt">（</span>
								<span style="font-family:宋体; font-size:12pt">@(Model.Is500 ? "√" : "")</span>
								<span style="font-family:宋体; font-size:12pt"></span>
								<span style="font-family:宋体; font-size:12pt">）</span>
							</p>
							<p style="margin:0pt; text-align:justify">
								<span style="font-family:宋体; font-size:12pt">上一轮是教学能手</span>
								<span style="font-family:宋体; font-size:12pt">（@(Model.Is5007 ? "√" : "")</span>
								<span style="font-family:宋体; font-size:12pt">）</span>
							</p>
							<p style="margin:0pt; text-align:justify">
								<span style="font-family:宋体; font-size:12pt">上一轮是教学新秀</span>
								<span style="font-family:宋体; font-size:12pt">（</span>
								<span style="font-family:宋体; font-size:12pt">@(Model.Is5008 ? "√" : "")</span>
								<span style="font-family:宋体; font-size:12pt"></span>
								<span style="font-family:宋体; font-size:12pt">）</span>
							</p>
						</td>
					</tr>
				</tbody>
			</table>


			<a id="@DeclareKeys.ZisFaz_JiaoxHuod_JiaoyJiaoxPingb@proxy"></a>
			<h3>近三年校级及以上“教研、科研、德研比赛获奖”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">年级</th>
						<th>工作内容</th>
						<th class="width-p-10">奖项名称、等第</th>
						<th class="width-p-10">参加对象</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in jiaoxPingb)
					{
						<tr>
							<td>
								@item.Date.ToString("yyyy-MM-dd")
							</td>
							<td>
								@item.Location
							</td>
							<td>
								@item.ContentValue
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_JiaoxHuod_JiaoxPingb })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<a id="@DeclareKeys.Qit_JibGongZshiHuoj@proxy"></a>
			<h3>入职3年青年教师“三个一”基本功展示获奖情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th>奖项名称</th>
						<th class="width-p-10">奖项类别、等第</th>
						<th class="width-p-10">组织单位、部门/负责人</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in jibgong)
					{
						<tr>
							<td>
								@item.Date.ToString("yyyy-MM-dd")
							</td>
							<td>
								@item.ContentValue
							</td>
							<td>
								@item.Dynamic1
							</td>
							<td>
								@item.Dynamic2
							</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.PeihJiaoyyGongz_XuekMingt })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>


			<a id="@DeclareKeys.Qit_ZonghxingRongy@proxy"></a>
			<h3>近三年校级及以上“其它综合性荣誉”情况</h3>
			<table class="table table-bordered no-margin table-condensed table-borderbold">
				<thead>
					<tr>
						<th class="width-p-10">时间</th>
						<th class="width-p-10">级别</th>
						<th>荣誉名称</th>
						<th class="width-p-10">组织单位、部门/负责人</th>
						<th class="width-p-10">操作</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in zonghxingryu)
					{
						<tr>
							<td>@item.Date.ToString("yyyy-MM-dd")</td>
							<td>@item.Level</td>
							<td>@item.ContentValue</td>
							<td>@item.Dynamic1</td>
							<td>
								<div class="btn-group pull-right">
									<button class="btn btn-danger btn-sm btn-view" data-toggle="ajax-modal" data-url="@Url.Action("AttachmentsView", "DeclarePop", new { id = item.DeclareActiveId, type = AttachmentsKeys.ZisFaz_XuesHuod })" data-target="#firstModal" title="查看附件">查看附件</button>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>

		</div>

		<!-- /main-content -->	
		<a class="btn btn-md btn-custom-primary hidden" id="aProxy" href="#">代理</a>
	</div>
	<!-- /main -->

</div>

@section Modals {
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}

@section Plugins{
	@Scripts.Render("~/js/jstree")
}

@section Scripts{
	<script>
		$(function () {

			var $treeviewApp = $('#treeview-declare');

			$('#aProxy').attr('href', '#proxy');

			$treeviewApp.jstree({
				'core': {
					'data': {
					'url': '/Json/GetDeclareViewMenu?userId=' + @Html.GetUserProfile().UserId + '&typeKey=@Model.TypeKey&targetid=@Model.DeclareTargetId',
					},
					'check_callback': true,
				},
				'plugins': ['contextmenu', 'types'],
				'types': {
					'root': {
						'icon': 'fa fa-desktop'
					},
					'default': {
						'icon': 'fa fa-folder yellow-font'
					},
					'database': {
						'icon': 'fa fa-database yellow-font'
					},
					'table': {
						'icon': 'fa fa-table green-font'
					},
					'view': {
						'icon': 'fa fa-search text-primary'
					},
					'procedure': {
						'icon': 'fa fa-play-circle green-font'
					},
					'key': {
						'icon': 'fa fa-key text-primary'
					},
					'folder': {
						'icon': 'fa fa-folder yellow-font'
					},
					'content': {
						'icon': 'fa fa-pencil-square-o text-primary'
					},
					'active': {
						'icon': 'fa fa-table green-font'
					},
				}

			}).on('loaded.jstree', function (e, data) {
				$treeviewApp.jstree('open_all');

			}).on('changed.jstree', function (e, data) {
				$('#aProxy').attr('href', '#' + data.selected + '@proxy');
				$('#aProxy')[0].click();
			});

		});
	</script>

}




