@{
	var pageTitle = ViewBag.Title = "校评统计管理";
}
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @pageTitle</h2>
			<em></em>
		</div>

		<div class="main-content">

			<!-- widget -->
			<div class="widget">
				<div class="widget-header">
					<h3><i class="fa fa-paperclip"></i> @pageTitle</h3>
					<div class="btn-group widget-header-toolbar">
						<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
						<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
					</div>
				</div>
				<div class="widget-content">

					<!-- Condition -->
					<div class="row">
						<div class="form-horizontal">
							<div class="col-md-12">
								<div class="form-group">
									<div class="col-md-4 pull-left">
										@Html.DropDownList("period", ViewBag.Periods as IList<SelectListItem>, new { @class = "form-control periodSelect" })
									</div>
									<div class="col-md-4 pull-left">
										<select class="multiselect form-control">
											<option value="@StatisticalKeys.SchoolEval_Overview">总览</option>
											<option value="@StatisticalKeys.SchoolEval_Target">按称号分类</option>
											<option value="@StatisticalKeys.SchoolEval_Subject">按学科分类</option>
											<option value="@StatisticalKeys.SchoolEval_Stage">按学段分类</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end Condition-->

					<div class="row" id="overview">
					</div>

				</div>
				<!-- /widget content -->
			</div>
			<!-- /widget -->

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>

@section Scripts{
	<script>

		function load() {

			var periodId = $('.periodSelect').val();
			var key = $('.multiselect').val();

			$.get('@Url.Action("Fragment", "StatisticalManage")', { key: key, periodId: periodId }, function (data) {
				$('#overview').html(data);
			});

		}

		$(".multiselect,.periodSelect").on("change", function () {
			load();
		});

		load();

	</script>
}




