@{
	var up = Html.GetUserProfile();
	var declarePeriod = Html.GetDeclarePeriod();
	var isInDeclare = declarePeriod != null && declarePeriod.IsInDeclarePeriod;
}
<!-- left sidebar -->
<div class="col-md-2 left-sidebar">
	<!-- main-nav -->
	<nav class="main-nav">
		<ul class="main-menu">
			<li>
				<a href="@Url.Action("Index", "Home")">
					<i class="fa fa-home fa-fw"></i>
					<span class="text">首页</span>
				</a>
			</li>
			@if (up.IsDeclare)
			{
				if (!isInDeclare)
				{
					<li>
						<a href="@Url.Action("Index", "Declare")">
							<i class="fa fa-book fa-fw"></i>
							<span class="text">个人发展</span>
						</a>
					</li>
				}
				else
				{
					<li>
						<a href="@Url.Action("Index", "DeclareMaterial")">
							<i class="fa fa-book fa-fw"></i>
							<span class="text">教师申报</span>
						</a>
					</li>
				}

	<!-- WIDGET ACTIVITY FEED -->
				<div class="widget widget-treeview" style="display:none">
					<div class="widget-content">
						<div id="treeview-declare"></div>
					</div>
				</div>
		if (up.IsMaster & !isInDeclare)
			{
	<!-- END WIDGET ACTIVITY FEED -->
				<li>
					<a href="@Url.Action("Master", "Team")">
						<i class="fa fa-book fa-fw"></i>
						<span class="text">团队建设(主持人)</span>
					</a>
				</li>
	<!-- WIDGET ACTIVITY FEED -->
				<div class="widget widget-treeview" style="display:none">
					<div class="widget-content">
						<div id="treeview-team-master"></div>
					</div>
				</div>
	<!-- END WIDGET ACTIVITY FEED -->
					<li>
						<a href="@Url.Action("CurrentList", "TeamEval")">
							<i class="fa fa-book fa-fw"></i>
							<span class="text">团队考核</span>
						</a>
					</li>
				}
				if (up.IsMember)
				{
				<li>
					<a href="@Url.Action("Member", "Team")">
						<i class="fa fa-book fa-fw"></i>
						<span class="text">团队建设(成员)</span>
					</a>
				</li>
	<!-- WIDGET ACTIVITY FEED -->
				<div class="widget widget-treeview" style="display:none">
					<div class="widget-content">
						<div id="treeview-team-member"></div>
					</div>
				</div>
	<!-- END WIDGET ACTIVITY FEED -->
			}
			if (up.UserId == 11579 && !isInDeclare) //TODO: temp for sepical teacher 
			{
				<li>
					<a href="@Url.Action("TeamList", "TeamManage")">
						<i class="fa fa-gear fa-fw"></i>
						<span class="text">团队管理</span>
					</a>
				</li>

				<li>
					<a href="@Url.Action("FillInRecord", "StatisticalManage")">
						<i class="fa fa-gear fa-fw"></i>
						<span class="text">填报统计</span>
					</a>
				</li>
			}

			@*<li>
				<a href="@Url.Action("Overview", "Declare", new { id = up.UserId })" target="_blank">
					<i class="fa fa-external-link fa-fw"></i>
					<span class="text">查看材料</span>
				</a>
			</li>*@
			@*if (!isInDeclare)
			{
				<li>
					<a href="@Url.Action("DeclareList", "ShareManage", new {  teacherId = up.UserId })">
						<i class="fa fa-share-alt-square fa-fw"></i>
						<span class="text">共享管理</span>
					</a>
				</li>
			}*@
				}
			@if (up.IsExpert)
			{
				if (isInDeclare)
				{
					<li>
						<a href="@Url.Action("Index", "DeclareEval")">
							<i class="fa fa-gear fa-fw"></i>
							<span class="text">申报评审</span>
						</a>
					</li>
				}
				else
				{
					<li>
						<a href="@Url.Action("Index", "QualityEval")">
							<i class="fa fa-gear fa-fw"></i>
							<span class="text">专家质评</span>
						</a>
					</li>
				}
			}
		</ul>
	</nav>
	<!-- /main-nav -->

	<div class="sidebar-minified js-toggle-minified">
		<i class="fa fa-angle-left"></i>
	</div>
</div>
<!-- /left sidebar -->
