@model PeriodModel
@{
	string pageTitle = "";
	if (Model is SchoolEvalPeriodModel)
	{
		pageTitle = ViewBag.Title = "校评结果";
	}
	else if (Model is VolumnEvalPeriodModel)
	{
		pageTitle = ViewBag.Title = "量评结果";
	}
	else if (Model is QualityEvalPeriodModel)
	{
		pageTitle = ViewBag.Title = "质评结果";
	}

	var declare = ViewBag.Declare as DeclareModel;
 }
<div class="col-md-10 content-wrapper">
	<div class="row">
		<div class="col-lg-4 ">
			<ul class="breadcrumb">
				<li class="active"><i class="fa fa-home"></i><a href="@Url.Action("Index", "Home")">首页</a></li>
				<li class="active">@pageTitle</li>
			</ul>
		</div>
	</div>

	<!-- main -->
	<div class="content">
		<div class="main-header">
			<h2><i class="fa fa-gear"></i> @Model.Period.Name</h2>
			<em>@pageTitle</em>
		</div>

		@Html.Partial("../EvalUtilities/_ResultMenu", Model)

		<div class="main-content">

			<div class="row">
				<div class="col-md-3">
					
					<!-- widget -->
					<div class="widget">
						<div class="widget-header">
							<h3>基本信息</h3>
							<div class="btn-group widget-header-toolbar">
								<a href="javascript:;" title="焦点" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								<a href="javascript:;" title="全屏" class="btn-borderless btn-expand"><i class="fa fa-expand"></i></a>
							</div>
						</div>
						<div class="widget-content">

							@Html.Partial("../EvalUtilities/_DeclareInfo", Model.Declare)

						</div>
					</div>
					<!-- /widget -->

				</div>
				<div class="col-md-9">
					@if (Model.Message != null)
					{
						<div class="alert alert-info alert-dismissable">
							<a href="" class="close">&times;</a>
							<strong>提示！</strong> @Model.Message
						</div>
					}
					else if (Model is QualityEvalSubmitPeriodModel)
					{
						@Html.Partial((Model.AnalysisUnit as AnnualEngine.QualityEvalUnit).SubmitResultView, Model)
					}
					else
					{
						@Html.Partial(Model.AnalysisUnit.ResultView, Model)
					}
				</div>
			</div>

		</div>
		<!-- /main-content -->
	</div>
	<!-- /main -->
</div>

@section Modals{
	<!-- Modal start -->
	<div class="modal" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
	</div>
	<!-- Modal end -->
}

@section Scripts{

<script>
	@*var resultId = '@Request["resultId"]';
	var targetId = '@Request["targetId"]';*@

	function LoadResultView(resultId, teacherId, periodId) {
		$.post('@Url.Action("ResultView", "QualityEval")', { resultId: resultId, teacherId: teacherId, periodId: periodId }, function (data) {
			$('#evalResult').html(data);
		})
	}

	$(function () {

		$('.btn-details').click(function () {
	  		var params = $(this).attr('data-params').split(',');

	  		LoadResultView(params[0], params[1], params[2]);
	  	});

	  	//if (resultId) {
	  	//	//LoadResultView(resultId, targetId);
	  	//}
	});

</script>

	}